/* ****** common START ****** */
.wit_nor {font-weight:normal} /* strong weight를 normal로 */
.stTit {font-weight:600;font-size:36px;color:#333} /* h2 타이틀 꾸미기 */
input[type="text"], input[type="password"],  input[type="button"] {outline:none}
select {outline:none}
.fixedNone {position:relative;z-index:10}

/* side button (top버튼) */
.autoScroll_top {width:50px;height:50px;position:fixed;right:10%;bottom:40px}
.autoScroll_top a {display:block;height:100%;font-weight:bold;line-height:64px;text-align:center;border:1px solid #ccc;background:#fff url(../images/ico_arrow7.png) no-repeat 18px 13px}
/* ****** common END ****** */





/* ****** header lnb3 서브페이지 서브메뉴 ****** */
.lnb3 {height:40px;border-bottom:1px solid #e5e5e5;box-sizing:border-box;background-color:#fafafa}
.lnb3 ul {float:left;height:100%} /* 280px/960px */			
.lnb3_list {float:left;height:100%;background:url(../images/ico_arrow5.png) no-repeat 10px center}
.lnb3_list.num1 {width:40px;background:none}
.lnb3_list.num2 {width:85px;margin-right:10px;background-position:65px center}
.lnb3_list.num3 {width:145px;background-position:130px center}
.lnb3_list a {display:block;height:100%;line-height:40px;}		
.lnb3_list.num1 a {text-indent:-9999px;background:url(../images/ico_lnb3.png) no-repeat 0 center}
.lnb3_list a {font-size:14px;color:#333;background:url(../images/ico_arrow6.png) no-repeat}
.lnb3_list.num2 a {background-position:48px center}
.lnb3_list.num3 a {background-position:111px center}
.sharing {float:right;height:100%}
.sharing a {display:block;height:100%;padding-left:20px;font-size:12px;line-height:40px;color:#333;background:url(../images/ico_sharing1.png) no-repeat 0 center}





/* ****** login.css START ****** */

/* layout */
.container.login {margin:0 auto}
.sub.col1 {float:left;width:75%} /* w:720px*/
.sub.col2 {float:right;width:22%} /* w:210px */
footer {clear:both}
.login legend {display:none}

/* 로그인 title, 버튼 */
.sub_top {height:115px;}
.st {float:left;padding-top:50px}
.st.stRad {padding-top:55px}
.login .stTit {width:105px;margin-right:50px}
.log_radio {display:inline}
.log_radio a {padding:5px 10px 5px 28px;font-size:13px;line-height:35px;background:url(../images/radio1_off.png) no-repeat 0 center}
.log_radio a.on {background:url(../images/radio1_on.png) no-repeat 0 center}

/* 개인,기업,가맹점 버튼 */
.login .login_box_wrap {display:none}
.login .login_box_wrap.on {display:block}

/* 탭, 회원 박스 */
.login .login_box {position:relative;height:733px;margin-bottom:100px} /* w:720px*/
.login .log_tab {height:70px}
.login .lb_list {float:left;width:33.335%;height:100%}/* w:239.3333333333333/718px */

.login .lb_list > a {display:block;height:100%;font-weight:600;font-size:16px;line-height:69px;text-align:center;color:#fff;background-color:#6b727f}

.login .log_tab .lb_list > a.selected {height:69px;border-top:1px solid #6b727f;color:#000;background-color:#fff}
.login .lb_list.num2 > a.selected {border-left:1px solid #6b727f}
.login .lb_list.num3 > a.selected {border-right:1px solid #6b727f}
.login .lb_list.num1 > a, .login .lb_list.num2 > a {border-right:1px solid #898e99}
.login .panel {display:none;position:absolute;top:70px;left:0px;width:100%}
.login .loginBox_wrap {margin-bottom:25px;border-right:1px solid #6b727f;border-bottom:1px solid #6b727f;border-left:1px solid #6b727f;box-sizing:border-box}
.login .lb_list.num1 .loginBox_wrap {background:url(../images/kmotionLogin_bg.png) no-repeat center 50px}
.radius_box {width:360px;margin:0 auto}
.login .rbtop {height:60px;padding-top:165px;margin-bottom:20px}
.rbbottom {height:40px;margin-bottom:35px}
.radius_box a, .login .rbtop input {display:block;height:100%;border-radius:5px;text-align:center;color:#000}
.login .rbtop a, .login .rbtop input {background-color:#ffde02;font-weight:600;font-size:18px;line-height:60px} /* 로그인 폼 */
.rbbottom a {font-size:13px;border:1px solid #d7d7d7;line-height:42px}
.login .log_desc {margin:0 4.5% 39px} /* m:40px/720px */
.login .log_desc li {margin-bottom:10px;padding-left:15px;font-size:14px;line-height:20px;background:url(../images/bult_sq01.gif) no-repeat 0 11px}
.login .log_desc li.last {margin-bottom:0}

.member {border:1px solid #e1e1e1;box-sizing:border-box}
.member h3 {height:40px;font-weight:600;font-size:17px;line-height:40px;color:#333;background-color:#f9f9f9}
.member h3, .mem_list a {padding-left:9.5%} /* p:20/210*/
.member ul {margin-top:15px;margin-bottom:15px}
.mem_list {height:27.1px}
.mem_list a {display:block;height:100%;font-size:14px;line-height:27.1px}
.mem_list a span {display:inline}
.login .mem_list.num4 a {background:#ffdf01 url(../images/ico_arrow4.png) no-repeat 66px center}

/* 아이디 비밀번호 */ 
.login .tabInput_wrap {width:425px;margin:0 auto 105px}
.login .tabInput {overflow:hidden}
.login .tabInput.top {padding-top:90px;margin-bottom:10px}
.login .tabInput.bottom {margin-bottom:20px}
.login .tabInput label, .login .tabInput input, .login .tabInput span {float:left;height:40px} /* 공통 */
.login .tabInput label {width:55px;margin-right:10px;font-size:14px;line-height:40px;text-align:right}
.login .tabInput input {float:left;padding-left:15px;border:1px solid #c2c2c2;border-radius:5px}
.login .tabInput input:focus {border:2px solid #ffde02} /* focus 됐을 때 외곽선 색 바꾸기 */
.login .tabInput.top input {width:360px}
.login .tabInput.bottom input {width:265px;margin-right:10px}
.login .tabInput input, .login .tabInput span {border:1px solid #c2c2c2;border-radius:5px;box-sizing:border-box} /* 공통 */
.login .tabInput span {width:85px;line-height:40px;text-align:center;background-color:#f3f3f3}
.login .tabInput_wrap .radius_box  {margin-left:65px;padding-top:0;text-align:right}
.login .tabInput_wrap .radius_box input {width:100%;border:0 none}
.login .tabInput_wrap .radius_box input:hover {text-decoration:underline}

.login .join_btn {width:279px;margin:0 auto}
.login .join_btn a {padding:10px;border:1px solid #c2c2c2;border-radius:5px;color:#333}
.login .join_btn .JB3.JB32 {margin-left:5px;margin-right:5px}

/* 공인인증서 */ 
.login .lb_list.num3 .loginBox_wrap {background:url(../images/img_login01.gif) no-repeat center 50px}
.login .lb_list.num3 .log_desc .triangle {margin-top:10px;background:url(../images/triangle_icon1.png) no-repeat 0 3px}
.login .accredited {width:360px;height:40px;margin:0 auto 35px}
.login .RB2 {display:block;float:left;height:100%;font-size:13px;border:1px solid #d7d7d7;border-radius:5px;box-sizing:border-box;line-height:40px;text-align:center;color:#000}
.login .RB2.RB21 {width:190px;margin-right:10px}
.login .RB2.RB22 {width:160px}
.login .lb_list.num3 .log_desc > li {background-position:0 9px}

/* 기업 버튼 누르면 탭박스 바뀜 */
.login .login_box_wrap.btn2 .login_box {height:610px}
.login .login_box_wrap.btn2 .lb_list {width:50%}
.login .login_box_wrap.btn2 .log_tab .lb_list > a.selected {border-left:1px solid #6b727f}

/* 가맹점 버튼 누르면 탭박스 바뀜 */
.login .login_box_wrap.btn3 .login_box {height:610px}
.login .login_box_wrap.btn3 .lb_list {width:50%}
.login .login_box_wrap.btn3 .log_tab .lb_list > a.selected {border-left:1px solid #6b727f}
.login .login_box_wrap.btn3 .lb_list.num3 {height:100%;background-color:#6b727f}
.login .login_box_wrap.btn3 .safety_list.num1 {margin-bottom:50px}
    

/* 안전 */
.safety {clear:both}
.safety_list.num1 {margin-bottom:25px}
.safety_list.num2 {margin-bottom:50px}
.safety_list span {padding:4px 0 4px 22px;font-size:12px;background:url(../images/icon_safety1.png) no-repeat 0 center}
.safety .safety_list a {margin-left:6px;padding:6px;font-size:12px;text-align:center;color:#333;border:1px solid #c2c2c2;border-radius:3px}
.safety_list span, .safety li a	{vertical-align:middle}

/* 회원가입 버튼 */
.mem_join {width:210px;height:40px;margin:0 auto 100px}
.mem_join a {display:block;height:100%;border:1px solid #c2c2c2;border-radius:5px;font-size:15px;line-height:40px;text-align:center;color:#333}

/* 안내사항 */
.info_log {margin-bottom:70px;border:1px solid #e1e1e1;box-sizing:border-box}
.info_log h4 {height:50px;padding-left:60px;border-bottom:1px solid #e1e1e1;font-weight:600;font-size:17px;line-height:50px;color:#333;background:url(../images/ico_info1.png) no-repeat 35px center}
.info_log ul {margin:30px 4.5% 4.5%} /* m:40px/720px */
.info_list {margin-bottom:10px;padding-left:15px;font-weight:normal;font-size:14px;line-height:20px;background:url(../images/bult_sq01.gif) no-repeat 0 11px}
.info_list strong {color:#e44b3a}

/* FAQ */
.faq h3 {float:left;height:28px;margin-bottom:20px;font-weight:600;font-size:25px;color:#151515}
.faq .more {float:right;position:static;width:70px;height:25px}/* 70/720 */
.faq .more a {display:block;height:100%;padding-right:14px;border:1px solid #c2c2c2;border-radius:3px;text-align:center;line-height:25px;background:url(../images/icon_plus1.gif) no-repeat 50px center}
.faq dl	{clear:both;margin-bottom:100px}
.faq_tit, .faq_txt {border-top:1px solid #dfe3e6;box-sizing:border-box} /* 공통 border-top */
.faq_tit {height:90px;padding-top:25px}
.faq_tit a:link, .faq_list a:visited {display:block;height:100%}
.faq_tit a:hover .faq_para, .faq_list a:focus .faq_para {text-decoration:underline}
.faq_tit a span {float:left;height:100%}
.faq_q {width:12%;font-size:30px;font-family:Arial;text-align:center;color:#614cc2} /* 55px/720px */
.faq_para {width:80%;font-size:14px;line-height:20px;color:#333}
.faq_arrow {width:8%;background:url(../images/bg_faqBtn01_off.gif) no-repeat center 14px} /* 75px/720px */ 
.faq_tit.num4 a {border-bottom:0 none}
.faq_txt {display:none;height:245px;background-color:#f8f8f8}
.faq_txt.num4 {height:120px;border-bottom:1px solid #dfe3e6}
.reply {float:left;margin-top:28px;margin-bottom:28px;color:#333}
.reA {width:5%;margin-left:4%;font-size:30px;font-family:Arial}
.reTxt {width:87%;margin-right:4%;font-size:14px;line-height:22px}
.reTxt .line_feed {margin-bottom:10px}
.join3 {font-size:12px;margin-right:10px;padding:7px;border:1px solid #dfe3e6;border-radius:3px;background-color:#fff}
/* ****** login.css END ****** */




/* ****** join1.css START ****** */
/* header 회색 nav */
.join1 .lnb3_list.num2 {width:90px;background-position:75px center}
.join1 .lnb3_list.num2 a {background-position:62px center}

/* 제도 설명 */
.join1 .sstDes {height:225px;background:#c5ede6 url(../images/bg_joinstep.png) no-repeat 15% center} /* w:720px top/bottom:45px right:90px left:220px img-w:50px h:180px */
.join1 .sd {margin-left:34%}
.join1 .sd.paraTop {margin-bottom:10px;padding-top:50px;font-size:30px;line-height:40px;color:#614cc2}
.join1 .sd.paraTop strong {font-weight:600;}
.join1 .sd.paraBottom {font-size:14px;line-height:22px}
.join1 .line_feed.mob {display:inline}


/* 단계 표시 */
.join_step {height:110px;margin-bottom:50px;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;box-sizing:border-box}
.join_step ul {overflow:hidden;width:85%;margin:0 auto;padding-top:20px}
.JS_list {float:left;width:30.5%}
.JS_list.num4 {float:right;width:8%}
.JS_icon {width:35px;height:35px;margin-bottom:10px;margin-left:22px;}
.JS_list.num4 .JS_icon {margin-left:8px;}

.JS_list span {float:left}

.JS_list.num1 .JS_icon {background:url(../images/join_icon01.png) no-repeat center}
.JS_list.num2 .JS_icon {background:url(../images/join_num02.gif) no-repeat center}
.JS_list.num3 .JS_icon {background:url(../images/join_num03.gif) no-repeat center}
.JS_list.num4 .JS_icon {background:url(../images/join_num04.gif) no-repeat center}

.JS_bar {width:50%;height:5px;margin-top:17px;margin-left:15%;border-radius:2px;background-color:#e2e2e2}/* w:125px/190px */
.JS_list p {clear:both;font-weight:600;font-size:14px;color:#333}

/* 인증정보입력 타이틀 */
.join1 .sub_tit {height:28px;margin-bottom:20px;font-weight:600;font-size:25px;color:#151515}

/* 인증정보입력 테이블 */
.card_data {width:100%;margin-bottom:20px;border-collapse:collapse}
.card_data .line_feed {display:inline} /* 반응형에 개행시 필요 */
.CD_row.num1 {height:185px}
.CD_row.num2 {height:275px}
.CD_row.num3 {height:60px}
.CD_row th {padding-left:20px;text-align:left;color:#151515;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;box-sizing:border-box;background-color:#f9f9f9}
.CD_row.num1 th {border-top:1px solid #e1e1e1}
.CD_row.num2 th {border-top:1px solid #e1e1e1}
.CD_row.num3 th {border-top:1px solid #e1e1e1}
.CD_row td {border-bottom:1px solid #e1e1e1}
.CD_row.num1 td {border-top:1px solid #e1e1e1}


/* join form태그 공통 */
.join1 input, .join1 select {width:86px;height:40px;border:1px solid #c2c2c2;box-sizing:border-box;border-radius:5px;font-size:15px;text-align:center;letter-spacing:1px;color:#666}
.join1 input:focus, .join1 select:focus {border:2px solid #666;box-sizing:border-box;border-radius:5px}
.join1 input[type="password"] {letter-spacing:6px}
.join1 input[type="button"] {margin-right:59px;margin-left:10px;border:0 none;font-size:13px;letter-spacing:0;color:#fff;background-color:#707784}

.cardNum_box, .CD_row .virtualPad, .cvc2Code, #card_pw {margin-left:20px} /* 공통 좌측 여백*/

.cardNum_box {overflow:hidden;width:460px;height:120px;margin-bottom:10px;border-radius:0 0 20px 20px;background:#ffcf00 url(../images/bg_cardNum.gif) no-repeat 40px 67px}
.cardNum {margin-top:12px;margin-right:40px;text-align:right}
.cardNum.row2 select {padding-left:10px}
.cardNum.row2 .year {width:70px}

.cvc2Code {overflow:hidden;width:460px;height:205px;margin-bottom:10px;text-align:right;border-radius:0 0 20px 20px;background:#ffcf00 url(../images/bg_cardNum_cvc.gif) no-repeat 10px 10px}
.cvc2Code input {margin-top:20px}

#card_pw {width:60px}
#card_pw:focus {border-color:#ffde02}

.card_star {margin-right:5px;margin-left:5px}
.card_password input[type="button"] {margin-left:0;margin-right:25px}
.card_password .virtualPad {margin-left:0;padding:4px 0 4px 22px;font-size:12px;vertical-align:middle;background:url(../images/icon_safety1.png) no-repeat 0 center}

.join1 fieldset {display:none} /* 모바일 버전 숨기기 */

/* 가상키패드 안내 */
.virtualPad span {padding:4px 0 4px 22px;font-size:12px;vertical-align:middle;background:url(../images/icon_safety1.png) no-repeat 0 center}
.virtualPad a {margin-left:6px;padding:6px;border:1px solid #c2c2c2;border-radius:3px;font-size:12px;text-align:center;color:#333}

/* 다음 */
.join1 .next_page {width:100px;height:50px;margin:30px auto 100px}
.join1 .next_page a {display:block;border-radius:6px;font-weight:600;font-size:17px;line-height:50px;text-align:center;color:#333;background-color:#ffde02}

/* 회원 개인 회원가입 선택 */
.join1 .mem_list.num1 {background:#ffdf01 url(../images/ico_arrow4.png) no-repeat 110px center}
/* ****** join1.css END ****** */





/* ****** manual.css START ****** */
/* header 회색 nav */
.manual .lnb3_list.num2 {width:90px;background-position:75px center}
.manual .lnb3_list.num2 a {background-position:62px center}
.manual .lnb3_list.num3 {width:112px;background-position:86px center}
.manual .lnb3_list.num3 a {background-position:74px center}
.manual .lnb3_list.num4 {width:140px;background-position:112px center}
.manual .lnb3_list.num4 a {background-position:100px center}
.manual .lnb3_list.num5 {width:70px;background-position:50px center}
.manual .lnb3_list.num5 a {background-position:36px center}

/* 공시이용매뉴얼 탭 */
.man_tap {height:70px;margin-bottom:50px}
.man_list {float:left;width:50%;height:100%}
.man_list a	{display:block;height:100%;text-align:center;font-weight:600;line-height:70px;box-sizing:border-box}
.man_list.num1 a {font-size:16px;color:#333;border-top:2px solid #696969;border-right:2px solid #696969;border-left:2px solid #696969}
.man_list.num2 a {font-size:14px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:2px solid #696969}
.man_list.num2 .line_feed {display:inline}

/* 제도 설명 */ 
.manual .sstDes {margin-bottom:30px;padding:6% 12% 5.5% 29%;font-size:18px;line-height:30px;color:#333;background:#c5ede6 url(../images/sstDes_icon01.png) no-repeat 7% center} /* w:720px top/bottom:45px right:90px left:220px img-w:50px h:180px */
.manual .sstDes strong {padding-top:10px;font-weight:600;font-size:24px;color:#614cc2}
.manual .sstDes strong .wit_nor {color:#333}

/* h4 타이틀 */
.manual h4 {margin-bottom:5px;font-weight:600;font-size:24px;color:#333}

/* 리스트 */
.mat.uDep1 {margin-bottom:120px}
.mat.uDep1.rule {margin-bottom:35px} /* 규정에만 별도 */

.mat.uDep1 .wit_nor {color:#e44b3a} /* 강조 적색 */
.mar_bo {margin-bottom:10px} /* 별도 margin-bottom*/
.mat.uDep2 .sms_list.mar_bo {margin-bottom:12px} /* sms에만 별도 */

.mat.uDep1 li {padding-left:12px;font-size:14px;line-height:45px;background:url(../images/bult_sq01.gif) no-repeat 0 21px}
.mat.uDep2 li {margin-bottom:5px;padding-left:15px;line-height:22px;background:url(../images/triangle_icon1.png) no-repeat 0 6px;background-size:10px}
.mat.uDep3 li {margin-bottom:10px;padding-left:15px;background:url(../images/dot_icon1.png) no-repeat 0 9px}
.mat.uDep3.mat_site li {padding-left:10px;line-height:40px;background:none}

.mat_site .ms_list {display:inline;line-height:40px}
.ms_list a, .ms_style {padding:8px 25px 8px 12px;font-size:12px;border:1px solid #8b929e;box-sizing:border-box;border-radius:5px;background:url(../images/ico_arrow8.png) no-repeat}
.ms_list.num1 a {background-position:176px center}
.ms_list.num2 a {background-position:207px center}
.ms_list.num3 a {background-position:217px center}
.ms_list.num4 a {background-position:194px center}
.ms_style.num1 {background-position:171px center}
.ms_style.num2 {background-position:98px center}

.site_strong:link, .site_strong:visited, .site_strong:hover, .site_strong:focus {text-decoration:underline;color:#614cc2}

/* 좌측 리스트 */
.user_menu {height:245px;border: 1px solid #e1e1e1;box-sizing: border-box}
.umTit_box {height:70px}
.um_tit {float:left;width:50%;height:100%}
.um_tit a {display:block;height:100%;padding-top:14px;box-sizing:border-box;font-weight:600;font-size:14px;text-align:center;color:#333}
.um_tit .bg_images {display:block;width:16px;height:16px;margin:0 auto 5px}
.um_tit.col1 .bg_images {background:url(../images/bg_rnb.png) no-repeat -16px 0px}
.um_tit.col2 a {border-left:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background-color:#f8f8f8}
.um_tit.col2 .bg_images {background:url(../images/bg_rnb.png) no-repeat -31px 0px}
.mem_box {margin-top:15px;margin-bottom:15px}
.manual .mem_list.num1 {background:#ffdf01 url(../images/ico_arrow4.png) no-repeat 118px center;}
/* ****** manual.css END ****** */




/* ****** card01.css START ****** */
/* header lnb3 */
.card01 .lnb3_list.num2 {width:72px;background-position:55px center}
.card01 .lnb3_list.num2 a {background-position:36px center;}

/* 상단 타이틀 */
.card01 .sub_top {margin-bottom:40px;border-bottom:1px solid #d6d5dc;box-sizing:border-box}

/* 카드 목록 */
.CK.row1 {overflow:hidden;margin-bottom:40px;border-bottom:1px solid #e5e5e5;box-sizing:border-box}
.CK.row2 {overflow:hidden;margin-bottom:50px}

.CK_list {float:left;width:25%}
.CK_list dt {height:24px;margin-bottom:25px;font-weight:600;font-size:19px;color:#715fc4;text-align:center;}
.CK.row1 .CK_list span {vertical-align:middle}
.CK_list .titImg {margin-right:5px;padding:3px 13px}
.CK.row1 .CK_list.num1 .titImg {background:url(../images/card_01.gif) no-repeat 0 3px}
.CK.row1 .CK_list.num2 .titImg {background:url(../images/card_02.gif) no-repeat 0 3px}
.CK.row1 .CK_list.num3 .titImg {background:url(../images/card_03.gif) no-repeat 0 3px}
.CK.row1 .CK_list.num4 .titImg {background:url(../images/card_04.gif) no-repeat 0 3px}
.CK.row2 .CK_list.num1 .titImg {background:url(../images/card_05.gif) no-repeat 0 3px}
.CK.row2 .CK_list.num2 .titImg {background:url(../images/card_06.gif) no-repeat 0 3px}
.CK.row2 .CK_list.num3 .titImg {background:url(../images/card_07.gif) no-repeat 0 3px}
.CK.row2 .CK_list.num4 .titImg {background:url(../images/card_08.gif) no-repeat 0 3px}

.CK_list dd {height:100px;padding-bottom:44px;border-right:1px solid #e5e5e5}
.CK_list.num4 dd {border-right:0 none}
.CK_list dd.last {margin-bottom:40px;padding-bottom:0}
.CK_list dd a {display:block;height:100%;font-size:15px;text-align:center}
.CK_list dd a img {width:110px;height:70px;margin-bottom:10px}
.CK_list dd a .line_feed {width:75%;margin:0 auto}

/* 카드신청/발급조회/전번 */
.card_kind.bot {overflow:hidden;margin-bottom:100px} 
.card_info {float:left;width:33.3%;height:170px;border-top:1px solid #d6d5dc;border-right:1px solid #d6d5dc;border-bottom:1px solid #d6d5dc;box-sizing:border-box}
.card_info.col1 {border-left:1px solid #d6d5dc;background:url(../images/card_info01.png) no-repeat 85% center}
.card_info.col2 {background:url(../images/card_info02.png) no-repeat 85% center}
.card_info h3, .card_info ul, .info_search {margin-right:9.375%;margin-left:9.375%} /* 좌우 여백 공통 */
.card_info h3, .info_tel {margin-top:30px;} /* 상단 여백 공통 */
.card_info h3 {margin-bottom:15px;font-weight:600;font-size:18px;color:#333}
.card_info ul li a {font-size:14px;line-height:25px}
.card_info ul li span {vertical-align:middle}
.card_info ul li a .bg_images {margin-left:5px;padding:4px 3px;font-size:0;background:url(../images/ico_arrow4.png) no-repeat}

.info_tel {overflow:hidden;margin-bottom:20px}
.card_info .info_tel span {display:block;float:left;width:50%;font-weight:600;font-size:17px;line-height:24px;text-align:center;color:#333}
.apply {border-right:1px solid #d6d5dc;box-sizing:border-box}
.card_info .info_search {height:45px}
.card_info .info_search a {display:block;height:35px;padding-top:10px;border-radius:5px;font-weight:600;font-size:17px;text-align:center;color:#fff;background-color:#7665c6}
.card_info .info_search a .bg_images {margin-right:8px;padding:12px 11px;background:url(../images/search01.png) no-repeat 0}
.card_info .info_search span {vertical-align:middle}
/* ****** card01.css END ****** */




/* ****** event01.css START ****** */
/* 상단 헤더 */
.event01 .lnb3_list.num2 {width:140px;background-position:120px center}
.event01 .lnb3_list.num2 a {background-position:106px center}

/* 상단 네모 이벤트 */
.eventing {overflow:hidden}
.eve_wrap {margin-bottom:70px}
.eve_list {float:left;width:32%;height:230px;margin-right:2%;margin-bottom:15px;background-color:#f6f6f6}
.eve_list.num3, .eve_list.num6 {margin-right:0}
.eve_list.num4, .eve_list.num5, .eve_list.num6 {margin-bottom:0}
.eve_list a:link, .eve_list a:visited {display:block;height:100%;text-align:center;text-decoration:none}
.eve_list a:hover .eve_para.tit , .eve_list a:focus .eve_para.tit {text-decoration:underline}
.eve_para {display:block}
.eve_para.tit {padding-top:28px;margin-bottom:30px;font-weight:600;font-size:16px;line-height:20px;color:#000}
.roundImg {margin:0 auto 15px}
.roundImg img {width:72px;}
.eve_para.day {font-size:14px}

/* 탭 메뉴 */
.eveTap {position:relative;height:1450px}
.ET_list {float:left;width:16.6%;height:70px;}
.ET_list > a {display:block;height:100%;box-sizing:border-box;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:2px solid #696969;font-weight:600;line-height:70px;text-align:center}
.ET_list.num1 > a {padding-top:13px;border-top:2px solid #696969;border-right:2px solid #696969;border-left:2px solid #696969;font-size:16px;line-height:20px;color:#000}
.ET_list.num2 > a {padding-top:16px;line-height:17px;}
.ET_list.num1 .ET_wrap {display:block;position:absolute;top:90px;width:100%;}
.ET_wrap {display:none} /* jQuery 탭 기능 넣을 때까지 숨기기 */
.total_board {height:45px;border-bottom:1px solid #e1e1e1;box-sizing:border-box}
.eve_search, .eve_btn {height:35px;border-radius:5px}
.eve_search {width:190px;border:1px solid #c2c2c2;box-sizing:border-box}
.eve_search:focus {padding-left:10px;border:2px solid #ffde02}
.eve_btn {width:70px;padding-bottom:3px;padding-left:19px;border:0 none;font-weight:600;font-size:14px;color:#fff;background:#707784 url(../images/search01_s.png) no-repeat 13px 10px}
.toBo {float:left;padding-top:12px;font-size:14px}
.toBo.TB31 {width:75px}
.toBo.TB31 strong {font-weight:600;color:#614cc2}
.total_board fieldset {float:right}
.toBo_list {display:inline;}
.toBo_list.num1 a {padding-left:30px;font-weight:600;color:#000;background:url(../images/bg_line04.gif) no-repeat 0 3px}
.toBo_list.num1 a, .toBo_list.num2 a {padding-right:10px;}
.toBo_list.num2 a, .toBo_list.num3 a {padding-left:10px;background:url(../images/bg_line01.gif) no-repeat 0 3px}

.eveBo_list {height:115px;}
.eveBo_list a:link, .eveBo_list a:visited {display:block;height:100%;border-bottom:1px solid #e1e1e1;box-sizing:border-box;text-decoration:none}
.eveBo_list a:hover .eveBo_para.tit, .eveBo_list a:focus .eveBo_para.tit {font-weight:600;text-decoration:underline;color:#614cc2} 
.eveBo_list a img {width:70px}
.eveBo_para.roundImg {float:left;height:70px;margin:22.5px 30px}
.eveBo_para.tit {display:block;padding-top:32px;padding-bottom:15px;font-size:16px}
.eveBo_para.day {font-size:14px}

.pageNumber {overflow:hidden;width:224px;margin:30px auto 0}
.paNu {float:left;width:32px;height:30px}
.paNu a {display:block;height:100%;font-size:14px;text-align:center;line-height:30px}
.paNu.num1 a {font-weight:600;color:#fff;background-color:#707784}

/* 주요 메뉴 선택 */
.event01 .mem_list.num1 a {background-color:#ffdf01}

/* KB 광고 */
.KBad {margin-top:20px;margin-bottom:20px}

/* ****** event01.css END ****** */




/* ****** event02.css START ****** */
.event02 .content_wrap {margin-bottom:40px;padding:40px 10px 60px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1}
.event02 .eveImg1 {margin-bottom:10px;font-size:0}
.event02 .event_wrap1 {margin-bottom:15px;padding:40px;border:1px solid #e0e0e0;box-sizing:border-box}
.dottedLine {height:2px;margin-bottom:35px;background:url(../images/0616_event_line.gif) no-repeat center}
.event02 .eveImg2 {margin-bottom:10px;font-size:0}
.event02 .eve_info {overflow:hidden;margin-bottom:35px}
.event02 .eveIn {float:left}
.event02 .eveIn .eve_tit3 {margin-top:0}
.event02 .eveIn.left{width:125px;margin-right:45px;}
.event02 .eveIn.right{width:312px}
.event02 .eveIn dd {padding-left:10px;font-size:14px;line-height:20px}
.event02 .eve_para {height:85px;padding-left:80px;border:1px solid #e3e3e3;box-sizing:border-box;font-weight:600;font-size:15px;color:#333;line-height:85px;text-align:center;background:#efefef url(../images/151001_hipass_img1.png) no-repeat 20px center}
.event02 .eve_tit3 {margin-top:30px;margin-bottom:10px;padding-left:10px;font-weight:600;font-size:18px;color:#333;background:url(../images/evt_bullet01.gif) no-repeat 0 center}

/* table */
.event02 table {width:618px;border:0 none;border-collapse:collapse;border-spacing:0;box-sizing:border-box}
.event02 .bar_right {border-right:1px solid #fff}
.event02 thead th {height:35px;font-weight:normal;font-size:14px;color:#333;background-color:#ffe11b}
.event02 tbody td {padding-top:15px;padding-bottom:15px;border-bottom:1px solid #cfcfcf;font-size:14px;line-height:22px;text-align:center}
.event02 .bar_leRi {border-right:1px solid #cfcfcf;border-left:1px solid #cfcfcf}

/* 유의사항 */
.event02 .note li {margin-bottom:10px;padding-left:12px;font-size:14px;line-height:20px}
.event02 .note.top li {background:url(../images/bult_sq01.gif) no-repeat 0 10px}
.event02 .note.bottom li {background:url(../images/0616_check_txt_icon.gif) no-repeat 0 1px}
.event02 .note .noteLast {margin-bottom:40px}

.event02 .law_para {font-size:11px;text-align:right} /* 준법감시인 */
.event02 .btn_index {width:100px;;height:50px;margin:0 auto 100px;}
.event02 .btn_index a {display:block;height:100%;border-radius:5px;font-weight:600;font-size:15px;line-height:50px;text-align:center;text-decoration:none;background-color:#ffde02;} /* 목록 */
.event02 .btn_index a:hover, .event02 .btn_index a:focus {text-decoration:underline;color:#333}

/* 하단 게시판 */
.event02 .board {margin-bottom:100px}
.event02 .bo_list {height:60px;box-sizing:border-box;font-size:14px;line-height:60px;background:url(../images/bg_arrow.gif) no-repeat}
.event02 .bo_list.num1 {border-top:1px solid #9fa5a9;border-bottom:1px solid #e1e1e1;background-position:20px 27px}
.event02 .bo_list.num2 {border-bottom:1px solid #9fa5a9;background-position:20px -9px}
.event02 .bo_list .tit {float:left;margin-left:60px}
.event02 .bo_list .day {float:right;margin-right:35px}

/* 주요 메뉴 선택 */
.event02 .mem_list.num1 a {background-color:#ffdf01}
/* ****** event02.css END ****** */




/* ****** browsewrap.css START ****** */
.browsewrap h3.tit {margin-bottom:10px;font-weight:600;font-size:17px;color:#000}
.browsewrap .brow.para {overflow-y:scroll;height:150px;margin-bottom:35px;padding:20px;border:1px solid #e1e0dc;box-sizing:border-box}
.browsewrap .brow.para h4.tit{padding-left:10px;font-size:14px;line-height:25px;color:#000;background:url(../images/bult_element3.gif) no-repeat 0 8px}
.browsewrap .brow.para p {margin-bottom:15px;line-height:22px;color:#000}

.browsewrap .consent_para {margin-bottom:25px;padding-left:10px;font-weight:600;font-size:14px;letter-spacing:0.5px;color:#7B716A;background:url(../images/bult_tip.gif) no-repeat 0 5px}
.browsewrap .consent_wrap {margin-bottom:25px}
.browsewrap .consent_wrap input {margin-right:10px}
.browsewrap .conseYes {margin-left:20px}

.browsewrap .yesNo_wrap {overflow:hidden;width:130px;margin:0 auto 85px}
.browsewrap .yesNo {float:left;height:30px;}
.browsewrap .yesNo.left {width:45px;margin-right:10px;}
.browsewrap .yesNo.right {width:75px;}
.browsewrap .yesNo a {display:block;height:100%;border-radius:3px;font-weight:600;line-height:30px;text-align:center;text-decoration:none;color:#333;background:url(../images/bg_btnLarge_n.gif) no-repeat}
.browsewrap .yesNo.left a {background-position:0px -103px}
.browsewrap .yesNo.right a {border:1px solid #d1d1d1;background-position:-1px -3.5px}

/* 회원 목록 */
.browsewrap .mem_list.num1 {background: #ffdf01 url(../images/ico_arrow4.png) no-repeat 110px center}
/* ****** browsewrap.css END ****** */




/* ****** join2.css START ****** */
/* container 여백 */
.container.join2 {margin-bottom:280px}

/* 상단 안내문 */
.join2 .join_desc {margin-bottom:50px;border:1px solid #d4d4d4;box-sizing:border-box}
.join2 .join_desc ul {margin:15px}
.join2 .join_desc ul li {margin-bottom:10px;padding-left:10px;line-height:20px;letter-spacing:-0.2px;color:#333;background:url(../images/join2_icon.png) no-repeat 0 9px }

/* input */
.join2 .individual {margin-bottom:150px}
.join2 .form_tit {float:left;margin-bottom:15px;font-weight:600;font-size:16px}
.join2 .essential {float:right;color:red}
.join2 .userInput {clear:both;overflow:hidden;margin-top:35px;margin-bottom:35px}
.join2 .required {margin-right:5px;color:red}
.join2 .userInput dt, .join2 .userInput dd {height:45px;border-bottom:1px solid #e6e5e5;box-sizing:border-box;line-height:45px }
.join2 .userInput dt {float:left;width:25%;padding-left:15px;color:#4e473f;background-color:#f6f6f5}
.join2 .userInput dd {float:left;width:75%}
.join2 .userIn_list.num1 dt {border-top:1px solid #e6e5e5}
.join2 .userInput input:focus {outline: -webkit-focus-ring-color auto 5px;} /* focus 됐을 때 외곽선 생기게 하기 */
.join2 .userInput input[type="text"], .join2 .userInput input[type="password"], .join2 .userInput select {height:25px;margin-bottom:4px;margin-left:20px;padding-left:5px;border-top:1px solid #b3b3b3;border-left:1px solid #b3b3b3;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8 }
.join2 .UT_list input[type="password"] {width:70px}
.join2 .UT_list input[type="checkbox"] {margin-right:10px;margin-left:10px;}
.join2 .userbir_ver input[type="text"] {width:50px;}
.join2 .userbir_ver .lunar_list.num1, .join2 .tel_ver .posi_list.num1 {margin-left:20px}
.join2 .userbir_ver .userbir_list, .join2 .tel_ver .tel_left.num1 {margin-right:5px}
.join2 .userbir_ver .userbir_list.num2, .join2 .userbir_ver .userbir_list.num3, .join2 .tel_ver .tel_left.num2, .join2 .tel_ver .tel_left.num3 {margin-left:10px}

.join2 .address {margin-right:10px}
.join2 .userInput .site {margin-left:10px}
.join2 .userbir_ver input[type="radio"], .join2 .tel_ver input[type="radio"] {margin-right:5px;margin-left:10px}
.join2 .tel_ver input[type="text"] {width:50px}
.join2 .userInput .ex {margin-left:12px;padding:1px 0 1px 20px;font-size:13px;letter-spacing:-1px;color:#928781;background:url(../images/icon_caution.gif) no-repeat}
.join2 #userMouse {margin-left:10px;margin-right:10px}

/* 확인 취소 */
.join2 .inpo {margin-bottom:30px;font-size:14px;letter-spacing:0.5px;text-align:center}
.join2 .userSubmit {width:130px;margin:0 auto}
.join2 .userSubmit input {width:60px;height:30px;padding-bottom:5px;border-radius:3px;font-weight:600;background:url(../images/bg_btnLarge_n.gif) no-repeat}
.join2 .userSubmit input:hover {cursor:pointer}
.join2 .userSubmit input[type="submit"] {margin-right:10px;border:0 none;background-position:0px -103px}
.join2 .userSubmit input[type="reset"] {border:1px solid #d1d1d1;background-position:-1px -1.5px}



/* ****** manual.css END ****** */




/* ****** video.css START ****** */
.video .kb_youtube_titBox {overflow:hidden;margin-bottom:10px}
.video .kb_youtube_titBox .tit {float:left}
.video .kb_youtube_titBox .day {float:right}
.video .kb_youtube_wrap {margin-bottom:100px}
.video .kb_youtube iframe {width:100%;height:450px;box-sizing:border-box}
.video .kb_youtubeDesc {padding:15px;border:1px solid #e1e1e1;box-sizing:border-box;font-size:15px;line-height:25px}
.video .viBo_img, .video .viBo_wrap {float:left}
.video .viBo_img {margin:18.5px 30px 0}
.video .video_boardList {height:131px;border-bottom:1px solid #eee;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;box-sizing:border-box}
.video .video_boardList:hover, .video .video_boardList:focus {border:1px solid #ffc30e}
.video .viBo_wrap {margin-top:20px}
.video .tit a {display: block;margin-bottom:8px;font-weight:600;font-size:17px;color:#000;background:url(../images/arr_yellow2.gif) no-repeat 0 7px}
.video .viBo.tit a, .video .viBo.para, .video .viBo.day {padding-left:10px;}
.video .viBo.para {margin-bottom:8px}
.video .video_board {border-top:2px solid #000;border-bottom:2px solid #000}

/* 게시판 */
.video .pageNumber {width:324px}
.video .paNu.prev, .video .paNu.next {width:50px}
.video .paNu.prev a {text-align:left}
.video .paNu.next a {text-align:right}
.video .video_board_wrap {margin-bottom:100px}
/* ****** video.css END ****** */




/* ****** gallery.css START ****** */
.gallery .BG_list {margin-bottom:60px;padding-bottom:60px;border-bottom:2px solid #836f61}
.gallery .BG_list.num1 {padding-top:60px;border-top:2px solid #836f61}
.gallery .box_wrap {overflow:hidden}
.gallery .img_box {float:left}
.gallery .bg_desc {float:right;width:270px;margin-top:15px}
.gallery .BG_list h3 {margin-bottom:15px;font-weight:normal;font-size:17px}
.gallery .BG_list h3 strong {font-weight:600;font-size:22px}
.gallery .bg_desc p {margin-bottom:20px;padding-bottom:20px;border-bottom:2px solid #e5e5e5}
.gallery .bg_desc p strong {display:block;margin-bottom:10px;font-weight:600;font-size:15px;color:#000}
.gallery .size_list {float:left;width:90px;height:30px;}
.gallery .size_list.num1, .gallery .size_list.num3 {margin-right:10px}
.gallery .size_list.num1, .gallery .size_list.num2 {margin-bottom:10px}
.gallery .size_list a {display:block;height:100%;border:1px solid #e5e5e5;border-radius:3px;font-size:12px;line-height:30px;letter-spacing:-0.5px;text-align:center;color:#000;
						/* 그라데이션 */
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f2f2f2+99 */
						background: #ffffff; /* Old browsers */
						background: -moz-linear-gradient(top,  #ffffff 1%, #f2f2f2 99%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #ffffff 1%,#f2f2f2 99%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #ffffff 1%,#f2f2f2 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
						}
.modaloverlay {position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5)}
.contentoverlay {position:fixed;left:50%;top:50%;margin-left:-300px;margin-top:-210px;border:5px solid #ffdf01;font-size:0}
.close {position:absolute;top:1%;right:1%;width:31px;cursor:pointer}
/* ****** gallery.css END ****** */





/* ****** finance.css START ****** */
/* lnb3 */
.finance .lnb3_list.num2 a {background-position:38px center}
.finance .lnb3_list.num3 a {background-position:78px center}
.finance .lnb3_list.num3 {background-position:101px center}

.finance  .main_middle {margin-bottom:100px}
.finance .finContent2.FC21 {height:490px}
.finance .FCrow3 {float:left;height:100%;border-right:1px solid #d6d5dc;border-bottom:1px solid #d6d5dc;box-sizing:border-box}
.finance .finContent2.FC21 .FCrow3 {border-top:1px solid #d6d5dc}
.finance .FCrow3.FCrow31, .finance .FCrow3.FCrow32 {width:33.3%}
.finance .FCrow3.FCrow33 {width:33.4%}
.finance .FCrow3.FCrow31 {border-left:1px solid #d6d5dc;background-color:#eef1f5}
.finance .FCrow3.FCrow32 {background-color:#f4f6f8}
.finance .FCrow3.FCrow33 {background-color:#fbfcfc}
.finance .finContent2.FC21 h3 {margin-top:30px;margin-bottom:15px;font-weight:600;font-size:22px;color:#000}
.finance .FCrow3 h3, .finance .ff_topWrap, .finance .ff_bottomWrap {margin-right:30px;margin-left:30px} /* 공통 여백 */

/* 아이콘 이미지 넣기 시작 */
.finance .FCrow3.FCrow31 .ff_top {background:url(../images/bg_financesubmain_01.png) no-repeat 90% 80%}
.finance .FCrow3.FCrow32 .ff_top {background:url(../images/bg_financesubmain_02.png) no-repeat 90% 80%}
.finance .FCrow3.FCrow33 .ff_top {background:url(../images/bg_financesubmain_03.png) no-repeat 90% 80%}
.finance .FCrow3.FCrow33 .ff_bottom {background:url(../images/bg_financesubmain_04.png) no-repeat 90% 100%}
/* 아이콘 이미지 넣기 끝 */

.finance .ff_topWrap {padding-bottom:20px;background:url(../images/bg_financesubmain_line.gif) repeat-x bottom }
.finance .ff_topWrap .ff_list a {font-weight:600;font-size:16px;line-height:25px;}
.finance .ff_topWrap .ff_list a span, .finance .ff_list a img {vertical-align:middle}

.finance .ff_bottomWrap {height:58px;margin-bottom:25px}
.finance .ff_bottomWrap .ff_list {float:left;width:50%;margin-bottom:10px}
.finance .ff_bottomWrap .ff_list a {font-size:16px;}
.finance .ff_btn {clear:both;height:45px;margin:0 30px 30px;}
.finance .ff_btn a {display:block;height:100%;border:1px solid #c2c2c2;border-radius:8px;box-sizing:border-box;font-weight:600;font-size:15px;line-height:45px;text-align:center;color:#000;background-color:#fff}

.finance .FCrow3.FCrow33 .ff_top {height:226px;border-bottom:1px solid #d6d5dc}
.finance .FCrow3.FCrow33 .ff_topWrap {padding-bottom:0;background:none}

.finance .finContent2.FC22 {height:265px}
.finance .finContent2.FC22 h3 {margin-top:30px;margin-bottom:15px;font-weight:600;font-size:18px;color:#000}
.finance .finContent2.FC22 .FCrow3.FCrow32 h3 {margin-bottom:5px}
.finance .guide, .finance .ars, .finance .FCrow3.FCrow32 dl, .finance .finContent2.FC22 .FCrow3.FCrow33 .para, .finance .finContent2.FC22 .FCrow3.FCrow33 .Calc {margin:0 30px} /* 공통 여백 */
.finance .guide {font-size:14px;line-height:20px}
.finance .ars {margin-bottom:25px;font-weight:600;font-size:30px;color:#4365df}
.finance .FCrow3.FCrow32 dt {margin-bottom:10px;font-weight:600;font-size:16px;color:#000}
.finance .FCrow3.FCrow32 dd {font-size:14px;line-height:20px}
.finance .FCrow3.FCrow32 dd.time {margin-bottom:10px;font-weight:600;color:#000}
.finance .finContent2.FC22 .FCrow3.FCrow33 {background:#4365df url(../images/bg_financesubmain_05.png) no-repeat 90% 85%}
.finance .finContent2.FC22 .FCrow3.FCrow33 h3 {font-size:25px;color:#fff}
.finance .finContent2.FC22 .FCrow3.FCrow33 .para {margin-bottom:95px;font-size:16px;color:#fff}
.finance .finContent2.FC22 .FCrow3.FCrow33 .Calc {width:80px;height:30px}
.finance .finContent2.FC22 .FCrow3.FCrow33 .Calc a {display:block;height:100%;border:1px solid #7c94e9;border-radius:5px;box-sizing:border-box;font-weight:600;line-height:30px;text-align:center;color:#fff}

/* ****** finance.css END ****** */




/* ****** map.css START ****** */
.maps .checked input {margin-left:15px;margin-right:5px}
.maps .checked #individual {margin-left:0}
.maps .checked label {font-size:13px}
.maps .checked {margin-bottom:15px}
.maps .search_map {margin-bottom:10px}
.maps .ex {margin-bottom:30px}
.maps .search_map select, .maps .search_map input {height:25px;box-sizing:border-box} /* 높이 공통*/
.maps .search_map select {margin-right:10px;padding-bottom:5px;line-height:25px}
.maps .search_map input[type="text"] {margin-right:10px}
.maps .search_map input[type="button"] {width:45px;border:0 none;border-radius:3px;line-height:25px;background-color:#fcc504;cursor:pointer}
#map {display:block;width:100%;height:350px;margin:0 auto 20px}
.maps .SRlist_wrap, .maps .branch {float:left}
.maps .SRlist_wrap {width:10%}
.maps .SRlist_wrap li {font-weight:bold;font-size:45px;color:#000}
.maps .branch {width:90%;margin-bottom:100px}
.maps .branch dt {padding-bottom:15px;border-bottom:1px solid #c8c8c8;font-weight:600;font-size:22px;color:#000}
.maps .branch dd .m_tit {margin-top:15px}
.maps .branch dd .m_tit a {font-weight:600;font-size:15px;color:#000}
.maps .branch dd ol li p {font-size:15px;line-height:25px}
/* ****** map.css END ****** */




/* ****** pointree.css START ****** */
.pointree .sub.col1 {margin-bottom:100px;background-color:#caefb9}
.pointree .point4 {margin:0 30px}
.pointree .point4.po41 {height:290px;margin-top:30px;background:url(../images/bg_pointreeIndex01.png) no-repeat bottom}
.pointree .point4.po41 p {padding-top:45px;margin-left:290px}
.pointree .point4.po41 p .sub_tit {font-size:22px;color:#000}
.pointree .point4.po41 p strong {margin-top:8px;margin-bottom:12px;font-weight:600;font-size:31px;color:#000}
.pointree .point4.po41 p .para {font-size:14px;line-height:22px}

.pointree .point4.po42 {height:480px;background-color:#fff}

.pointree .content_top {margin-bottom:30px}
.pointree .poin_tit {margin-bottom:50px;padding-top:50px;font-weight:600;font-size:28px;text-align:center;color:#000}
.pointree .content_top ul {overflow:hidden;margin:0 30px;padding-bottom:30px;background:url(../images/bg_financesubmain_line.gif) repeat-x bottom}
.pointree .content_top .poin_list {float:left;width:25%}
.pointree .content_top .poin_list a {display:block;height:100%;text-align:center}
.pointree .content_top .poin_list a img {margin-bottom:30px}
.pointree .content_top .poin_list a strong {margin-bottom:25px;font-weight:600;font-size:15px;color:#000}
.pointree .content_top .poin_list a .para {line-height:20px}

.pointree .content_bottom p {width:225px;height:50px;margin:0 auto}
.pointree .content_bottom p a {display:block;height:100%;border-radius:5px;font-weight:600;font-size:15px;line-height:50px;text-align:center;color:#000;background-color:#ffde02}

.pointree .point4.po43 {height:500px;background-color:#f2f2f2}
.pointree .point4.po43 ul {margin:0 30px}
.pointree .point4.po43 .poin_list {float:left;width:25%;height:150px}
.pointree .point4.po43 .marbo {margin-bottom:30px}
.pointree .point4.po43 .poin_list a {display:block;height:100%;font-weight:600;font-size:16px;line-height:22px;text-align:center;color:#000}
.pointree .point4.po43 .bg_sprite {display:block;width:80px;height:88px;margin:0 auto 15px;background:url(../images/bg_pointLink02.png) no-repeat}
.pointree .poin_list.num1 .bg_sprite {background-position:-5px 0}
.pointree .poin_list.num2 .bg_sprite {background-position:-95px 0}
.pointree .poin_list.num3 .bg_sprite {background-position:-185px 0}
.pointree .poin_list.num4 .bg_sprite {background-position:-275px 0}
.pointree .poin_list.num5 .bg_sprite {background-position:-365px 0}
.pointree .poin_list.num6 .bg_sprite {background-position:-455px 0}
.pointree .poin_list.num7 .bg_sprite {background-position:-545px 0}
.pointree .poin_list.num8 .bg_sprite {background-position:-635px 0}

.pointree .point4.po44 {height:390px;margin-bottom:30px;background:#fff url(../images/bg_pointreeIndex02.png) no-repeat left bottom}
.pointree .point4.po44 p {width:198px;margin:0 auto}


/* ****** pointree.css END ****** */




/* ****** manual.css START ****** */
/* ****** manual.css END ****** */


/* ****** mediaquery ****** */
@media  all  and  (min-width:1600px) {}
@media  all  and  (min-width:1024px) and  (max-width:1599px){}
@media  all  and  (min-width:768px) and  (max-width:1023px) {
	/* login START */
	.lnb3 ul {width:40%}
	.mem_join {margin-bottom:70px}

	.autoScroll_top {right:5%}
	/* login END */


	/* join1 START */
	.join1 .sstDes {height:200px;background-position:5% center;background-size:100px}
	.join1 .sd {margin-left:27%;margin-right:4%}
	.join1 .sd.paraTop {padding-top:36px;letter-spacing:-1px}

	.join_step ul {width:90%}
	.JS_list {width:29%}
	.JS_list.num4 {width:12%}
	.JS_bar {width:37%;margin-left:20%}

	.card_data .line_feed {display:block} /* 반응형에 개행시 필요 */
	.cardNum_box {background-position:22px 67px}
	.cardNum_box, .cvc2Code {width:420px;}
	.cardNum, .join1 input[type="button"] {margin-right:22px}
	.CD_row th {padding-left:0;text-align:center}
	.join1 input, .join1 select {width:85px}
	/* join1 END */



	/* manual START */
	.lnb3 ul {width:80%}
	.manual .sstDes {padding-right:7%;background-size:106px}
	.mat.uDep2 .line_feed {display:inline}
	.mat.uDep3.mat_site li {display:block;line-height:35px}
	.sstDes .line_feed, .mat.uDep3 .line_feed {display:inline}
	.mat.uDep3 {margin-top:10px}
	/* manual END */




	/* card01 START */
	.card_info.col2 {background-position:93% center}
	/* card01 END */

}

/*  tablet1 [481~767] */
@media  all  and  (min-width:481px) and  (max-width:767px) {
	/* login START */
	.sub.col1, .mem_join, .info_log, .sub.col2 {margin-bottom:60px}
	.st {padding-top:40px}
	.st.stRad {padding-top:45px}
	.sub_top {height:105px}
	.lnb3 {display:none}
	.lnb3 ul {width:65%}
	.faq ul {margin-bottom:0}
	.sub.col1, .sub.col2 {float:none;width:100%}

	.member {border:0 none}
	.member h4 {height:33px;margin-bottom:20px;padding-left:0;font-size:25px;background:none}
	.member ul {overflow:hidden;margin-top:0;margin-bottom:0}
	.mem_list {float:left;width:33.3%;height:50px}
	.mem_list.num4 {display:none}
	.mem_list a:link, .mem_list a:visited, .login .mem_list.num4 a:link, .login .mem_list.num4 a:visited  {padding-left:0;font-weight:600;font-size:14px;line-height:50px;text-align:center;color:#fff;background-color:#614cc2}
	.mem_list a:hover, .mem_list a:focus, .login .mem_list.num4 a:hover, .login .mem_list.num4 a:focus  {text-decoration:none;background-color:#785df4}
	.login .mem_list.num4 a {background-image:none}
	.login .mem_list.num1 a, .login .mem_list.num5 a {border-right:1px solid #7a6bbf;}
	.login .mem_list.num2 a, .mem_list.num6 a {border-right:1px solid #7a6bbf;}
	.login .mem_list.num3 a {border-top:1px solid #7a6bbf;border-right:1px solid #7a6bbf}
	.login .mem_list.num5 a, .mem_list.num6 a, .mem_list.num7 a {border-top:1px solid #7a6bbf}

	.autoScroll_top {right:5%}
	/* login END */



	/* join1 START */
	.join1 .st.stTit {font-size:32px}
	.join_step {margin-bottom:60px}
	.join1 .sstDes {height:auto;background-position:center 20px;background-size:100px}
	.join1 .sd {margin-left:8%;margin-right:8%;text-align:center}
	.join1 .sd.paraTop {padding-top:140px;font-size:29px}
	.join1 .sd.paraTop .line_feed {display:inline}
	.join1 .sd.paraBottom {padding-bottom:30px}

	.join_step ul {width:90%}
	.JS_list {width:28.6%}
	.JS_list.num4 {width:14%}
	.JS_bar {width:21%;margin-left:25%}
	
	.join1 .card_data {display:none} /* 모바일 버전 숨기기 */
	.join1 fieldset {display:block}
	.join1 legend {display:none} /* 제목이 있으므로 스크린리더도 못읽게 숨김 */
	
	.cardNum_mob.row1, .cardNum_mob.row2 {margin-bottom:20px}
	.cardNum_mob.row3, .cardNum_mob.row4 {margin-bottom:10px}
	.cardNum_mob label {display:inline-block;width:20%;font-weight:600;font-size:15px}
	.join1 input, .join1 select {width:17%}
	.virtualPad {padding:4px 0 4px 22px;font-size:12px;vertical-align:middle;background:url(../images/icon_safety1.png) no-repeat 0 center;}
	.cardNum_mob.row3 .virtualPad {margin-left:37px;}
	.cardNum_mob.row4 .virtualPad {margin-left:15px;}
	
	.join1 .next_page {margin-bottom:0}

	/* 하단 멤버 테두리/block이나 none */
	.join1 .mem_list.num1 {display:none}
	.join1 .mem_list.num4 {display:block}
	.join1 .mem_list.num2 a {border-right:1px solid #7a6bbf}
	.join1 .mem_list.num3 a {border-right:1px solid #7a6bbf}
	.join1 .mem_list.num5 a {border-top:1px solid #7a6bbf;border-right:1px solid #7a6bbf}
	/* join1 END */
	


	/* manual START */
	.lnb3 ul {width:80%}
	.manual .sstDes {height:125px;margin-bottom:50px;padding:148px 4% 0 4%;text-align:center;letter-spacing:-1px;background-position:center 26px;background-size:106px}
	.mat.uDep3.mat_site li {display:block;line-height:35px}
	.mat.uDep3 {margin-top:10px}
	.mat.uDep3 .line_feed {display:inline}
	.mat.uDep2 .line_feed {display:inline}
	.manual .mem_box {margin-top:0;margin-bottom:0}
	.manual .mem_list {width:50%}
	.manual .mem_list a {box-sizing:border-box}
	.manual .mem_list.num1 {display:none}
	.manual .mem_list.num4 {display:block}
	.manual .mem_list.num2 a {border-right:1px solid #7a6bbf;border-bottom:1px solid #7a6bbf}
	.manual .mem_list.num3 a {border-bottom:1px solid #7a6bbf;}
	.manual .mem_list.num4 a {border-right:1px solid #7a6bbf}
	.user_menu {height:170px}
	.mat.uDep1 {margin-bottom:0}
	/* manual END */




	/* card01 START */
	.CK_list {width:50%}
	.CK_list.num2 dd {border-right:0 none}
	.card_info {width:50%}
	.card_info.col2 {background-position:92% center}
	.card_info.col3 {width:100%;border-top:0 none;border-left:1px solid #d6d5dc;}
	.CK.row2 {margin-bottom:40px}
	.card_kind.bot {margin-bottom:80px}
	/* card01 END */


}


/*  mobile [280~480] */
@media  all  and   (max-width:480px) {
	/* login START */
	.sub.col1, .mem_join, .sub.col2 {margin-bottom:50px}
	.login .sub_top {height:125px}
	.st {float:none}
	.st.stRad {padding-top:10px}
	.lnb3 {display:none}
	.lnb3 ul {width:65%}
	.login .stTit {width:100%;padding-top:25px;font-size:32px}
	.stRad {padding-top:10px}
	.login_box {background-position:center 105px}
	.mem_join {width:100%}
	.faq p {width:16%}
	.sub.col1, .sub.col2 {float:none;width:100%}
	

	.member {border:0 none}
	.member h4 {height:33px;margin-bottom:20px;padding-left:0;font-size:25px;background:none}
	.member ul {overflow:hidden;margin-top:0;margin-bottom:0}
	.mem_list {float:left;width:33.3%;height:60px}
	.mem_list.num4 {display:none}
	.mem_list a:link, .mem_list a:visited, .login .mem_list.num4 a:link, .login .mem_list.num4 a:visited  {padding-top:9px;padding-left:0;box-sizing:border-box;font-weight:600;font-size:14px;line-height:20px;text-align:center;color:#fff;background-color:#614cc2}
	.mem_list a:hover, .mem_list a:focus, .login .mem_list.num4 a:hover, .login .mem_list.num4 a:focus  {text-decoration:none;background-color:#785df4}
	.login .mem_list.num4 a {background-image:none}
	.login .mem_list.num1 a, .login .mem_list.num5 a {border-right:1px solid #7a6bbf;}
	.login .mem_list.num2 a, .mem_list.num6 a {border-right:1px solid #7a6bbf}
	.login .mem_list.num3 a {border-top:1px solid #7a6bbf;border-right:1px solid #7a6bbf}
	.login .mem_list.num5 a, .mem_list.num6 a, .mem_list.num7 a {border-top:1px solid #7a6bbf}

	.lb_list span {display:block}
	.lb_list a {padding-top:12px;box-sizing:border-box;font-size:15px;line-height:21px}
	.radius_box {width:85%}
	.rbtop {height:50px;margin-top:155px;margin-bottom:10px}
	.rbtop a {line-height:50px}
	.log_desc li {font-size:13px;line-height:19px}
	.rbbottom {margin-bottom:20px}
	.safety, .faq {display:none}
	.info_log {margin-bottom:0}
	.info_list {font-size:12px;line-height:18px}
	.info_log ul {margin-top:20px}
	.mem_list a span {display:block}

	.autoScroll_top {right:5%}
	/* login END */


	/* join1 START */
	.join1 .sub.col1 {margin-bottom:40px}
	.join1 .sub_top {height:85px}
	.join1 .st.stTit {font-size:28px}
	.join1 .st {padding-top:35px}
	.join_step {height:105px;margin-bottom:50px}
	.join1 .sstDes {height:auto;background-position:center 20px;background-size:100px}
	.join1 .sd {margin-left:8%;margin-right:8%;text-align:center}
	.join1 .sd.paraTop {padding-top:140px;font-size:29px}
	.join1 .sd.paraTop .line_feed {display:inline}
	.join1 .sd.paraBottom {padding-bottom:30px}

	.join_step ul {width:95%}
	.JS_list, .JS_list.num4 {width:25%}
	.JS_list.num4 {float:left}
	.JS_list p {text-align:center}
	.JS_list span {float:none;}
	.JS_icon, .JS_list.num4 .JS_icon {display:block;margin:0 auto 10px}
	.JS_bar {display:none}
	.JS_list em {display:none}
	
	.join1 .card_data {display:none} /* 모바일 버전 숨기기 */
	.join1 fieldset {display:block}
	.join1 legend {display:none} /* 제목이 있으므로 스크린리더도 못읽게 숨김 */
	
	.cardNum_mob {margin-bottom:20px}
	.cardNum_mob.row4 {margin-bottom:0}
	.cardNum_mob label {display:block;width:auto;margin-bottom:10px;font-weight:600;font-size:15px}
	.join1 input, .join1 select {width:21%;height:30px}
	.virtualPad {padding:4px 0 4px 22px;font-size:12px;vertical-align:middle;background:url(../images/icon_safety1.png) no-repeat 0 center;}
	.virtualPad {display:block;margin-top:5px}
	
	.join1 .next_page {margin-bottom:0}
	/* 하단 멤버 테두리/block이나 none */
	.join1 .mem_list.num1 {display:none}
	.join1 .mem_list.num4 {display:block}
	.join1 .mem_list.num4 a {line-height:38px}
	.join1 .mem_list.num2 a {border-right:1px solid #7a6bbf}
	.join1 .mem_list.num3 a {border-right:1px solid #7a6bbf}
	.join1 .mem_list.num5 a {border-top:1px solid #7a6bbf;border-right:1px solid #7a6bbf}
	/* join1 END */



	/* manual START */
	.lnb3 ul {width:80%}
	.manual .sstDes {display:none}
	.manual .sstDes .line_feed {display:inline}
	.mat.uDep3.mat_site li {display:block;line-height:35px}
	.mat.uDep3 {margin-top:10px}
	.mat.uDep3 .line_feed {display:inline}
	.mat.uDep2 .line_feed {display:inline}

	.manual .mem_box {margin-top:0;margin-bottom:0}
	.manual .mem_list {width:50%}
	.manual .mem_list a {box-sizing:border-box}
	.manual .mem_list.num1 {display:none}
	.manual .mem_list.num4 {display:block}
	.manual .mem_list.num2 a {border-right:1px solid #7a6bbf;border-bottom:1px solid #7a6bbf}
	.manual .mem_list.num3 a {border-bottom:1px solid #7a6bbf;}
	.manual .mem_list.num4 a {border-right:1px solid #7a6bbf}

	.user_menu {height:190px}
	.mat.uDep1 {margin-bottom:0}
	.man_list.num2 a {padding-top:13px;line-height:20px}
	.man_list.num2 .line_feed {display:block}
	.mat.uDep1 li {line-height:22px;background-position:0 12px}
	.manual h4 {margin-bottom:15px}
	.mat.uDep2 {margin-top:10px;margin-bottom:20px}
	.mat.uDep3 {margin-top:6px}
	.stTit {font-size:28px}
	.sub_top {height:85px}
	.manual .st {padding-top:35px}
	.man_tap {margin-bottom:35px}
	.mat.uDep2 li {background-position:0px 6px}
	.mat_site {display:none}
	.manual .mem_list a:link, .manual .mem_list a:visited {padding-top:0;line-height:60px}
	
	/* manual END */




	/* card01 START */
	.container.card01 {width:95%}
	.card01 .sub_top {margin-bottom:25px}
	.CK_list {width:50%}
	.CK_list dd {height:115px}
	.CK_list.num2 dd {border-right:0 none}
	.card_info {width:50%}
	.card_info.col3 {width:100%;border-top:0 none;border-left:1px solid #d6d5dc}
	.CK.row2 {margin-bottom:0}
	.card_kind.bot {margin-bottom:45px}

	.CK_list .titImg {display:none}
	.card_info {width:100%}
	.card_info.col2 {border-top:0 none;border-left:1px solid #d6d5dc}
	/* card01 END */
}

