@charset "UTF-8";
html {
  font-size: 26.6666666vw;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 0.16rem;
  margin: 0;
}

main {
  display: block;
}

p {
  margin: 0;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

hr {
  overflow: visible;
  height: 0;
  border: 0 none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  width: 100%;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

mark {
  color: inherit;
  background: transparent;
}

figure {
  margin: 0;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NotoSansKR-Regular.woff2"), local("NotoSansKR-Regular.woff"), local("NotoSansKR-Regular.otf"), url(/font/NotoSansKR-Regular.woff2) format("woff2"), url(/font/NotoSansKR-Regular.woff) format("woff"), url(/font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("NotoSansKR-Regular.woff2"), local("NotoSansKR-Regular.woff"), local("NotoSansKR-Regular.otf"), url(/font/NotoSansKR-Bold.woff2) format("woff2"), url(/font/NotoSansKR-Bold.woff) format("woff"), url(/font/NotoSansKR-Bold.otf) format("opentype");
}

body {
  font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', AppleGothicNeoSD,
 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;
  color: #222;
}

.blind {
  overflow: hidden;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0 none;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.line-break {
  display: block;
}

@media screen and (min-width: 601px) {
  .line-break {
    display: inline;
  }
}

.divide-line {
  height: 2px;
  background: #000;
}

.divide-line--bold {
  height: 4px;
}

.divide-line--light-gray {
  background: #eee;
}

.content__tit {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 1.4;
  letter-spacing: -0.05em;
  word-break: keep-all;
}

@media screen and (min-width: 601px) {
  .content__tit {
    font-size: 30px;
    line-height: 1.5;
  }
}

.txt__mark {
  position: relative;
}

.txt__mark::after {
  z-index: -1;
  position: absolute;
  top: 56%;
  left: 50%;
  width: 100%;
  height: 44%;
  padding: 0 6px;
  background: #9FEDBC;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
}

.txt__cite {
  font-style: normal;
  font-size: 10px;
  color: #7a7a7a;
}

.start__tit {
  margin: 0 0 16px 0;
}

.start__tit .content__tit {
  color: #fff;
  word-break: keep-all;
}

.main-slide {
  height: 100%;
}

.main-slide__content {
  padding: 0.16rem;
}

.main-slide__info {
  font-size: 16px;
}

.main-slide .content__tit {
  margin: 16px 0 26px 0;
  font-size: 34px;
  letter-spacing: -0.05em;
}

.main-slide__link {
  display: block;
  width: 114px;
  padding: 10px 12px;
  border: 2px solid #222;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  background: url(/myPub/naverWorks/images/bt-14-linkarrow-222222.svg) no-repeat;
  background-position: 94px center;
}

.main-slide__images {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

[data-swiper-slide-index='0'] .main-slide__images {
  background: url(/myPub/naverWorks/images/naver-banner-01-m.jpg) no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media screen and (min-width: 601px) {
  [data-swiper-slide-index='0'] .main-slide__images {
    background-position: 0 70%;
  }
}

[data-swiper-slide-index='1'] .main-slide__images {
  background: url(/myPub/naverWorks/images/bg.svg) no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media screen and (min-width: 601px) {
  [data-swiper-slide-index='1'] .main-slide__images {
    background-position: center 72%;
  }
}

[data-swiper-slide-index='2'] .main-slide__images {
  background: #f2fcfd;
}

[data-swiper-slide-index='2'] .main-slide__images img:nth-child(1) {
  position: absolute;
  top: 0;
  left: -20px;
  width: 104px;
}

[data-swiper-slide-index='2'] .main-slide__images img:nth-child(2) {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 247px;
}

@media screen and (min-width: 601px) {
  [data-swiper-slide-index='2'] .main-slide__images img:nth-child(2) {
    width: 314px;
    bottom: 16px;
  }
}

.main-slide .main-slide__pagination {
  bottom: 22px;
}

.main-slide .main-slide__pagination .swiper-pagination-bullet-active {
  background: #000;
}

.client__tit {
  padding: 0 0.16rem;
}

.client-slide {
  padding: 0.36rem 0;
}

@media screen and (min-width: 601px) {
  .client-slide {
    padding: 40px 0;
  }
}

.client-slide__cover {
  overflow: hidden;
  position: relative;
  height: 1.72rem;
}

.client-slide__cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.client-slide__content {
  position: relative;
  padding: 0 0 0.32rem 0;
  background: #f5f5f5;
}

.client-slide__img {
  position: relative;
  height: 0.64rem;
}

.client-slide__new {
  position: absolute;
  top: 0;
  right: 0.16rem;
  width: 0.6rem;
  height: 0.6rem;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.client-slide__logo {
  width: auto;
  height: 100%;
}

.client-slide__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.16rem;
}

.client-slide__nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-slide__nav li ~ li {
  margin: 0 0 0 0.12rem;
}

.client-slide__nav li ~ li::before {
  position: relative;
  top: 0;
  left: -0.06rem;
  display: inline-block;
  width: 2px;
  height: 100%;
  background: #ddd;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  content: '';
}

.client-slide__link {
  font-size: 0.12rem;
  color: #777;
}

.client-slide__company {
  padding: 0.16rem 0.16rem 0.08rem;
  font-weight: 700;
  font-size: 0.16rem;
}

.client-slide__summary {
  overflow: hidden;
  display: -webkit-box;
  height: 0.72rem;
  padding: 0 0.16rem;
  font-size: 0.12rem;
  color: #777;
  letter-spacing: -0.05em;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.client-slide__summary::after {
  position: absolute;
  bottom: 0.16rem;
  right: 0.16rem;
  width: 29px;
  height: 20px;
  background: url(/myPub/naverWorks/images/bt-24-linkarrow-345-ccd.svg) no-repeat;
  content: '';
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.36rem 0.16rem 0;
}

.client__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 84px;
  margin: 0 12px;
}

@media screen and (min-width: 601px) {
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}

.pagination--default .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 8px;
  background: #07b53b;
}

@media screen and (min-width: 601px) {
  .pagination--default .swiper-pagination-bullet-active {
    width: 46px;
    height: 14px;
  }
}

.header__hamburger-menu {
  margin-left: 0.16rem;
  outline: none;
  cursor: pointer;
}

.header__hamburger-menu input[id='hamburger-menu-ico'] {
  display: none;
}

.header__hamburger-menu input[id='hamburger-menu-ico'] + label {
  position: relative;
  display: block;
  width: 0.3rem;
  height: 0.24rem;
}

.header__hamburger-menu input[id='hamburger-menu-ico'] + label span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.04rem;
  border-radius: 5px;
  background-color: #000;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__hamburger-menu input[id='hamburger-menu-ico'] + label span:nth-child(1) {
  top: 0;
}

.header__hamburger-menu input[id='hamburger-menu-ico'] + label span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__hamburger-menu input[id='hamburger-menu-ico'] + label span:nth-child(3) {
  bottom: 0%;
}

.header__hamburger-menu input[id='hamburger-menu-ico']:checked + label span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.header__hamburger-menu input[id='hamburger-menu-ico']:checked + label span:nth-child(2) {
  opacity: 0;
}

.header__hamburger-menu input[id='hamburger-menu-ico']:checked + label span:nth-child(3) {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-radius: 0.5em;
  font-size: 0.16rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}



.btn--font-small {
  font-size: 0.12rem;
}

.btn--white {
  color: #07b53b;
  background-color: #fff;
}

.btn--green {
  color: #fff;
  background-color: #07b53b;
}

.btn-border {
  border: 2px solid #fff;
}

.btn--close {
  background: url(/myPub/naverWorks/images/cs-btn-delete-grey-1.svg) no-repeat;
  background-size: contain;
}

.mobile-download {
  position: fixed;
  left: 100vw;
  bottom: 0;
  width: 100%;
  height: 0.88rem;
  padding: 0.16rem;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.mobile-download .btn {
  font-size: 0.16rem;
}

.start__btn {
  height: 56px;
  margin: 16px 0 0;
}

.start__btn .btn {
  font-weight: 700;
  font-size: 16px;
}

.to-top {
  position: absolute;
  bottom: 0.16rem;
  right: 0.16rem;
  width: 0.48rem;
  height: 0.48rem;
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
  background: #000 url(/myPub/naverWorks/images/icon-top-mobile.svg) no-repeat;
  background-position: center;
  opacity: 0.5;
}

.inquiry {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  padding: 14px 14px;
  border-radius: 40px;
  background: #fff;
  -webkit-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.inquiry.active {
  width: 94px;
  padding: 14px 22px;
}

.inquiry.active .inquiry__link {
  opacity: 1;
  display: inline;
}

.inquiry__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
  outline: none;
  background: url(/myPub/naverWorks/images/icon-cs.svg) no-repeat;
}

.inquiry__link {
  opacity: 0;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__mobile-nav {
  z-index: 100;
  overflow-y: scroll;
  position: fixed;
  top: 0.6rem;
  bottom: 0;
  left: 100vw;
  width: 100%;
  margin-bottom: 0.88rem;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__mobile-nav.show {
  left: 0;
}

.mobile-menu {
  padding-bottom: 0.6rem;
}

.mobile-menu__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.14rem;
  border-bottom: 0.01rem solid #eee;
}

.mobile-menu__tit strong {
  font-weight: 700;
  font-size: 0.18rem;
}

.mobile-menu__ico {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  margin-left: 0.08rem;
  background: url(/myPub/naverWorks/images/img-sprite.svg) no-repeat;
  background-position: 0 -19.98rem;
  background-size: 0.8rem auto;
}

.mobile-menu__ico.animated {
  background-position: 0 -20.99rem;
}

.mobile-menu-depth2 {
  overflow: hidden;
  height: 0;
  border-bottom: 0 solid #eee;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-menu-depth2.show {
  height: auto;
  padding: 0.14rem 0;
  border-bottom-width: 1px;
}

.mobile-menu-depth2__item {
  padding: 0.14rem;
}

.site-map__item {
  background: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.site-map__item.active .site-map__tit {
  border-bottom: 0 none;
}

.site-map__item.active .site-map__tit button::after {
  background: url(/myPub/naverWorks/images/img-sprite.svg) no-repeat;
  background-position: -9px -2597px;
  background-size: 90px 3862px;
}

.site-map__item.active .site-map__depth2 {
  height: auto;
  padding: 0.16rem;
  border-bottom: 1px solid #222;
}

.site-map__tit {
  position: relative;
  height: 0.6rem;
  border-bottom: 1px solid #222;
}

.site-map__tit button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px 0.16rem;
  font-size: 0.16rem;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-map__tit button::after {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url(/myPub/naverWorks/images/img-sprite.svg) no-repeat;
  background-position: -9px -2483px;
  background-size: 90px 3862px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
}

.site-map__depth2 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  padding: 0 0.16rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.site-map__depth2 > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0.3rem 0 0;
}

.site-map__link {
  color: #888;
  line-height: 2.5;
  text-decoration: underline;
}

.tab__tit {
  position: relative;
  padding: 0 0.16rem 0.3rem;
}

@media screen and (min-width: 601px) {
  .tab__tit {
    padding: 0 0.16rem 40px;
  }
}

.tab__container {
  overflow-x: hidden;
}

.tab-menu {
  padding: 0 0.16rem;
}

.tab-menu__container {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.tab-menu__item {
  display: block;
  position: relative;
  width: auto !important;
  font-size: 16px;
  outline: none;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.tab-menu__item.active {
  font-weight: 700;
}

.tab-menu__item ~ .tab-menu__item {
  margin: 0 0 0 30px;
}

.tab-menu__item.active .tab-menu__bar {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.tab-menu__bar {
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #07b53b;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.tab-menu__control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.tab-menu--prev::after, .tab-menu--next::after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 25px;
  content: '';
}

.tab-menu--prev {
  position: absolute;
  left: 0;
  margin: 0;
}

.tab-menu--next {
  position: absolute;
  right: 0;
  margin: 0;
}

.tab-menu--prev::after {
  left: 0;
  background: url(/myPub/naverWorks/images/tabSlideArrow_prev.png) no-repeat;
  background-size: contain;
}

.tab-menu--next::after {
  right: 0;
  background: url(/myPub/naverWorks/images/tabSlideArrow_next.png) no-repeat;
  background-size: contain;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.tab-content {
  padding: 0.36rem 0 36px;
}

@media screen and (min-width: 601px) {
  .tab-content {
    padding: 40px 0 40px;
  }
}

.tab-content__item {
  position: relative;
}

.tab-content__imgs {
  padding: 0 0.16rem 0.16rem;
}

.tab-content__txts {
  position: relative;
  padding: 0 0.16rem;
}

.tab-content__tit {
  padding: 0 0 16px 0;
}

.tab-content__tit strong {
  font-size: 12px;
  color: #07b53b;
}

@media screen and (min-width: 601px) {
  .tab-content__tit strong {
    font-size: 16px;
  }
}

.tab-content__tit .content__tit {
  margin: 12px 0 0;
}

.tab-content__summary {
  padding: 0 0 16px;
  line-height: 1.5;
  word-break: keep-all;
}

@media screen and (min-width: 601px) {
  .tab-content__summary {
    font-size: 16px;
    line-height: 1.8;
  }
}

.tab-content__link {
  display: block;
  color: #345CCD;
}

@media screen and (min-width: 601px) {
  .tab-content__link {
    font-size: 16px;
  }
}

.tab-content__link::after {
  display: inline-block;
  width: 33px;
  height: 14px;
  margin: 0 0 0 8px;
  background: url(/myPub/naverWorks/images/img-sprite.svg) no-repeat;
  background-position: 0 -1247px;
  background-size: 83px 3561px;
  content: '';
}

.tab-content__control button {
  display: none;
}

.tab__business .tab-content__txts .content__tit {
  z-index: 1;
  position: relative;
  top: -40px;
  left: 0;
}

@media screen and (min-width: 601px) {
  .tab__business .tab-content__txts .content__tit {
    top: -46px;
  }
}

.tab__business .tab-content__imgs {
  overflow: hidden;
  max-height: 460px;
  padding: 0 0 0.16rem;
}

@media screen and (min-width: 601px) {
  .tab__business .tab-content__imgs {
    max-height: 680px;
  }
}

.tab__business .tab-content__txts::after {
  position: absolute;
  top: -56px;
  left: 0;
  width: 3rem;
  height: 64px;
  background: #fff;
  content: '';
}

@media screen and (min-width: 601px) {
  .tab__business .tab-content__txts::after {
    top: -62px;
    width: 1.9rem;
  }
}

.tab__business .tab-content__summary {
  margin: -8px 0 0;
}

@media screen and (min-width: 601px) {
  .tab__business .tab-content__summary {
    margin: -24px 0 0;
  }
}

.header {
  height: 0.6rem;
}



.header--hide .header__container {
  -webkit-transform: translate3d(0, -0.6rem, 0);
          transform: translate3d(0, -0.6rem, 0);
}



.header__container {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.6rem;
  padding: 0 0.16rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



.header__logo {
  width: 1.5rem;
  margin: 0 auto 0 0;
}



.header .logo__tit {
  line-height: 0;
}

.header .logo__tit img {
  display: block;
}

.header__btn {
  width: 1rem;
  height: 0.28rem;
}



.header__desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-nav__item {
  position: relative;
}

.desktop-nav__item[data-depth2='none']:hover .desktop-nav__link::after {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #07b53b;
  content: '';
}

.desktop-nav__item:not([data-depth2='none']):hover .desktop-nav-depth2, .desktop-nav-depth:hover {
  display: block;
}

.desktop-nav__link {
  display: block;
  position: relative;
  padding: 16px 0;
  font-size: 14px;
}

.desktop-nav > li ~ li {
  padding: 0 0 0 24px;
}

.desktop-nav-depth2 {
  position: absolute;
  top: 42px;
  left: 0;
  display: none;
  padding: 30px 20px;
  width: 176px;
  background: #fff;
  -webkit-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.4);
}

.desktop-nav-depth2 > li ~ li {
  margin: 34px 0 0 0;
}

.desktop-nav-depth2__link {
  display: block;
  font-size: 14px;
}

.desktop-nav-depth2__link:hover {
  color: #07b53b;
}

.desktop-login {
  display: block;
  position: relative;
  margin: 0 24px 0 48px;
  font-weight: 700;
  font-size: 14px;
}

.desktop-login::after {
  position: absolute;
  top: 0;
  left: -24px;
  display: block;
  width: 2px;
  height: 100%;
  background: #ddd;
  content: '';
}

.header__support {
  position: absolute;
  top: 0;
  right: 0;
  width: 122px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header__support__item {
  -webkit-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.content {
  position: relative;
}



.content__front-banner {
  margin: -1px 0 0 0;
  padding: 16px 0.16rem;
  border-top: 1px solid #eee;
}

.content__slide {
  height: 415px;
}


.content__tab .pagination--default,
.content__client .pagination--default {
  position: relative;
}

.content__tab .pagination--default {
  bottom: -24px;
}

.content__notice {
  padding: 0.12rem 0.16rem;
  background: #f5f5f5;
}

.content__tab, .content__credit, .content__client {
  padding: 80px 0 0;
}

@media screen and (min-width: 601px) {
  .content__tab, .content__credit, .content__client {
    padding: 100px 0 0;
  }
}

.content .contnet__line {
  padding: 80px 0.16rem 0;
}

@media screen and (min-width: 601px) {
  .content .contnet__line {
    padding: 100px 0.16rem 0;
  }
}

.content__client .pagination--default {
  bottom: -16px;
}

.content__download {
  padding: 80px 0.16rem;
}

.content__btn {
  height: 56px;
  margin: 16px 0 0;
}

.content__btn .btn {
  font-weight: 700;
  font-size: 16px;
}

.content__info {
  padding: 80px 0.16rem;
  background: #f5f5f5;
}

.content__start {
  padding: 80px 0.16rem;
  background: #07b53b;
}

.content__inquiry {
  z-index: 50;
  position: fixed;
  bottom: 0.16rem;
  right: 0.16rem;
}

.front-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-banner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 601px) {
  .front-banner__link {
    font-size: 16px;
  }
}

.front-banner__link strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.2em 0 0;
  color: #07b53b;
}

.front-banner__link strong::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 0.4em 0 0;
  content: '';
  background: url(/myPub/naverWorks/images/img-sprite.svg) no-repeat;
  background-position: 0 -1384px;
  background-size: 79px 3390px;
}

.front-banner__btn {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 601px) {
  .front-banner__btn {
    width: 40px;
    height: 40px;
  }
}

.notice {
  position: relative;
  font-size: 16px;
  /* 반응형 높이 제어용 font-size */
}

.notice__theme {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 16px;
  color: #07b53b;
}

.notice__tit {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.05em;
  word-break: keep-all;
}

.notice__link {
  position: absolute;
  top: -3px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #345CCD;
}

.notice__link::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 0 0 4px;
  background: url(/myPub/naverWorks/images/img-sprite.svg) no-repeat;
  background-position: 0 -3407px;
  background-size: 88px 3776px;
  content: '';
}



.credit__tit {
  padding: 0 0.16rem;
}

.credit__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



.credit__images img {
  width: 72%;
}


.credit__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credit__txt b {
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 601px) {
  .credit__txt b {
    font-size: 16px;
  }
}

.credit__txt .content__tit {
  margin: 8px 0 12px;
}

.credit__txt .content__tit span {
  font-size: 12px;
}

.info__tit {
  margin: 0 0 0.16rem;
}

.info__list > li ~ li {
  margin: 16px 0 0;
}

.info__cover {
  overflow: hidden;
  position: relative;
  height: 1.72rem;
}

.info__cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.info__content {
  position: relative;
  padding: 0.16rem 0.16rem 0.48rem;
  background-color: #fff;
}

.info__hashtag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__hashtag-list li ~ li {
  margin: 0 0 0 8px;
}

.info__link {
  font-size: 12px;
  color: #345CCD;
}

@media screen and (min-width: 601px) {
  .info__link {
    font-size: 16px;
  }
}

.info__content-tit {
  margin: 16px 0;
  font-weight: 700;
  font-size: 0.16rem;
  word-break: keep-all;
  line-height: 1.5;
}

@media screen and (min-width: 601px) {
  .info__content-tit {
    font-size: 0.12rem;
  }
}

.info__meta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__meta-list::after {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 29px;
  height: 20px;
  background: url(/myPub/naverWorks/images/bt-24-linkarrow-345-ccd.svg) no-repeat;
  content: '';
}

.info__meta-list li {
  font-size: 12px;
  color: #777;
}

@media screen and (min-width: 601px) {
  .info__meta-list li {
    font-size: 14px;
  }
}

.info__meta-list li ~ li {
  margin: 0 0 0 16px;
}

.footer {
  background: #222;
}

.footer .footer__address {
  padding: 0.3rem 0.16rem;
  font-style: normal;
  color: #888;
  line-height: 2;
  font-size: 0.12rem;
}

.footer .footer__address strong {
  font-weight: 700;
}

.footer .affiliate {
  padding: 0 0.16rem 0.3rem;
}

.footer .affiliate li ~ li {
  margin: 0 0 0 0.16rem;
}

.footer .affiliate__item {
  float: left;
  height: 0.16rem;
}

.footer .affiliate__item img {
  width: auto;
  height: 100%;
}

.footer .affiliate::after {
  display: block;
  clear: both;
  content: '';
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.16rem 0.16rem;
}

.footer .footer__menu li {
  position: relative;
}

.footer .footer__menu li ~ li {
  margin: 0 0 0 0.16rem;
}

.footer .footer__menu li ~ li::after {
  position: absolute;
  top: 2px;
  left: -0.08rem;
  width: 2px;
  height: 100%;
  background: #343434;
  content: '';
}

.footer .footer__menu a {
  font-size: 0.14rem;
  color: #777;
}

.footer__copyright {
  padding: 0 0.16rem 0.3rem;
  font-size: 0.14rem;
  color: #777;
}

@media screen and (max-width: 979px) {
  .only-desktop {
    display: none;
  }
}


/*# sourceMappingURL=index.css.map */