@charset "UTF-8";

@media (min-width:600px) and (max-width:767px) {

    /*------------------------------------*\
    #S1 (1 ~ 16)
    \*------------------------------------*/

    /* s01_001_s2 시작 */
    .s01_001_s2 .wrap {
        width: 192px;
    }

    .s01_001_s2 .wrap > div:first-of-type {
        width: 127px;
    }

    .s01_001_s2 .row_box {
        grid-template: repeat(2,15px) / repeat(5,15px);
        padding: 8px;
    }

    .s01_001_s2 .col_box {
        grid-template: repeat(5,15px) / repeat(2,15px);
        padding: 8px;
    }

    /* s01_001_s2 끝 */


    /* s01_001_s3 시작 */
    .s01_001_s3 .wrap {
        width: 206px;
        height: 185px;
    }

    .s01_001_s3 .wrap > ul > li {
        width: 52px;
        height: 52px;
    } 

    .s01_001_s3 .circle {
        grid-template: repeat(3,7px) / repeat(3,7px);
        grid-gap: 2px;
    }

    .s01_001_s3 .wrap > ul > li::after {
        width: 5px;
        height: 5px;
    }

    .s01_001_s3 .wrap > ul:first-of-type > li:first-of-type::after {
        bottom: 0;
    }

    .s01_001_s3 .wrap > ul:last-of-type > li:first-of-type::after {
        bottom: 0%;
    }
    /* s01_001_s3 끝 */


    /* s01_002_s2 시작 */
    .s01_002_s2 .top_box {
        grid-template: repeat(2, 13px) / repeat(5, 13px);
        grid-gap: 7px;
        padding: 9px;
    }

    .s01_002_s2 .bottom_box {
        grid-template: repeat(2, 16px) / repeat(5, 16px);
        grid-gap: 8px;
        padding: 10px;
    }

    .s01_002_s2 .ans {
        height: 100%;
        border-radius: 0 10px 10px 0;
    }
    /* s01_002_s2 끝 */


    /* s01_002_s3 시작 */
    .s01_002_s3 .icon_box {
        grid-template: repeat(3,25px) / repeat(3,25px);
        grid-gap: 12px;
        padding: 15px;
    }
    /* s01_002_s3 끝 */


    /* s01_003_s2 시작 */
    .s01_003_s2 .wrap li ~ li {
        margin-left: 15px;
    }

    .s01_003_s2 .wrap li:nth-of-type(n+2):nth-of-type(-n+4)::after {
        left: -11px;
    }
    /* s01_003_s2 끝 */


    /* s01_003_s3, s01_009_s3 시작 */
    .s01_003_s3 .ex_txt, 
    .s01_009_s3 .ex_txt {
        width: 142px;
    }

    .s01_003_s3 .ex_txt li, 
    .s01_009_s3 .ex_txt li {
        width: 42px;
        height: 48px;
    }

    .s01_003_s3 .ex_txt li:first-of-type,
    .s01_009_s3 .ex_txt li:first-of-type {
        margin-left: 24px;
    }

    .s01_003_s3 .ex_txt li:nth-of-type(2),
    .s01_009_s3 .ex_txt li:nth-of-type(2) {
        margin-right: 24px;
    }
    /* s01_003_s3, s01_009_s3 끝 */


    /* s01_004_s2 시작 */
    .s01_004_s2 .wrap {
        width: 180px;
    }

    .s01_004_s2 .ans_box_wrap>.ex_txt {
        width: 42px;
        height: 42px;
    }

    .s01_004_s2 .line_number {
        margin-bottom: 12px;
    }

    .s01_004_s2 .que_txt {
        width: 64px;
        padding-top: 10px;
    }

    .s01_004_s2 .point {
        width: 28px;
        height: 28px;
    }
    /* s01_004_s2 끝 */


    /* s01_004_s3, s01_010_s3 시작 */
    .s01_004_s3 .wrap,
    .s01_010_s3 .wrap {
        width: 208px;
    }

    .s01_004_s3 .nbox ul>li,
    .s01_010_s3 .nbox ul>li {
        width: 64px;
        height: 56px;
    }

    .s01_004_s3 .exbox .que_txt,
    .s01_010_s3 .exbox .que_txt {
        top: -9px;
        height: 32px;
    }

    .s01_004_s3 .line-box>div,
    .s01_010_s3 .line-box>div {
        top: 171px;
        left: 93px;
    }

    .s01_004_s3 .line-box .top,
    .s01_010_s3 .line-box .top {
        top: 63px;
    }

    .s01_004_s3 .line-box .middle,
    .s01_010_s3 .line-box .middle {
        top: 117px;
    }

    .s01_004_s3 .line-top-up1,
    .s01_010_s3 .line-top-up1 {
        transform: rotate(-34deg);
    }

    .s01_004_s3 .line-top-up2,
    .s01_010_s3 .line-top-up2 {
        transform: rotate(-54deg);
    }

    .s01_004_s3 .line-bottom-down1,
    .s01_010_s3 .line-bottom-down1 {
        transform: rotate(34deg);
    }

    .s01_004_s3 .line-bottom-down2,
    .s01_010_s3 .line-bottom-down2 {
        transform: rotate(54deg);
    }
    /* s01_004_s3, s01_010_s3 끝 */


    /* s01_005_s3 시작 */
    .s01_005_s3 .wrap {
        height: 156px;
    }

    .s01_005_s3 .qbox ul>li {
        width: 62px;
        height: 44px;
    }

    .s01_005_s3 .qbox ul>li~li {
        margin-left: 8px;
    }

    .s01_005_s3 .line-box-type2 .left   {
        left: 32px;
    }

    .s01_005_s3 .line-box-type2 > div   {
        top: 43px;
    }

    .s01_005_s3 .line-box-type2 .center {
        left: 102px;
    }

    .s01_005_s3 .line-box-type2 .right  {
        left: 172px;
    }

    .s01_005_s3 .line-right1    {
        transform: rotate(-45deg);
    }
    
    .s01_005_s3 .line-right2    {
        transform: rotate(-64deg);
    }

    .s01_005_s3 .line-left1    {
        transform: rotate(45deg);
    }
    
    .s01_005_s3 .line-left2    {
        transform: rotate(64deg);
    }

    @keyframes s01_005_s3-line-straight {
        to {
            height: 70px;
        }
    }

    @keyframes s01_005_s3-line-right1 {
        to {
            height: 100px;
        }
    }

    @keyframes s01_005_s3-line-right2 {
        to {
            height: 160px;
        }
    }
    /* s01_005_s3 끝 */


    /* s01_006_s2 시작 */
    .s01_006_s2 .img_w100hauto,
    .s03_048_s3 .img_w100hauto {
        top: 27px;
        width: 13px;
    }

    .s01_006_s2 .ex_txt>li:first-child {
        margin-left: 16px;
    }

    .s01_013_s3 .wrap ul:first-child {
        width: 112px;
    }
    /* s01_006_s2 끝 */


    /* s01_006_s3 시작 */
    .s01_006_s3 .qbg {
        width: 196px;
    }

    .s01_006_s3 .qbg li {
        width: 56px;
        height: 50px;
    }

    .s01_006_s3 .wrap>.ex_txt {
        width: 48px;
        height: 76px;
    }

    .s01_006_s3 .roundNum {
        margin-right: 0;
    }

    .s01_006_s3 .line-box>div {
        left: 119px;
    }

    .s01_006_s3 .line-box .top {
        top: 26px;
    }

    .s01_006_s3 .line-box .middle {
        top: 75px;
    }

    .s01_006_s3 .line-box>div {
        top: 124px;
    }

    .s01_006_s3 .line-top-up1 {
        transform: rotate(-31deg);
    }

    .s01_006_s3 .line-top-up2 {
        transform: rotate(-50deg);
    }

    .s01_006_s3 .line-bottom-down1 {
        transform: rotate(30deg);
    }

    .s01_006_s3 .line-bottom-down2 {
        transform: rotate(49deg);
    }

    .s01_006_s3 .qbox>li:nth-child(even) .line-box>div {
        left: 380px;
    }
    /* s01_006_s3 끝 */


    /* s01_007_s3, s02_023_s3 시작 */
    .s01_007_s3 .wrap,
    .s02_023_s3 .wrap {
        width: 185px;
    }

    .s01_007_s3 .box_top img,
    .s02_023_s3 .box_top img {
        top: 19px;
        width: 132px;
    }

    .s01_007_s3 .borderline,
    .s02_023_s3 .borderline {
        width: 46px;
        height: 48px;
    }

    .s01_007_s3 .qbox li:nth-child(1) .box_top,
    .s01_007_s3 .qbox li:nth-child(2) .box_top,
    .s02_023_s3 .qbox li:nth-child(1) .box_top,
    .s02_023_s3 .qbox li:nth-child(2) .box_top {
        margin-bottom: 16px;
    }
    /* s01_007_s3, s02_023_s3 끝 */


    /* s01_008_s3 시작 */
    .s01_008_s3 .ex_txt {
        width: 188px;
        height: 187px;
    }

    .s01_008_s3 .ex_txt li {
        width: 52px;
        height: 52px;
    }

    .s01_008_s3 .ex_txt li:first-of-type {
        margin-right: 4px;
    }

    .s01_008_s3 .ex_txt li:nth-of-type(4),
    .s01_008_s3 .ex_txt li:last-of-type {
        margin-left: 6px;
    }

    .s01_008_s3 .ex_txt:after {
        bottom: 32px;
        right: 28px;
    }
    /* s01_008_s3 끝 */


    /* s01_013_s3 시작 */
    .s01_013_s3 .wrap {
        width: 214px;
        height: 122px;
    }

    .s01_013_s3 .background-circle > div {
        width: 112px;
        height: 56px;
    }

    .s01_013_s3 .wrap ul:nth-of-type(2) {
        left: -10px;
    }

    .s01_013_s3 .num:nth-of-type(2) {
        margin-left: 45px;
    }

    .s01_013_s3 .wrap .num {
        width: 42px;
        height: 42px;
    }

    .s01_013_s3 .sign {
        width: 36px;
        height: 36px;
    }

    .s01_013_s3 .background-semicircle-top {
        border: 20px solid #eceae8;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        border-bottom: none;
    }

    .s01_013_s3 .background-semicircle-bottom {
        border: 20px solid #eceae8;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        border-top: none;
    }

    .s01_013_s3 .line-box-type1>div:nth-of-type(-n+2) {
        width: 94px;
        height: 47px;
    }

    .s01_013_s3 .line-box-type1>div:nth-of-type(-n+2)::after {
        width: 94px;
        height: 94px;
    }

    .s01_013_s3 .line-end {
        top: 59px;
        left: 102px;
    }

    @keyframes s01_013_s3-line-end {
        to {
            width: 82px;
            height: 2px;
            background-color: red;
        }
    }

    .s01_013_s3 .line-box-type1 .top {
        top: 14px;
    }

    .s01_013_s3 .line-box-type1 .bottom {
        top: 60px;
    }

    .s01_013_s3 .background-bar {
        height: 20px;
    }
    /* s01_013_s3 끝 */


    /* s01_014_s3, s02_030_s3 시작 */
    .s01_014_s3 .ver1 {
        width: 166px;
        height: 152px;
        background: url(../../images/s01_014_s3_ibg1.svg) no-repeat 0 14px;
    }

    .s01_014_s3 .ex_txt > li {
        width: 82px;
    }

    .s01_014_s3 .ver1 > li:last-of-type {
        margin-bottom: 10px;
    }

    .s01_014_s3 .ver2 {
        width: 166px;
        height: 144px;
    }
    /* s01_014_s3, s02_030_s3 끝 */


    /* s01_015_s3 시작 */
    .s01_015_s3 .wrap {
        width: 264px;
    }

    .s01_015_s3 .wrap>ul {
        width: 136px;
        height: 136px;
        border-radius: 16px;
    }

    .s01_015_s3 .wrap>dl>div {
        width: 48px;
    }

    .s01_015_s3 .wrap {
        height: 136px;
    }

    .s01_015_s3 ul.ex_txt > li.on::after {
        width: 36px;
        height: 36px;
    }
    /* s01_015_s3 끝 */


    /* s01_016_s3 시작 */
    .s01_016_s3 .ex_txt .borderline {
        width: 42px;
        height: 42px;
    }

    .s01_016_s3 .wrap {
        width: 208px;
    }

    .s01_016_s3 .ex_txt>li~li:after {
        left: -16px;
    }

    .s01_016_s3 .balloon>li {
        width: 48px;
        height: 48px;
    }

    .s01_016_s3 .balloon>li:after {
        top: 46px;
        left: 19px;
        height: 36px;
    }
    /* s01_016_s3 끝 */





    /*------------------------------------*\
    #S2 (17 ~ 32)
    \*------------------------------------*/

    /* s02_017_s2 시작 */
    .s02_017_s2 .borderline {
        width: 98px;
        height: 90px;
    }

    .s02_017_s2 .borderline>ul {
        grid-template: repeat(2, 11px) / repeat(5, 11px);
        grid-gap: 4px;
    }

    .s02_017_s2 .borderline>ul:first-of-type::after {
        top: -6px;
        left: -6px;
        padding: 5px;
    }

    /* s02_017_s2 끝 */


    /* s02_017_s3 시작 */
    .s02_017_s3 .box {
        grid-gap: 4px;
        width: 196px;
        height: 196px;
        margin-bottom: 16px;
        padding: 12px;
    }

    .s02_017_s3 .box img {
        width: 23px;
    }

    /* s02_017_s3 끝 */


    /* s02_018_s2 : p01_066_s2 동일 */
    .s02_018_s2 .wrap>ul {
        width: 339px;
    }

    .s02_018_s2 .wrap>ul li:first-of-type {
        margin-right: 18px;
    }

    .s02_018_s2 .wrap>ul li:last-of-type {
        margin-left: 18px;
    }
    /* s02_018_s2 끝 */


    /* s02_018_s3 시작 */
    .s02_018_s3 .wrap>.ex_txt>li {
        width: 52px;
        height: 44px;
    }
    /* s02_018_s3 끝 */


    /* s02_019_s3 : p01_067_s3 동일 */
    .s02_019_s3 .ex_txt {
        grid-template: repeat(3, 52px)/repeat(3, 52px);
    }

    .s02_019_s3 .ex_txt::before {
        top: 20px;
        left: -37px;
        width: 42px;
    }

    .s02_019_s3 .ex_txt::after {
        top: 124px;
        right: -24px;
        width: 29px;
    }

    @keyframes line-start {
        to {
            width: 26px;
            height: 2px;
            background-color: red;
        }
    }

    @keyframes line-right {
        to {
            width: 52px;
            height: 2px;
            background-color: red;
        }
    }

    @keyframes line-right-end {
        to {
            width: 34px;
            height: 2px;
            background-color: red;
        }
    }

    @keyframes line-bottom {
        to {
            width: 2px;
            height: 52px;
            background-color: red;
        }
    }

    /* position */
    .s02_019_s3 .line-box .top {
        top: 30px;
    }

    .s02_019_s3 .line-box .middle {
        top: 82px;
    }

    .s02_019_s3 .line-box .bottom {
        top: 134px;
    }

    .s02_019_s3 .line-box .left {
        left: 26px;
    }

    .s02_019_s3 .line-box .center {
        left: 78px;
    }

    .s02_019_s3 .line-box .right {
        left: 130px;
    }
    /* s02_019_s3 끝 */


    /* s02_020_s2, s02_026_s2 시작 */
    .s02_020_s2 .wrap,
    .s02_026_s2 .wrap {
        width: 156px;
    }

    .s02_020_s2 .wrap::after {
        left: 44px;
        width: 50px;
        height: 7px;
    }
    /* s02_020_s2, s02_026_s2 끝 */


    /* s02_020_s3, s02_026_s3 시작 */
    .s02_020_s3 .wrap img,
    .s02_026_s3 .wrap img {
        width: 36px;
    }

    /* s02_020_s3, s02_026_s3 끝 */



    /* s02_021_s2 시작 */
    .s02_021_s2 .col .ex_txt::after {
        top: 51%;
    }

    .s02_021_s2 .col .ex_txt {
        width: 120px;
    }

    .s02_021_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }

    .s02_021_s2 .col .ex_txt > li:last-of-type {
        margin-top: 9px;
    }
    /* s02_021_s2 끝 */


    /* s02_021_s3, s02_027_s3 시작 */
    .s02_021_s3 .wrap,
    .s02_027_s3 .wrap {
        width: 208px;
    }

    .s02_021_s3 .nbox ul>li,
    .s02_027_s3 .nbox ul>li {
        width: 64px;
        height: 56px;
    }

    .s02_021_s3 .exbox .que_txt,
    .s02_027_s3 .exbox .que_txt {
        top: -9px;
        width: 60px;
        height: 40px;
    }

    .s02_021_s3 .line-box>div,
    .s02_027_s3 .line-box>div{
        top: 171px;
        left: 93px;
    }

    .s02_021_s3 .line-box .top,
    .s02_027_s3 .line-box .top {
        top: 63px;
    }

    .s02_021_s3 .line-box .middle,
    .s02_027_s3 .line-box .middle {
        top: 117px;
    }

    .s02_021_s3 .line-top-up1,
    .s02_027_s3 .line-top-up1 {
        transform: rotate(-34deg);
    }

    .s02_021_s3 .line-top-up2,
    .s02_027_s3 .line-top-up2 {
        transform: rotate(-54deg);
    }

    .s02_021_s3 .line-bottom-down1,
    .s02_027_s3 .line-bottom-down1 {
        transform: rotate(34deg);
    }

    .s02_021_s3 .line-bottom-down2,
    .s02_027_s3 .line-bottom-down2 {
        transform: rotate(54deg);
    }
    /* s02_021_s3, s02_027_s3 끝 */


    /* s02_023_s2 : p01_071_s2 동일 */
    .s02_023_s2 .col .ex_txt {
        width: 120px;
    }

    .s02_023_s2 .col .ex_txt::after {
        top: 73%;
    }

    .s02_023_s2 .col .ex_txt > li:last-of-type {
        margin-top: 7px;
    }

    .s02_023_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }
    /* s02_023_s2 끝 */


    /* s02_024_s3 시작 */
    .s02_024_s3 .ex_txt {
        width: 360px;
        height: 128px;
    }
    /* s02_024_s3 끝 */


    /* s02_025_s3 : p01_067_s3 동일 */


    /* s02_026_s2 : s02_020_s2 일부 동일*/
    .s02_026_s2 .wrap::after {
        left: 62px;
        width: 50px;
        height: 7px;
    }


    /* s02_027_s2 : p01_069_s2 동일 */
    .s02_027_s2 .col ul li {
        letter-spacing: 24px;
    }


    /* s02_027_s3 : s02_021_s3 동일 */


    /* s02_029_s3 시작 */
    .s02_029_s3 .ex_txt {
        grid-template: repeat(4, 48px) / repeat(3, 64px);
        border: 3px solid #a9a09a;
    }

    .s02_029_s3 .ex_txt>li:nth-of-type(n+4) {
        border-top: 1px dashed #a9a09a;
    }

    .s02_029_s3 .ex_txt>li:nth-of-type(3n+2) {
        border-right: 1px dashed #a9a09a;
        border-left: 1px dashed #a9a09a;
    }
    /* s02_029_s3 끝 */




    /*------------------------------------*\
    #S3 (33 ~ 48)
    \*------------------------------------*/
    /* s03_033_s2 시작 */
    .s03_033_s2 .wrap>ul li {
        width: 44px;
        height: 44px;
    }

    .s03_033_s2 .wrap>ul li+li {
        margin-left: 10px;
    }

    .s03_033_s2 .borderline li {
        width: 10px;
        height: 10px;
    }

    .s03_033_s2 .borderline {
        height: auto;
    }

    .s03_033_s2 .borderline ul {
        grid-gap: 4px;
    }

    .s03_033_s2 .borderline {
        margin: 12px 0 8px 0;
    }

    /*  점선 */
    .s03_033_s2 .wrap>ul::after {
        bottom: -12px;
        left: 5px;
        width: 56px;
        height: 12px;
    }

    /* s03_033_s2 끝 */


    /* s03_033_s3 시작 */
    .s03_033_s3 .wrap {
        width: 162px;
        height: 132px;
    }
    /* s03_033_s3 끝 */


    /* s03_034_s2 시작 */
    .s03_034_s2 .wrap {
        width: 112px;
    }

    .s03_034_s2 .wrap>div {
        margin: 0 auto 20px;
    }

    .s03_034_s2 div[class="exbox-default-style"]::after {
        bottom: -26px;
        left: -22px;
        height: 24px;
    }
    /* s03_034_s2 끝 */


    /* s03_034_s3 시작 */
    .s03_034_s3 .wrap {
        width: 196px;
        height: 132px;
    }

    .s03_034_s3 .qbox>li:nth-child(-n+4) .wrap ul {
        width: 145px;
    }
    /* s03_034_s3 끝 */


    /* s03_035_s2 시작 */
    .s03_035_s2 .wrap>ul {
        width: 146px;
        margin: 12px 0;
    }

    .s03_035_s2 .wrap>div:first-of-type::after {
        bottom: -19px;
        left: -2px;
        width: 48px;
        height: 17px;
        transform: rotate(2deg);
    }

    .s03_035_s2 .wrap>div:last-of-type::after {
        top: -17px;
        left: 0;
        width: 48px;
        height: 17px;
    }

    .s03_035_s2 div[class*="box-left"] {
        margin-left: 26px;
    }

    .s03_035_s2 div[class*="ans-right"] {
        margin-right: 20px;
    }
    /* s03_035_s2 끝 */


    /* s03_035_s3 시작 */
    .s03_035_s3 .wrap {
        width: 184px;
        height: 184px;
    }

    .s03_035_s3 .wrap>.ex_txt {
        width: 44px;
        height: 44px;
        border: 3px solid #bdaea0;
    }

    .s03_035_s3 .wrap>ul>li {
        width: 42px;
        height: 42px;
        border-radius: 8px;
    }
    /* s03_035_s3 끝 */


    /* s03_036_s2 시작 */
    .s03_036_s2 .qbox>li {
        display: block;
    }

    .s03_036_s2 .exbox-default-style {
        width: 42px;
        height: 42px;
        border-radius: 8px;
    }

    .s03_036_s2 .qbox>li ul:after {
        width: 108px;
        height: 34px;
    }

    .s03_036_s2 .wrap {
        width: 138px;
        height: 124px;
    }

    .s03_036_s2 .qbox>li:nth-child(-n+4) ul:after {
        top: 38px;
    }

    .s03_036_s2 .qbox>li:nth-of-type(4) {
        display: flex;
    }

    .s03_036_s2 .qbox>li:nth-child(n+5) ul:after {
        top: -30px;
    }

    .s03_036_s2 .qbox>li:nth-child(n+5) .wrap {
        width: 146px;
    }
    /* s03_036_s2 끝 */


    /* s03_036_s3 시작 */
    .s03_036_s3 .wrap {
        width: 190px;
        height: 146px;
    }

    .s03_036_s3 .wrap:after {
        top: 42px;
        width: 150px;
        height: 62px;
    }
    /* s03_036_s3 끝 */


    /* s03_037_s2 : p03_105_s2와 동일 시작 */
    .s03_037_s2 .col .ex_txt::after {
        top: 51%;
    }

    .s03_037_s2 .col .ex_txt {
        width: 120px;
    }

    .s03_037_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }

    .s03_037_s2 .col .ex_txt > li:last-of-type {
        margin-top: 9px;
    }
    /* s03_037_s2 끝 */


    /* s03_038_s2 시작 */
    .s03_038_s2 .box {
        display: block;
    }

    .s03_038_s2 .wrap>ul {
        width: 218px;
    }

    .s03_038_s2 .wrap>ul>li:last-child {
        margin-right: 72px;
    }

    /* s03_038_s2 끝 */


    /* s03_038_s3 시작 */
    .s03_038_s3 .qbox ul>li {
        width: 62px;
        height: 44px;
    }

    .s03_038_s3 .qbox ul>li~li {
        margin-left: 8px;
    }

    .s03_038_s3 .qbox ul.middle>li~li {
        margin-left: 16px;
    }

    .s03_038_s3 .wrap {
        height: 214px;
    }
    /* s03_038_s3 끝 */


    /* s03_039_s2 시작 */
    .s03_039_s2 .qbox>li,
    .s04_051_s2 .qbox>li {
        width: 79%;
    }

    .s03_039_s2 .box,
    .s04_051_s2 .box {
        height: 120px;
    }

    .s03_039_s2 .wrap>ul,
    .s04_051_s2 .wrap>ul {
        padding: 10px 24px;
    }

    /* s03_039_s2 끝 */


    /* s03_039_s3 시작 */
    .s03_039_s3 .wrap ul>li~li {
        margin-left: 5px;
    }

    .s03_039_s3 figure ul {
        width: 368px;
    }

    .s03_039_s3 figure li {
        width: 30px;
        height: 30px;
    }

    .s03_039_s3 .wrap {
        margin-top: 26px;
    }

    /* s03_039_s3 끝 */


    /* s03_040_s2 시작 */
    .s03_040_s2 .wrap>ul {
        width: 168px;
        height: 114px;
    }

    .s03_040_s2 .wrap {
        width: 215px;
    }

    .s03_040_s2 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .s03_040_s2 .wrap>div.exbox-default-style::after {
        width: 60px;
        height: 72px;
    }

    .s03_040_s2 .wrap ul > li.on::after {
        width: 30px;
        height: 30px;
    }
    /* s03_040_s2 끝 */


    /* s03_040_s3 시작 */
    .s03_040_s3 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .s03_040_s3 .wrap ul  {
        width: 148px;
        height: 148px;
    }

    .s03_040_s3 .wrap {
        width: 198px;
    }

    .s03_040_s3 .wrap .exbox-default-style::after {
        height: 72px;
    }
    /* s03_040_s3 끝 */


    /* s03_041_s2 시작 */
    .s03_041_s2 .qbox>li {
        display: block;
    }

    .s03_041_s2 .ans {
        width: 52px;
        height: 52px;
    }

    .s03_041_s2 .wrap>ul {
        width: 114px;
        height: 114px;
    }

    .s03_041_s2 .wrap>ul>li {
        width: 42px;
        height: 42px;
    }

    .s03_041_s2 .wrap>ul>li:nth-of-type(2n) {
        margin-left: 6px;
    }

    .s03_041_s2 .wrap>div {
        width: 338px;
    }
    /* s03_041_s2 끝 */


    /* s03_041_s3 시작 */
    .s03_041_s3 .wrap>ul+ul {
        width: 204px;
        height: 52px;
        border-radius: 12px;
    }

    .s03_041_s3 .wrap>ul:first-of-type {
        width: 118px;
        height: 98px;
        margin-bottom: 15px;
        border-left-width: 7px;
        border-right-width: 7px;
        border-bottom-width: 7px;
    }

    .s03_041_s3 .wrap>ul:first-of-type li {
        width: 38px;
        height: 38px;
    }

    .s03_041_s3 .wrap>ul:first-of-type li:first-of-type {
        margin-bottom: -10px;
    }

    .s03_041_s3 .wrap li[class*=on]::after {
        width: 36px;
        height: 36px;
    }
    /* s03_041_s3 끝 */


    /* s03_042_s2 시작 */
    .s03_042_s2 .col .ex_txt {
        width: 96px;
    }

    .s03_042_s2 .col .ex_txt::after {
        top: 73%;
    }

    .s03_042_s2 .col .ex_txt > li:last-of-type {
        margin-top: 7px;
    }

    .s03_042_s2 .col .ex_txt > li {
        letter-spacing: 32px;
    }
    /* s03_042_s2 끝 */


    /* s03_042_s3 시작 */
    .s03_042_s3 .ex_txt li {
        flex: 0 0 64px;
        height: 48px;
    }

    .s03_042_s3 .wrap>ul {
        width: 204px;
    }

    .s03_042_s3 .ex_txt li:nth-of-type(2) {
        margin-left: 35px;
    }

    .s03_042_s3 .ex_txt li:nth-of-type(3) {
        margin-right: 35px;
    }

    .s03_042_s3 .ex_txt li:first-of-type {
        margin: 0 70px;
    }
    /* s03_042_s3 끝 */


    /* s03_043_s2, s04_055_s2 시작 */
    .s03_043_s2 .col .wrap>ul,
    .s04_055_s2 .col .wrap>ul {
        grid-template: repeat(4, 46px) / repeat(2, 56px);
    }

    .s03_043_s2 .row .wrap>ul,
    .s04_055_s2 .row .wrap>ul {
        grid-template: repeat(2, 48px) / repeat(4, 56px);
    }

    /* s03_043_s2, s04_055_s2 끝 */


    /* s03_043_s3, s04_055_s3 시작 */
    .s03_043_s3 .wrap>div:last-of-type ul,
    .s04_055_s3 .wrap>div:last-of-type ul {
        grid-template: repeat(3, 44px) / repeat(3, 56px);
    }

    .s03_043_s3 .example,
    .s04_055_s3 .example {
        width: 168px;
        height: 46px;
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-width: 6px;
    }

    .s03_043_s3 .example>li,
    .s04_055_s3 .example>li {
        width: 36px;
        height: 36px;
    }

    .s03_043_s3 .wrap,
    .s04_055_s3 .wrap {
        margin-left: 26px;
    }
    /* s03_043_s3, s04_055_s3 끝 */


    /* s03_044_s2 시작 */
    .s03_044_s2 .box>ul {
        grid-template: repeat(2, 12px)/repeat(5, 12px);
        grid-gap: 4px;
    }

    .s03_044_s2 .roundNum {
        margin-right: 8px;
    }
    /* s03_044_s2 끝 */


    /* s03_045_s3 : p01_080_s3와 동일 시작 */
    .s03_045_s3 .wrap ul:nth-of-type(2)>li {
        width: 42px;
        height: 42px;
    }

    .s03_045_s3 .wrap ul:first-child>li {
        width: 48px;
        height: 36px;
    }

    .s03_045_s3 .background-semicircle-top {
        width: 96px;
        height: 48px;
        border: 20px solid #eceae8;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        border-bottom: none;
    }

    .s03_045_s3 .background-semicircle-bottom {
        width: 96px;
        height: 48px;
        border: 20px solid #eceae8;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        border-top: none;
    }

    .s03_045_s3 .background>div:nth-of-type(2) {
        margin-left: -17px;
    }

    .s03_045_s3 .wrap {
        width: 244px;
        height: 112px;
    }

    .s03_045_s3 .wrap ul:first-child {
        width: 160px;
    }

    .s03_045_s3 .wrap ul:nth-of-type(2)>li:nth-of-type(2) {
        right: 48px;
    }

    .s03_045_s3 .line-box-type1>div:nth-of-type(-n+4) {
        width: 80px;
        height: 40px;
    }

    .s03_045_s3 .line-box-type1>div:nth-of-type(-n+4)::after {
        width: 80px;
        height: 80px;
    }

    .s03_045_s3 .line-box-type1 .left {
        left: 22px;
    }

    .s03_045_s3 .line-box-type1 .top {
        top: 16px;
    }

    .s03_045_s3 .line-box-type1 .bottom {
        top: 55px;
    }

    .s03_045_s3 .line-box-type1 .right {
        left: 100px;
    }

    .s03_045_s3 .line-end {
        top: 55px;
        left: 179px;
    }
    /* s03_045_s3 끝 */


    /* s03_046_s2 시작 */
    .s03_046_s2 .qbox>li {
        width: 80%;
    }

    .s03_046_s2 .wrap>ul {
        width: 114px;
        height: 114px;
    }

    .s03_046_s2 .wrap>ul>li {
        width: 42px;
        height: 42px;
    }

    .s03_046_s2 .wrap>ul>li:nth-of-type(2n) {
        margin-left: 6px;
    }
    /* s03_046_s2 끝 */


    /* s03_046_s3 시작 */
    .s03_046_s3 .wrap {
        width: 215px;
    }

    .s03_046_s3 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .s03_046_s3 .wrap>div.exbox-default-style::after {
        width: 60px;
        height: 72px;
    }

    .s03_046_s3 .wrap>ul {
        width: 114px;
        height: 114px;
    }
    .s03_046_s3 .wrap {
        width: 160px;
    }

    .s03_046_s3 .wrap>ul>li {
        width: 42px;
        height: 42px;
    }
    /* s03_046_s3 끝 */


    /* s03_047_s3 시작 */
    .s03_047_s3 .wrap ul {
        grid-template: repeat(3, 52px) / repeat(3, 52px);
    }

    .s03_047_s3 .wrap>div:first-of-type {
        width: 32px;
        height: 32px;
        font-size: 1.5rem;
    }
    /* s03_047_s3 끝 */


    /* s03_048_s2 시작 */
    .s03_048_s2 .img_w100hauto {
        top: 27px;
        width: 13px;
    }

    .s03_048_s2 .ex_txt>li:first-child {
        margin-left: 16px;
    }

    .s03_048_s2 .wrap>ul>li:first-of-type,
    .s03_048_s2 .wrap>ul>li:nth-of-type(3) {
        width: 56px;
    }

    .s03_048_s2 .roundNum {
        margin-right: 0;
    }

    .s03_048_s2 .wrap>ul>li:nth-of-type(2),
    .s03_048_s2 .wrap>ul>li:nth-of-type(4) {
        padding: 0 6px;
    }
    /* s03_048_s2 끝 */


    /* s03_048_s3 시작 */
    .s03_048_s3 .img_w100hauto {
        top: 27px;
        width: 13px;
    }

    .s03_048_s3 .wrap>ul>li~li {
        padding-left: 6px;
    }

    .s03_048_s3 .roundNum {
        margin-right: 0;
    }

    .s03_048_s3 .wrap>ul>li~li .ans_txt {
        left: 6px;
        width: 56px;
    }
    /* s03_048_s3 끝 */


    /*------------------------------------*\
    #S4 (49 ~ 64)
    \*------------------------------------*/

    /* s04_049_s3 : p01_069_s3와 동일 시작 */
    .s04_049_s3 .ex_txt>div:last-of-type {
        width: 172px;
    }

    .s04_049_s3 .ex_txt>div:first-of-type {
        height: 46px;
    }

    .s04_049_s3 .ex_txt ul li {
        width: 58px;
        height: 44px;
    }

    .s04_049_s3 .line-box>div {
        left: 59px;
    }

    /* 직선 */
    .s04_049_s3 .line-straight {
        width: 0;
        height: 2px;
        background-color: red;
        animation: line-straight .2s linear alternate forwards;
    }

    @keyframes line-straight {
        to {
            width: 57px;
        }
    }

    /* 대각선 위로 한칸 */
    .s04_049_s3 .line-top-up1 {
        transform: rotate(-38deg);
    }

    @keyframes line-top-up1 {
        to {
            width: 72px;
        }
    }

    /* 대각선 위로 두칸 */
    .s04_049_s3 .line-top-up2 {
        transform: rotate(-57deg);
    }

    @keyframes line-top-up2 {
        to {
            width: 100px;
        }
    }

    /* 대각선 아래로 한칸 */
    .s04_049_s3 .line-bottom-down1 {
        transform: rotate(38deg);
    }

    @keyframes line-bottom-down1 {
        to {
            width: 72px;
        }
    }

    /* 대각선 아래로 두칸 */
    @keyframes line-bottom-down2 {
        to {
            width: 104px;
        }
    }

    /* position */
    .s04_049_s3 .line-box .top {
        top: 19px;
    }

    .s04_049_s3 .line-box .middle {
        top: 61px;
    }

    .s04_049_s3 .line-box .bottom {
        top: 103px;
    }
    /* s04_049_s3 끝 */


    /* s04_050_s2 시작 */
    .s04_050_s2 .wrap > ul:last-child > li:nth-of-type(even)    {
        margin: 0 4px;
    }

    .s04_050_s2 .wrap > ul:first-child > li {
        width: 37px;
        height: 37px;
    }

    .s04_050_s2 .wrap > ul:first-child > li:first-child {
        border-radius: 12px 0 0 12px;
    }

    .s04_050_s2 .wrap > ul:first-child > li:last-child  {
        border-radius: 0 12px 12px 0;
    }
    /* s04_050_s2 끝 */


    /* s04_050_s3 시작 */
    .s04_050_s3 .wrap   {
        height: 194px;
    }

    .s04_050_s3 .wrap > ul:last-of-type {
        margin: 0 22px;
    }

    .s04_050_s3 .wrap > ul:last-of-type > li::before    {
        left: -4px;
        width: 60px;
    }

    .s04_050_s3 .wrap > div::before {
        left: -30px;
        width: 112px;
    }
    /* s04_050_s3 끝 */


    /* s04_054_s3 시작 */
    .s04_054_s3 .ex_txt > li {
        width: 150px;
        height: 68px;
    }

    .s04_054_s3 .ex_txt > li ~ li {
        margin-top: 9px;
    }

    .s04_054_s3 .txt-box > li {
        width: 44px;
        height: 44px;
    }

    .s04_054_s3 .dnd-box li ~ li, 
    .s04_054_s3 .txt-box > li ~ li {
        margin-top: 32px;
    }

    .s04_054_s3 .txt-box {
        position: absolute;
        top: 14px;
        left: 48.5%;
    }

    .s04_054_s3 .line-box .left-top, 
    .s04_054_s3 .line-box .right-top {
        top: 34px;
    }

    .s04_054_s3 .line-box .left-middle,
    .s04_054_s3 .line-box .right-middle {
        top: 111px;
    }

    .s04_054_s3 .line-box .left-bottom, 
    .s04_054_s3 .line-box .right-bottom {
        top: 187px;
    }

    .s04_054_s3 .line-box.left > div {
        left: 178px;
    }

    .s04_054_s3 .line-box.right > div {
        left: 296px;
    }

    @keyframes s04_054_s3-line-straight {
        to {
            width: 72px;
        }
    }

    @keyframes s04_054_s3-line-top-up1 {
        to {
            width: 110px;
        }
    }

    @keyframes s04_054_s3-line-top-up2 {
        to {
            width: 170px;
        }
    }

    .s04_054_s3 .line-top-up1 {
        transform: rotate(-47deg);
    }

    .s04_054_s3 .line-top-up2 {
        transform: rotate(-64deg);
    }

    .s04_054_s3 .line-bottom-down1 {
        transform: rotate(46deg);
    }

    .s04_054_s3 .line-bottom-down2 {
        transform: rotate(64deg);
    }
    /* s04_054_s3 끝 */


    /* s04_056_s2 시작 */
    .s04_056_s2 .ex_view    {
        width: 216px;
    }

    .s04_056_s2 .borderline {
        grid-gap: 5px;
    }

    .s04_056_s2 .ex_view li {
        width: 11px;
        height: 11px;
    }

    .s04_056_s2 .ex_txt > div   {
        margin-top: 16px;
    }
    /* s04_056_s2 끝 */


    /* s04_056_s3 : s03_044_s3 동일 시작 */
    .s04_056_s3 .desc-box li {
        width: 132px;
        height: 60px;
        padding: 8px;
    }

    .s04_056_s3 .wrap > ul:nth-of-type(2) {
        width: 144px;
    }

    .s04_056_s3 .wrap > ul:nth-of-type(3) {
        width: 110px;
    }

    .s04_056_s3 .que-box > li {
        height: 66px;
    }

    .s04_056_s3 .txt_box > li {
        width: 144px;
        height: 66px;
    }

    .s04_056_s3 .que-box > li ~ li, 
    .s04_056_s3 .txt_box > li ~ li {
        margin-top: 10px;
    }

    .s04_056_s3 .desc-box li ~ li {
        margin-top: 16px;
    }

    .s04_056_s3 .txt_box {
        left: 38%;
    }

    .s04_056_s3 .line-box .left-top, 
    .s04_056_s3 .line-box .right-top {
        top: 33px;
    }

    .s04_056_s3 .line-box .left-middle,
    .s04_056_s3 .line-box .right-middle {
        top: 109px;
    }

    .s04_056_s3 .line-box .left-bottom,
    .s04_056_s3 .line-box .right-bottom {
        top: 185px;
    }

    .s04_056_s3 .line-box.left > div {
        left: 132px;
    }

    .s04_056_s3 .line-box.right > div {
        left: 343px;
    }

    @keyframes s04_056_s3-line-straight {
        to {
            width: 68px;
        }
    }

    @keyframes s04_056_s3-line-top-up1 {
        to {
            width: 110px;
        }
    }

    @keyframes s04_056_s3-line-top-up2 {
        to {
            width: 164px;
        }
    }
    /* s04_056_s3 끝 */


    /* s04_058_s2 시작 */
    .s04_058_s2 .wrap > div:after   {
        width: 14px;
        height: 74px;
    }

    .s04_058_s2 .wrap > ul  {
        padding: 12px 24px;
    }

    .s04_058_s2 .wrap > div > .ex_txt li:nth-of-type(even)  {
        margin: 0 4px; 
    }
    /* s04_058_s2 끝 */


    /* s04_058_s3 시작 */
    .s04_058_s3 .box .ex_txt > li:nth-of-type(even) {
        margin: 0 4px;
    }

    .s04_058_s3 .wrap > ul  {
        grid-gap: 4px 12px;
        background: url(../../images/s04_058_s3_shape.svg) no-repeat center / 74%;
    }

    .s04_058_s3 .wrap > ul li   {
        width: 44px;
        height: 44px;
    }
    /* s04_058_s3 끝 */


    /* s04_059_s3 시작 */
    .s04_059_s3 .wrap   {
        width: 166px;
    }

    .s04_059_s3 div.ex_txt li   {
        width: 46px;
        height: 44px;
    }

    .s04_059_s3 .line-box > div {
        left: 52px;
    }

    .s04_059_s3 .line-box .top  {
        top: 76px;
    }

    .s04_059_s3 .line-box .middle1  {
        top: 121px;
    }

    .s04_059_s3 .line-box .middle2  {
        top: 165px;
    }

    .s04_059_s3 .line-box .bottom   {
        top: 209px;
    }

    .s04_059_s3 .line-top-up1   {
        transform: rotate(-35deg);
    }

    .s04_059_s3 .line-top-up2   {
        transform: rotate(-54deg);
    }

    .s04_059_s3 .line-top-up3   {
        transform: rotate(-64.5deg);
    }

    .s04_059_s3 .bottom-down1   {
        transform: rotate(35deg);
    }

    .s04_059_s3 .bottom-down2   {
        transform: rotate(54deg);
    }

    .s04_059_s3 .bottom-down3   {
        transform: rotate(64.5deg);
    }

    @keyframes s04_059_s3-line-straight {
        to {
            width: 60px;
        }
    }

    @keyframes s04_059_s3-line-top-up1 {
        to {
            width: 80px;
        }
    }

    @keyframes s04_059_s3-line-top-up2 {
        to {
            width: 110px;
        }
    }

    @keyframes s04_059_s3-line-top-up3 {
        to {
            width: 150px;
        }
    }

    /* fixed */
    .s04_059_s3 .qbox > li:first-of-type .fixed  {
        width: 80px;
        transform: rotate(35deg);
    }

    .s04_059_s3 .qbox > li:nth-of-type(2) .fixed  {
        width: 110px;
        transform: rotate(54deg);
    }

    .s04_059_s3 .qbox > li:nth-of-type(3) .fixed  {
        width: 150px;
        transform: rotate(64.5deg);
    }

    .s04_059_s3 .qbox > li:last-of-type .fixed  {
        width: 60px;
    }

    .s04_059_s3 .ans {
        border-radius: 100%;
    }

    .s04_059_s3 .box > p    {
        margin-right: 4px;
    }
    /* s04_059_s3 끝 */


    /* s04_062_s3 시작 */
    .s04_062_s3 ul.ex_txt   {
        grid-template: repeat(1,42px) / repeat(3, 42px);
        border-radius: 14px;
    }
    /* s04_062_s3 끝 */


    /* s04_063_s2 : p01_080_s2와 동일 */
    .s04_063_s2 .ans2 {
        width: 52px;
        height: 52px;
        border-radius: 100%;
    }

    .s04_063_s2 .ex_txt>li:nth-of-type(odd) {
        width: 32px;
        text-align: center;
    }
    /* s04_063_s2 끝 */


    /* s04_063_s3 시작 */
    .s04_063_s3 .wrap {
        width: 240px;
        height: 111px;
    }

    .s04_063_s3 .exbox-default-style {
        width: 42px;
        height: 42px;
    }

    .s04_063_s3 .circle-box > div {
        width: 96px;
        height: 96px;
    }

    .s04_063_s3 .pick {
        width: 36px;
        height: 36px;
    }

    .s04_063_s3 .circle-box > div ~ div {
        right: -72px;
    }

    .s04_063_s3 .wrap > ul:nth-of-type(2) > li:nth-of-type(2) {
        left: 72px;
    }

    .s04_063_s3 .wrap > ul:nth-of-type(2) > li:nth-of-type(3) {
        left: 143px;
    }

    .s04_063_s3 .wrap > ul:nth-of-type(2) > li:nth-of-type(4) {
        left: 166px;
    }

    .s04_063_s3 .circle-box {
        left: 7px;
    }

    .s04_063_s3 .wrap ul:first-child {
        width: 148px;
        margin-left: 17px;
    }

    .s04_063_s3 .line-box-type1 .left {
        left: 18px;
    }

    .s04_063_s3 .line-box-type1 .right {
        left: 90px;
    }

    .s04_063_s3 .line-box-type1 .top {
        top: 17px;
    }

    .s04_063_s3 .line-box-type1 .bottom {
        top: 54px;
    }

    .s04_063_s3 .line-box-type1>div:nth-of-type(-n+4)::after {
        width: 74px;
        height: 74px;
    }

    .s04_063_s3 .line-end {
        top: 54px;
        left: 162px;
    }

    @keyframes s04_063_s3-line-end {
        to {
            width: 58px;
            height: 2px;
            background-color: red;
        }
    }

    .s04_063_s3 .line-box-type1>div:nth-of-type(-n+4) {
        width: 74px;
        height: 37px;
    }
    /* s04_063_s3 끝 */


    /* s04_064_s2 시작 */
    .s04_064_s2 ul.ex_txt .sign-number  {
        padding: 0 4px 12px;
    }

    .s04_064_s2 div.ex_txt  {
        top: 63px;
        width: 184px;
        height: 48px;
    }
    /* s04_064_s2 끝 */

}