@charset "UTF-8";

@media (min-width:600px) and (max-width:767px) {

    /*------------------------------------*\
        #A1 (129 ~ 144)
    \*------------------------------------*/

    /* a01_129_s2 시작 */
    .a01_129_s2 .wrap {
        width: 103px;
        height: 119px;
    }

    .a01_129_s2 .ver1 ul::after {
        top: 45px;
    }

    .a01_129_s2 .ver2 ul::after {
        top: -23px;
    }

    .a01_129_s2 .wrap ul::after {
        left: 20px;
        height: 22px;
    }
    /* a01_129_s2 끝 */


    /* a01_129_s3 시작 */
    .a01_129_s3 .wrap>ul {
        width: 166px;
        margin: 16px 0;
    }

    .a01_129_s3 div[class*="box-left"] {
        margin-left: 34px;
    }

    .a01_129_s3 div[class*="box-right"] {
        margin-right: 29px;
    }

    .a01_129_s3 .wrap>div:first-of-type::after {
        bottom: -20px;
        left: -12px;
    }

    .a01_129_s3 .wrap>div:first-of-type::after, 
    .a01_129_s3 .wrap>div:last-of-type::after {
        height: 18px;
    }

    .a01_129_s3 .wrap>div:last-of-type::after {
        top: -21px;
        left: -6px;
    }
    /* a01_129_s3 끝 */


    /* a01_130_s3 시작 */
    .a01_130_s3 .exbox-default-style {
        width: 114px;
        height: 44px;
    }

    .a01_130_s3 .exbox-default-style > li ~ li {
        margin-left: 20px;
    }

    .a01_130_s3 .ans {
        width: 54px;
        height: 54px;
        border-radius: 100%;
    }

    .a01_130_s3 .mobile > li {
        width: 54px;
    }

    .a01_130_s3 .ex_txt > div {
        width: 45px;
        height: 45px;
    }

    .a01_130_s3 .mobile {
        width: 250px;
    }

    .a01_130_s3 .mobile > li {
        top: 59px;
    }

    .a01_130_s3 .mobile > li:first-of-type {
        left: -28px;
    }

    .a01_130_s3 .mobile > li:nth-of-type(2) {
        left: 37px;
    }

    .a01_130_s3 .mobile > li:nth-of-type(3) {
        right: 36px;
    }

    .a01_130_s3 .mobile > li:last-of-type {
        right: -28px;
    }
    /* a01_130_s3 끝 */


    /* a01_131_s3 : p01_069_s3와 동일 시작 */
    .a01_131_s3 .ex_txt>div:last-of-type {
        width: 172px;
    }

    .a01_131_s3 .ex_txt>div:first-of-type {
        height: 46px;
    }

    .a01_131_s3 .ex_txt ul li {
        width: 58px;
        height: 44px;
    }

    .a01_131_s3 .line-box>div {
        left: 59px;
    }

    /* 직선 */
    .a01_131_s3 .line-straight {
        width: 0;
        height: 2px;
        background-color: red;
        animation: line-straight .2s linear alternate forwards;
    }

    @keyframes line-straight {
        to {
            width: 57px;
        }
    }

    /* 대각선 위로 한칸 */
    .a01_131_s3 .line-top-up1 {
        transform: rotate(-38deg);
    }

    @keyframes line-top-up1 {
        to {
            width: 72px;
        }
    }

    /* 대각선 위로 두칸 */
    .a01_131_s3 .line-top-up2 {
        transform: rotate(-57deg);
    }

    @keyframes line-top-up2 {
        to {
            width: 100px;
        }
    }

    /* 대각선 아래로 한칸 */
    .a01_131_s3 .line-bottom-down1 {
        transform: rotate(38deg);
    }

    @keyframes line-bottom-down1 {
        to {
            width: 72px;
        }
    }

    /* 대각선 아래로 두칸 */
    @keyframes line-bottom-down2 {
        to {
            width: 104px;
        }
    }

    /* position */
    .a01_131_s3 .line-box .top {
        top: 19px;
    }

    .a01_131_s3 .line-box .middle {
        top: 61px;
    }

    .a01_131_s3 .line-box .bottom {
        top: 103px;
    }
    /* a01_131_s3 끝 */


    /* a01_132_s2 시작 */
    .a01_132_s2 .first-second::after {
        left: 10px;
        width: 41px;
    }

    .a01_132_s2 .second-third::after {
        left: 48px;
        width: 41px;
    }

    .a01_132_s2 .first-third::after {
        left: 12px;
        width: 76px;
    }

    .a01_132_s2 .wrap::after {
        top: 40px;
    }
    /* a01_132_s2 끝 */


    /* a01_132_s3 시작 */
    .a01_132_s3 ul.ex_txt {
        width: 196px;
        height: 52px;
    }

    .a01_132_s3 div.ex_txt {
        height: 45px;
    }

    .a01_132_s3 .wrap li[class*=on]::after {
        width: 32px;
        height: 32px;
    }
    /* a01_132_s3 끝 */


    /* a01_133_s2 시작 */
    .a01_133_s2 .wrap .top {
        margin-bottom: 6px;
    }

    .a01_133_s2 .wrap .bottom::after {
        top: -22px;
        left: 24px;
        height: 22px;
    }

    .a01_133_s2 .wrap .bottom > li {
        margin-right: 4px;
    }
    /* a01_133_s2 끝 */


    /* a01_134_s3 시작 */
    .a01_134_s3 .wrap {
        width: 216px;
    }

    .a01_134_s3 .exbox-default-style {
        width: 50px;
        height: 128px;
    }

    .a01_134_s3 .ans-wrap {
        width: 64px;
        height: 154px;
    }

    .a01_134_s3 .ex_txt {
        padding: 4px 16px;
    }

    .a01_134_s3 .ex_txt::after {
        height: 7px;
    }
    /* a01_134_s3 끝 */


    /* a01_135_s2 : p03_100_s2와 동일 시작 */
    .a01_135_s2 .col .ex_txt {
        width: 114px;
    }

    .a01_135_s2 .col .ex_txt::after {
        top: 73%;
    }

    .a01_135_s2 .col .ex_txt > li:last-of-type {
        margin-top: 7px;
    }

    .a01_135_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }
    /* a01_135_s2 끝 */


    /* a01_135_s3 : s03_042_s3와 동일 시작 */
    .a01_135_s3 .ex_txt li {
        flex: 0 0 64px;
        height: 48px;
    }

    .a01_135_s3 .wrap>ul {
        width: 204px;
    }

    .a01_135_s3 .ex_txt li:nth-of-type(2) {
        margin-left: 35px;
    }

    .a01_135_s3 .ex_txt li:nth-of-type(3) {
        margin-right: 35px;
    }

    .a01_135_s3 .ex_txt li:first-of-type {
        margin: 0 70px;
    }
    /* a01_135_s3 끝 */


    /* a01_136_s3 시작 */
    .a01_136_s3 .ex_txt:last-of-type {
        width: 196px;
        height: 52px;
        padding: 4px;
    }

    .a01_136_s3 .ex_txt:last-of-type li[class*=on]::after {
        width: 32px;
        height: 32px;
    }
    /* a01_136_s3 끝 */


    /* a01_137_s2 : s03_040_s2 시작 */
    .a01_137_s2 .wrap>ul {
        width: 168px;
        height: 114px;
    }

    .a01_137_s2 .wrap {
        width: 215px;
    }

    .a01_137_s2 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .a01_137_s2 .wrap>div.exbox-default-style::after {
        width: 60px;
        height: 72px;
    }

    .a01_137_s2 .wrap ul > li.on::after {
        width: 30px;
        height: 30px;
    }
    /* a01_137_s2 끝 */


    /* a01_137_s3 : s03_040_s3와 동일 시작 */
    .a01_137_s3 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .a01_137_s3 .wrap ul  {
        width: 148px;
        height: 148px;
    }

    .a01_137_s3 .wrap {
        width: 198px;
    }

    .a01_137_s3 .wrap .exbox-default-style::after {
        height: 72px;
    }
    /* a01_137_s3 끝 */


    /* a01_138_s2 : p04_116_s2와 동일 시작 */
    .a01_138_s2 ul.ex_txt > li {
        width: 44px;
        height: 44px;
    }

    .a01_138_s2 ul.ex_txt > li ~ li {
        margin-left: 8px;
    }

    .a01_138_s2 ul.ex_txt {
        margin-bottom: 16px;
    }

    .a01_138_s2 div.ex_txt > ul > li ~ li {
        margin-left: 3px;
    }
    /* a01_138_s2 끝 */


    /* a01_138_s3 : s03_041_s3와 동일 시작 */
    .a01_138_s3 .wrap>ul+ul {
        width: 204px;
        height: 52px;
        border-radius: 12px;
    }

    .a01_138_s3 .wrap>ul:first-of-type {
        width: 118px;
        height: 98px;
        margin-bottom: 15px;
        border-left-width: 7px;
        border-right-width: 7px;
        border-bottom-width: 7px;
    }

    .a01_138_s3 .wrap>ul:first-of-type li {
        width: 38px;
        height: 38px;
    }

    .a01_138_s3 .wrap>ul:first-of-type li:first-of-type {
        margin-bottom: -10px;
    }

    .a01_138_s3 .wrap li[class*=on]::after {
        width: 36px;
        height: 36px;
    }
    /* a01_138_s3 끝 */


    /* a01_139_s2, p03_100_s3와 동일 시작 */
    .a01_139_s2 .box>ul {
        grid-template: repeat(3, 48px)/repeat(2, 64px);
        border: 3px solid #a9a09a;
    }

    .a01_139_s2 .box>div:first-of-type::after {
        width: 134px;
        height: 134px;
    }

    .a01_139_s2 .box>div:first-of-type .ans2 {
        width: 56px;
        height: 56px;
    }

    .a01_139_s2 .box>div:first-of-type {
        padding-left: 29px;
    }
    /* a01_139_s2 끝 */


    /* a01_139_s3 : s03_043_s3 동일 시작 */
    .a01_139_s3 .wrap>div:last-of-type ul {
        grid-template: repeat(3, 44px) / repeat(3, 56px);
    }

    .a01_139_s3 .example {
        width: 168px;
        height: 46px;
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-width: 6px;
    }

    .a01_139_s3 .example>li {
        width: 36px;
        height: 36px;
    }

    .a01_139_s3 .wrap {
        margin-left: 26px;
    }
    /* a01_139_s3 끝 */


    /* a01_140_s3 : s04_056_s3 동일 시작 */
    .a01_140_s3 .desc-box li {
        width: 132px;
        height: 60px;
        padding: 8px;
    }

    .a01_140_s3 .wrap > ul:nth-of-type(2) {
        width: 144px;
    }

    .a01_140_s3 .wrap > ul:nth-of-type(3) {
        width: 110px;
    }

    .a01_140_s3 .que-box > li {
        height: 66px;
    }

    .a01_140_s3 .txt_box > li {
        width: 144px;
        height: 66px;
    }

    .a01_140_s3 .que-box > li ~ li, 
    .a01_140_s3 .txt_box > li ~ li {
        margin-top: 10px;
    }

    .a01_140_s3 .desc-box li ~ li {
        margin-top: 16px;
    }

    .a01_140_s3 .txt_box {
        left: 38%;
    }

    .a01_140_s3 .line-box .left-top, 
    .a01_140_s3 .line-box .right-top {
        top: 33px;
    }

    .a01_140_s3 .line-box .left-middle,
    .a01_140_s3 .line-box .right-middle {
        top: 109px;
    }

    .a01_140_s3 .line-box .left-bottom,
    .a01_140_s3 .line-box .right-bottom {
        top: 185px;
    }

    .a01_140_s3 .line-box.left > div {
        left: 132px;
    }

    .a01_140_s3 .line-box.right > div {
        left: 343px;
    }

    @keyframes a01_140_s3-line-straight {
        to {
            width: 68px;
        }
    }

    @keyframes a01_140_s3-line-top-up1 {
        to {
            width: 110px;
        }
    }

    @keyframes a01_140_s3-line-top-up2 {
        to {
            width: 164px;
        }
    }
    /* a01_140_s3 끝 */


    /* a01_141_s2 시작 */
    .a01_141_s2 .first-second::after {
        width: 38px;
        left: 7px;
    }

    .a01_141_s2 .ex_txt::after {
        top: 39px;
        height: 10px;
    }

    .a01_141_s2 .first-third::after {
        left: 5px;
    }
    /* a01_141_s2 끝 */


    /* a01_141_s3 : p01_080_s3와 동일 시작 */
    .a01_141_s3 .wrap ul:nth-of-type(2)>li {
        width: 42px;
        height: 42px;
    }

    .a01_141_s3 .wrap ul:first-child>li {
        width: 48px;
        height: 36px;
    }

    .a01_141_s3 .background-semicircle-top {
        width: 96px;
        height: 48px;
        border: 20px solid #eceae8;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        border-bottom: none;
    }

    .a01_141_s3 .background-semicircle-bottom {
        width: 96px;
        height: 48px;
        border: 20px solid #eceae8;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        border-top: none;
    }

    .a01_141_s3 .background>div:nth-of-type(2) {
        margin-left: -17px;
    }

    .a01_141_s3 .wrap {
        width: 244px;
        height: 112px;
    }

    .a01_141_s3 .wrap ul:first-child {
        width: 160px;
    }

    .a01_141_s3 .wrap ul:nth-of-type(2)>li:nth-of-type(2) {
        right: 48px;
    }

    .a01_141_s3 .line-box-type1>div:nth-of-type(-n+4) {
        width: 80px;
        height: 40px;
    }

    .a01_141_s3 .line-box-type1>div:nth-of-type(-n+4)::after {
        width: 80px;
        height: 80px;
    }

    .a01_141_s3 .line-box-type1 .left {
        left: 22px;
    }

    .a01_141_s3 .line-box-type1 .top {
        top: 16px;
    }

    .a01_141_s3 .line-box-type1 .bottom {
        top: 55px;
    }

    .a01_141_s3 .line-box-type1 .right {
        left: 100px;
    }

    .a01_141_s3 .line-end {
        top: 55px;
        left: 179px;
    }
    /* a01_141_s3 끝 */


    /* a01_142_s2 : s03_046_s2와 동일 시작 */
    .a01_142_s2 .qbox>li {
        width: 80%;
    }

    .a01_142_s2 .wrap>ul {
        width: 114px;
        height: 114px;
    }

    .a01_142_s2 .wrap>ul>li {
        width: 42px;
        height: 42px;
    }

    .a01_142_s2 .wrap>ul>li:nth-of-type(2n) {
        margin-left: 6px;
    }
    /* a01_142_s2 끝 */


    /* a01_142_s3 시작 */
    .a01_142_s3 .ex_txt {
        grid-template: repeat(2,49px) / repeat(3,49px);
    }

    .a01_142_s3 .ex_txt {
        padding-top: 58px;
    }
    /* a01_142_s3 끝 */


    /* a01_143_s3 : s03_047_s3와 동일 시작 */
    .a01_143_s3 .wrap ul {
        grid-template: repeat(3, 52px) / repeat(3, 52px);
    }

    .a01_143_s3 .wrap>div:first-of-type {
        width: 32px;
        height: 32px;
        font-size: 1.5rem;
    }
    /* a01_143_s3 끝 */


    /* a01_144_s2 : s03_048_s2와 동일 시작 */
    .a01_144_s2 .img_w100hauto {
        top: 27px;
        width: 13px;
    }

    .a01_144_s2 .ex_txt>li:first-child {
        margin-left: 16px;
    }

    .a01_144_s2 .wrap>ul>li:first-of-type,
    .a01_144_s2 .wrap>ul>li:nth-of-type(3) {
        width: 56px;
    }

    .a01_144_s2 .roundNum {
        margin-right: 0;
    }

    .a01_144_s2 .wrap>ul>li:nth-of-type(2),
    .a01_144_s2 .wrap>ul>li:nth-of-type(4) {
        padding: 0 6px;
    }
    /* a01_144_s2 끝 */


    /* a01_144_s3 : s03_048_s3와 동일 시작 */
    .a01_144_s3 .img_w100hauto {
        top: 27px;
        width: 13px;
    }

    .a01_144_s3 .wrap>ul>li~li {
        padding-left: 6px;
    }

    .a01_144_s3 .roundNum {
        margin-right: 0;
    }

    .a01_144_s3 .wrap>ul>li~li .ans_txt {
        left: 6px;
        width: 56px;
    }
    /* a01_144_s3 끝 */





    /*------------------------------------*\
        #A2 (145 ~ 160)
    \*------------------------------------*/

    /* a02_145_s2 시작 */
    .a02_145_s2 .wrap .bottom::after {
        top: -24px;
        left: 37px;
        height: 23px;
    }
    /* a02_145_s2 끝 */



    /* a02_147_s3 : p04_115_s3와 동일 시작 */
    .a02_147_s3 .wrap>div:last-of-type ul {
        grid-template: repeat(3, 44px) / repeat(3, 56px);
    }

    .a02_147_s3 .example {
        width: 168px;
        height: 46px;
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-width: 6px;
    }

    .a02_147_s3 .example>li {
        width: 36px;
        height: 36px;
    }

    .a02_147_s3 .wrap {
        margin-left: 26px;
    }

    .a02_147_s3 .wrap ul:first-of-type > li {
        font-size: 1.8rem;
    }
    /* a02_147_s3 끝 */


    /* a02_149_s2 시작 */
    .a02_149_s2 .direct {
        margin-right: 40px;
    }
    /* a02_149_s2 끝 */


    /* a02_152_s2 시작 */
    .a02_152_s2 .ex_view li {
        width: 11px;
        height: 11px;
    }

    .a02_152_s2 .borderline {
        grid-gap: 4px;
    }

    .a02_152_s2 .ex_view {
        width: 212px;
    }
    /* a02_152_s2 끝 */


    /* a02_153_s3 : s01_005_s3와 동일 시작 */
    .a02_153_s3 .wrap {
        height: 156px;
    }

    .a02_153_s3 .qbox ul>li {
        width: 62px;
        height: 44px;
    }

    .a02_153_s3 .qbox ul>li~li {
        margin-left: 8px;
    }

    .a02_153_s3 .line-box-type2 .left   {
        left: 32px;
    }

    .a02_153_s3 .line-box-type2 > div   {
        top: 43px;
    }

    .a02_153_s3 .line-box-type2 .center {
        left: 102px;
    }

    .a02_153_s3 .line-box-type2 .right  {
        left: 172px;
    }

    .a02_153_s3 .line-right1    {
        transform: rotate(-45deg);
    }
    
    .a02_153_s3 .line-right2    {
        transform: rotate(-64deg);
    }

    .a02_153_s3 .line-left1    {
        transform: rotate(45deg);
    }
    
    .a02_153_s3 .line-left2    {
        transform: rotate(64deg);
    }

    @keyframes a02_153_s3-line-straight {
        to {
            height: 70px;
        }
    }

    @keyframes a02_153_s3-line-right1 {
        to {
            height: 100px;
        }
    }

    @keyframes a02_153_s3-line-right2 {
        to {
            height: 160px;
        }
    }
    /* a02_153_s3 끝 */


    /* a02_154_s2 시작 */
    .a02_154_s2 .wrap > ul {
        padding: 10px 20px;
    }

    .a02_154_s2 .wrap > ul li ~ li {
        margin-left: 6px;
    }

    .a02_154_s2 .wrap > div:after {
        top: 57%;
        height: 76px;
    }
    /* a02_154_s2 끝 */


    /* a02_154_s3 : s04_058_s3와 동일 시작 */
    .a02_154_s3 .wrap > ul  {
        grid-gap: 4px 12px;
        background: url(../../images/s04_058_s3_shape.svg) no-repeat center / 74%;
    }

    .a02_154_s3 .wrap > ul li   {
        width: 44px;
        height: 44px;
    }
    /* a02_154_s3 끝 */


    /* a02_155_s3 : s04_059_s3와 동일 시작 */
    .a02_155_s3 .wrap   {
        width: 166px;
    }

    .a02_155_s3 div.ex_txt li   {
        width: 46px;
        height: 44px;
    }

    .a02_155_s3 .line-box > div {
        left: 52px;
    }

    .a02_155_s3 .line-box .top  {
        top: 76px;
    }

    .a02_155_s3 .line-box .middle1  {
        top: 121px;
    }

    .a02_155_s3 .line-box .middle2  {
        top: 165px;
    }

    .a02_155_s3 .line-box .bottom   {
        top: 209px;
    }

    .a02_155_s3 .line-top-up1   {
        transform: rotate(-35deg);
    }

    .a02_155_s3 .line-top-up2   {
        transform: rotate(-54deg);
    }

    .a02_155_s3 .line-top-up3   {
        transform: rotate(-64.5deg);
    }

    .a02_155_s3 .bottom-down1   {
        transform: rotate(35deg);
    }

    .a02_155_s3 .bottom-down2   {
        transform: rotate(54deg);
    }

    .a02_155_s3 .bottom-down3   {
        transform: rotate(64.5deg);
    }

    @keyframes a02_155_s3-line-straight {
        to {
            width: 60px;
        }
    }

    @keyframes a02_155_s3-line-top-up1 {
        to {
            width: 80px;
        }
    }

    @keyframes a02_155_s3-line-top-up2 {
        to {
            width: 110px;
        }
    }

    @keyframes a02_155_s3-line-top-up3 {
        to {
            width: 150px;
        }
    }

    /* fixed */
    .a02_155_s3 .qbox > li:first-of-type .fixed  {
        width: 80px;
        transform: rotate(35deg);
    }

    .a02_155_s3 .qbox > li:nth-of-type(2) .fixed  {
        width: 110px;
        transform: rotate(54deg);
    }

    .a02_155_s3 .qbox > li:nth-of-type(3) .fixed  {
        width: 150px;
        transform: rotate(64.5deg);
    }

    .a02_155_s3 .qbox > li:last-of-type .fixed  {
        width: 60px;
    }

    .a02_155_s3 .ans {
        border-radius: 100%;
    }

    .a02_155_s3 .box > p    {
        margin-right: 4px;
    }
    /* a02_155_s3 끝 */


    /* a02_156_s3 : s01_015_s3와 동일 시작 */
    .a02_156_s3 .box {
        width: 264px;
    }

    .a02_156_s3 .wrap>ul {
        width: 136px;
        height: 136px;
        border-radius: 16px;
    }

    .a02_156_s3 .wrap>dl>div {
        width: 48px;
    }

    .a02_156_s3 .wrap {
        height: 136px;
    }

    .a02_156_s3 ul.ex_txt > li.on::after {
        width: 36px;
        height: 36px;
    }
    /* a02_156_s3 끝 */


    /* a02_158_s3 시작 (해상도600은 s04_062_s3와 코드가 다름) */
    .a02_158_s3 ul.ex_txt   {
        grid-template: repeat(1,42px) / repeat(3, 42px);
        border-radius: 14px;
        font-size: 1.5rem;
    }

    .a02_158_s3 ul.ex_txt li {
        padding-top: 3px;
    }
    /* a02_158_s3 끝 */


    /* a02_159_s3 : s04_063_s3와 동일 시작 */
    .a02_159_s3 .wrap {
        width: 240px;
        height: 111px;
    }

    .a02_159_s3 .exbox-default-style {
        width: 42px;
        height: 42px;
    }

    .a02_159_s3 .circle-box > div {
        width: 96px;
        height: 96px;
    }

    .a02_159_s3 .pick {
        width: 36px;
        height: 36px;
    }

    .a02_159_s3 .circle-box > div ~ div {
        right: -72px;
    }

    .a02_159_s3 .wrap > ul:nth-of-type(2) > li:nth-of-type(2) {
        left: 72px;
    }

    .a02_159_s3 .wrap > ul:nth-of-type(2) > li:nth-of-type(3) {
        left: 143px;
    }

    .a02_159_s3 .wrap > ul:nth-of-type(2) > li:nth-of-type(4) {
        left: 166px;
    }

    .a02_159_s3 .circle-box {
        left: 7px;
    }

    .a02_159_s3 .wrap ul:first-child {
        width: 148px;
        margin-left: 17px;
    }

    .a02_159_s3 .line-box-type1 .left {
        left: 18px;
    }

    .a02_159_s3 .line-box-type1 .right {
        left: 90px;
    }

    .a02_159_s3 .line-box-type1 .top {
        top: 17px;
    }

    .a02_159_s3 .line-box-type1 .bottom {
        top: 54px;
    }

    .a02_159_s3 .line-box-type1>div:nth-of-type(-n+4)::after {
        width: 74px;
        height: 74px;
    }

    .a02_159_s3 .line-end {
        top: 54px;
        left: 162px;
    }

    @keyframes a02_159_s3-line-end {
        to {
            width: 58px;
            height: 2px;
            background-color: red;
        }
    }

    .a02_159_s3 .line-box-type1>div:nth-of-type(-n+4) {
        width: 74px;
        height: 37px;
    }
    /* a02_159_s3 끝 */


    /* a02_159_s2 : s04_063_s2와 동일 시작 */
    .a02_159_s2 .ans2 {
        width: 52px;
        height: 52px;
        border-radius: 100%;
    }

    .a02_159_s2 .ex_txt>li:nth-of-type(odd) {
        width: 32px;
        text-align: center;
    }
    /* a02_159_s2 끝 */


    /* a02_160_s2 시작 */
    .a02_160_s2 div.ex_txt {
        top: 62px;
        width: 222px;
        height: 50px;
    }
    /* a02_160_s2 끝 */





    /*------------------------------------*\
        #A3 (161 ~ 160)
    \*------------------------------------*/
}