@charset "UTF-8";

@media (min-width:600px) and (max-width:767px) {

    /*------------------------------------*\
    #P1 (65 ~ 80)
    \*------------------------------------*/

    /* p01_065_s2 시작 */
    .p01_065_s2 .box>div:first-of-type {
        width: 216px;
        height: 154px;
    }

    .p01_065_s2 .box>div:first-of-type>ul:first-of-type {
        grid-template: repeat(2, 54px) / repeat(2, 54px);
        grid-gap: 12px;
    }

    .p01_065_s2 .box>div:first-of-type>ul:last-of-type {
        grid-template: repeat(5, 11px) / repeat(2, 11px);
    }

    /* p01_065_s2 끝 */


    /* p01_065_s3 시작 */
    .p01_065_s3 .box {
        width: 502px;
        height: 224px;
        padding: 12px;
    }
    /* p01_065_s3 끝 */


    /* p01_066_s2 시작 */
    .p01_066_s2 .wrap>ul {
        width: 339px;
    }

    .p01_066_s2 .wrap>ul li:first-of-type {
        margin-right: 18px;
    }

    .p01_066_s2 .wrap>ul li:last-of-type {
        margin-left: 18px;
    }
    /* p01_066_s2 끝 */


    /* p01_066_s3 시작 */
    .p01_066_s3 .divide1>div,
    .p01_066_s3 .divide2>div,
    .p01_066_s3 .divide3>div,
    .p01_066_s3 .divide4>div,
    .p01_066_s3 .divide5>div,
    .p01_066_s3 .divide6>div,
    .p01_066_s3 .divide7>div {
        width: 64px;
        height: 48px;
    }

    .p01_066_s3 .box .divide2 {
        top: -54px;
        width: 454px;
        height: 52px;
    }

    .p01_066_s3 .divide3.ex_txt {
        top: -2px;
        right: -393px;
        height: 489px;
    }

    .p01_066_s3 .divide4.ex_txt {
        bottom: -3px;
        right: -393px;
        width: 256px;
        height: 51px;
    }

    .p01_066_s3 .divide5.ex_txt {
        top: 98px;
        left: 129px;
        width: 67px;
        height: 441px;
    }

    .p01_066_s3 .divide6.ex_txt {
        top: 45px;
        left: 129px;
        width: 194px;
        height: 50px;
    }

    .p01_066_s3 .divide7.ex_txt {
        top: 97px;
        left: 259px;
        width: 64px;
        height: 294px;
    }
    /* p01_066_s3 끝 */


    /* p01_067_s2, p01_073_s2 시작 */
    .p01_067_s2 .exbox-default-style,
    .p01_073_s2 .exbox-default-style {
        width: 43px;
        height: 43px;
    }

    .p01_067_s2 .box,
    .p01_073_s2 .box {
        width: 239px;
    }

    .p01_067_s2 li[class*=exbox-default-style]:nth-of-type(-n+3)::after,
    .p01_073_s2 li[class*=exbox-default-style]:nth-of-type(-n+3)::after {
        left: 43px;
        margin-top: -8px;
        font-size: 1.2rem;
    }

    .p01_067_s2 li[class*=ans_box]:nth-of-type(-n+3)::after,
    .p01_073_s2 li[class*=ans_box]:nth-of-type(-n+3)::after {
        left: 66px;
        margin-top: -8px;
        font-size: 1.2rem;
    }
    /* p01_067_s2, p01_073_s2 끝 */


    /* p01_067_s3 시작 */
    .p01_067_s3 .ex_txt {
        grid-template: repeat(3, 52px)/repeat(3, 52px);
    }

    .p01_067_s3 .ex_txt::before {
        top: 20px;
        left: -37px;
        width: 42px;
    }

    .p01_067_s3 .ex_txt::after {
        top: 124px;
        right: -24px;
        width: 29px;
    }

    @keyframes line-start {
        to {
            width: 26px;
            height: 2px;
            background-color: red;
        }
    }

    @keyframes line-right {
        to {
            width: 52px;
            height: 2px;
            background-color: red;
        }
    }

    @keyframes line-right-end {
        to {
            width: 34px;
            height: 2px;
            background-color: red;
        }
    }

    @keyframes line-bottom {
        to {
            width: 2px;
            height: 52px;
            background-color: red;
        }
    }

    /* position */
    .p01_067_s3 .line-box .top {
        top: 30px;
    }

    .p01_067_s3 .line-box .middle {
        top: 82px;
    }

    .p01_067_s3 .line-box .bottom {
        top: 134px;
    }

    .p01_067_s3 .line-box .left {
        left: 26px;
    }

    .p01_067_s3 .line-box .center {
        left: 78px;
    }

    .p01_067_s3 .line-box .right {
        left: 130px;
    }
    /* p01_067_s3 끝 */


    /* p01_068_s3, p01_074_s3 시작 */
    .p01_068_s3 .wrap>ul,
    .p01_074_s3 .wrap>ul {
        width: 456px;
    }

    .p01_068_s3 .wrap>ul>li[class *='exbox-default-style']::after,
    .p01_074_s3 .wrap>ul>li[class *='exbox-default-style']::after {
        left: 119%;
    }

    .p01_068_s3 .wrap>ul>li[class *='ans_box']::after,
    .p01_074_s3 .wrap>ul>li[class *='ans_box']::after {
        left: 109%;
    }
    /* p01_068_s3, p01_074_s3 끝 */


    /* p01_069_s2 : p03_105_s2와 동일 */


    /* p01_069_s3 시작 */
    .p01_069_s3 .ex_txt>div:last-of-type {
        width: 172px;
    }

    .p01_069_s3 .ex_txt>div:first-of-type {
        height: 46px;
    }

    .p01_069_s3 .ex_txt ul li {
        width: 58px;
        height: 44px;
    }

    .p01_069_s3 .line-box>div {
        left: 59px;
    }

    /* 직선 */
    .p01_069_s3 .line-straight {
        width: 0;
        height: 2px;
        background-color: red;
        animation: line-straight .2s linear alternate forwards;
    }

    @keyframes line-straight {
        to {
            width: 57px;
        }
    }

    /* 대각선 위로 한칸 */
    .p01_069_s3 .line-top-up1 {
        transform: rotate(-38deg);
    }

    @keyframes line-top-up1 {
        to {
            width: 72px;
        }
    }

    /* 대각선 위로 두칸 */
    .p01_069_s3 .line-top-up2 {
        transform: rotate(-57deg);
    }

    @keyframes line-top-up2 {
        to {
            width: 100px;
        }
    }

    /* 대각선 아래로 한칸 */
    .p01_069_s3 .line-bottom-down1 {
        transform: rotate(38deg);
    }

    @keyframes line-bottom-down1 {
        to {
            width: 72px;
        }
    }

    /* 대각선 아래로 두칸 */
    @keyframes line-bottom-down2 {
        to {
            width: 104px;
        }
    }

    /* position */
    .p01_069_s3 .line-box .top {
        top: 19px;
    }

    .p01_069_s3 .line-box .middle {
        top: 61px;
    }

    .p01_069_s3 .line-box .bottom {
        top: 103px;
    }
    /* p01_069_s3 끝 */


    /* p01_070_s2 시작 */
    .p01_070_s2 .ex_txt>li:first-of-type,
    .p01_070_s2 .ex_txt>li:nth-of-type(3) {
        width: 44px;
    }

    .p01_070_s2 .ex_txt>li:first-child {
        margin-left: 12px;
    }

    .p01_070_s2 .img_w100hauto {
        top: 27px;
        width: 13px;
    }
    /* p01_070_s2 끝 */


    /* p01_070_s3 시작 */
    .p01_070_s3 .ex_txt {
        grid-template: repeat(2, 64px) / repeat(2, 64px);
        border-radius: 10px;
        border: 3px solid #a9a09a;
    }

    .p01_070_s3 .ex_txt::after {
        width: 26px;
        height: 26px;
    }

    .p01_070_s3 .box .ans_box {
        width: 58px;
        height: 58px;
    }

    .p01_070_s3 .qbox>li:nth-child(even) {
        padding-right: 46px;
    }

    .p01_070_s3 .box>div>div:first-of-type {
        top: -74px;
        left: 0;
    }

    .p01_070_s3 .box>div>div:nth-of-type(2) {
        top: 0px;
        right: -77px;
    }

    .p01_070_s3 .box>div>div:nth-of-type(3) {
        bottom: -83px;
        left: 65px;
    }

    .p01_070_s3 .box>div>div:first-of-type .in {
        top: 8px;
    }

    .p01_070_s3 .box>div>div:nth-of-type(3) .in {
        top: 2px;
    }

    .p01_070_s3 .box>div>div:nth-of-type(4) {
        bottom: -1px;
        left: -83px;
    }

    /* 답 스타일 */
    .p01_070_s3 .ans_box::after {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        height: 77px;
        background: url(../../images/p01_070_s3_shape.svg) no-repeat;
    }

    .p01_070_s3 .box>div>div:nth-of-type(2):after {
        top: -7px;
        left: 6px;
        width: 69px;
        height: 83px;
    }

    .p01_070_s3 .box>div>div:last-of-type:after {
        width: 69px;
        height: 83px;
    }

    .p01_070_s3 .box>div>div:last-of-type .in {
        left: 14px
    }

    .p01_070_s3 .box > div .ans_box:nth-of-type(odd) {
        position: absolute;
        width: 69px;
        height: 83px;
    }

    .p01_070_s3 .box > div .ans_box:nth-of-type(even) {
        position: absolute;
        width: 83px;
        height: 69px;
    }

    /* p01_070_s3 끝 */



    /* p01_071_s2 : p03_100_s2와 동일 */
    

    /* p01_071_s3, p03_100_s3 시작 */
    .p01_071_s3 .box>ul,
    .p03_100_s3 .box>ul {
        grid-template: repeat(3, 48px)/repeat(2, 64px);
        border: 3px solid #a9a09a;
    }

    .p01_071_s3 .box>div:first-of-type::after,
    .p03_100_s3 .box>div:first-of-type::after {
        width: 134px;
        height: 134px;
    }

    .p01_071_s3 .box>div:first-of-type .ans2,
    .p03_100_s3 .box>div:first-of-type .ans2 {
        width: 56px;
        height: 56px;
    }

    .p01_071_s3 .box>div:first-of-type,
    .p03_100_s3 .box>div:first-of-type {
        padding-left: 29px;
    }
    /* p01_071_s3, p03_100_s3 끝 */


    /* p01_072_s2 시작 */
    .p01_072_s2 .row .item {
        width: 34px;
    }
    /* p01_072_s2 끝 */



    /* p01_072_s3 시작 */
    .p01_072_s3 .exbox-default-style {
        width: 56PX;
        height: 44PX;
    }

    .p01_072_s3 .box>ul:first-of-type {
        width: 216px;
    }

    .p01_072_s3 .box>ul:last-of-type {
        width: 222px;
    }

    .p01_072_s3 .ex_txt {
        width: 176px;
        height: 128px;
    }

    .p01_072_s3 .type1>li:first-of-type {
        top: 36px;
        left: 24px;
    }

    .p01_072_s3 .type1>li:nth-of-type(2) {
        top: 4px;
        right: 24px;
    }

    .p01_072_s3 .type1>li:last-of-type {
        bottom: 39px;
        right: 24px;
    }

    .p01_072_s3 .type2>li:first-of-type {
        top: 5px;
        left: 24px;
    }

    .p01_072_s3 .type2>li:nth-of-type(2) {
        bottom: 38px;
        left: 24px;
    }

    .p01_072_s3 .type2>li:last-of-type {
        bottom: 70px;
        right: 24px;
    }
    /* p01_072_s3 끝 */


    /* p01_077_s3 시작 */
    .p01_077_s3 .ex_txt {
        grid-template: repeat(4, 48px) / repeat(3, 64px);
        border: 3px solid #a9a09a;
    }

    .p01_077_s3 .ex_txt>li:nth-of-type(n+4) {
        border-top: 1px dashed #a9a09a;
    }

    .p01_077_s3 .ex_txt>li:nth-of-type(3n+2) {
        border-right: 1px dashed #a9a09a;
        border-left: 1px dashed #a9a09a;
    }
    /* p01_077_s3 끝 */


    /* p01_078_s3 시작 */
    .p01_078_s3 .box_bottom .borderline {
        width: 56px;
        height: 44px;
    }

    .p01_078_s3 .wrap {
        width: 185px;
    }

    .p01_078_s3 .box_top .borderline {
        width: 44px;
        height: 44px;
    }

    .p01_078_s3 .box_top img {
        top: 19px;
        width: 132px;
    }
    /* p01_078_s3 끝 */


    /* p01_080_s2, p02_096_s2 시작 */
    .p01_080_s2 .ans2,
    .p02_096_s2 .ans2 {
        width: 52px;
        height: 52px;
        border-radius: 100%;
    }

    .p01_080_s2 .ex_txt>li:nth-of-type(odd),
    .p02_096_s2 .ex_txt>li:nth-of-type(odd) {
        width: 32px;
        text-align: center;
    }
    /* p01_080_s2, p02_096_s2 끝 */


    /* p01_080_s3 시작 */
    .p01_080_s3 .wrap ul:nth-of-type(2)>li {
        width: 42px;
        height: 42px;
    }

    .p01_080_s3 .wrap ul:first-child>li {
        width: 48px;
        height: 36px;
    }

    .p01_080_s3 .background-semicircle-top {
        width: 96px;
        height: 48px;
        border: 20px solid #eceae8;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        border-bottom: none;
    }

    .p01_080_s3 .background-semicircle-bottom {
        width: 96px;
        height: 48px;
        border: 20px solid #eceae8;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        border-top: none;
    }

    .p01_080_s3 .background>div:nth-of-type(2) {
        margin-left: -17px;
    }

    .p01_080_s3 .wrap {
        width: 244px;
        height: 112px;
    }

    .p01_080_s3 .wrap ul:first-child {
        width: 160px;
    }

    .p01_080_s3 .wrap ul:nth-of-type(2)>li:nth-of-type(2) {
        right: 48px;
    }

    .p01_080_s3 .line-box-type1>div:nth-of-type(-n+4) {
        width: 80px;
        height: 40px;
    }

    .p01_080_s3 .line-box-type1>div:nth-of-type(-n+4)::after {
        width: 80px;
        height: 80px;
    }

    .p01_080_s3 .line-box-type1 .left {
        left: 22px;
    }

    .p01_080_s3 .line-box-type1 .top {
        top: 16px;
    }

    .p01_080_s3 .line-box-type1 .bottom {
        top: 55px;
    }

    .p01_080_s3 .line-box-type1 .right {
        left: 100px;
    }

    .p01_080_s3 .line-end {
        top: 55px;
        left: 179px;
    }
    /* p01_080_s3 끝 */


    /*------------------------------------*\
    #P2 (81 ~ 96)
    \*------------------------------------*/
    /* p02_081_s2 시작 */
    .p02_081_s2 .box>ul {
        width: 130px;
        height: 102px;
        margin-right: 16px;
        padding: 10px;
    }

    .p02_081_s2 .box>ul>li {
        width: 17px;
        height: 17px;
    }

    .p02_081_s2 .box>ul>li:nth-of-type(n+2):nth-of-type(-n+5),
    .p02_081_s2 .box>ul>li:nth-of-type(n+11) {
        margin-left: 5px;
    }
    /* p02_081_s2 끝 */



    /* p02_081_s3 시작 */
    .p02_081_s3 .box>ul {
        width: 188px;
        height: 124px;
    }

    .p02_081_s3 .box>ul>li~li {
        width: 37px;
        height: 37px;
    }

    /* 첫번째 줄 (마지막줄을 기준으로) */
    .p02_081_s3 .box>ul>li:first-of-type {
        width: 55px;
        height: 55px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(2) {
        right: 56px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(3) {
        right: 95px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(4) {
        bottom: 0;
        left: 0;
    }

    /* 두번째 줄 */
    .p02_081_s3 .box>ul>li:nth-of-type(5) {
        top: 21px;
        right: 3px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(6) {
        top: 31px;
        right: 41px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(7) {
        top: 44px;
        left: 57px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(8) {
        top: 44px;
        left: 16px;
    }


    /* 세번째 줄 */
    .p02_081_s3 .box>ul>li:nth-of-type(9) {
        top: -2px;
        right: 62px;
    }

    .p02_081_s3 .box>ul>li:nth-of-type(10) {
        top: 10px;
        left: 36px;
    }
    /* p02_081_s3 끝 */


    /* p02_082_s3 시작 */
    .p02_082_s3 .ex_txt {
        grid-template: repeat(5, 48px) / repeat(5, 64px);
        border: 3px solid #68c7ed;
    }
    /* p02_082_s3 끝 */


    /* p02_083_s2 시작 */
    .p02_083_s2 .box>ul {
        width: 252px;
    }

    .p02_083_s2 .ans2 {
        width: 62px;
    }
    /* p02_083_s2 끝 */



    /* p02_084_s2 시작 */
    .p02_084_s2 .row .box>ul::after {
        top: 55px;
        left: -5px;
        width: 251px;
    }

    .p02_084_s2 .row .box>ul::before {
        bottom: -17px;
        left: -18px;
    }

    .p02_084_s2 .row li.plus span {
        top: 15px;
        left: 10px;
    }

    .p02_084_s2 .col .box>ul::after {
        top: 22px;
        right: -28px;
        height: 227px
    }

    .p02_084_s2 p.plus {
        top: 42%;
        right: -39px;
    }

    .p02_084_s2 .col li.plus span {
        top: 22px;
        left: -7px;
    }
    /* p02_084_s2 끝 */


    /* p02_090_s2 시작 */
    .p02_090_s2 .row .box>ul::after {
        top: 56px;
        width: 270px;
    }

    .p02_090_s2 .row .box>ul::before {
        bottom: -17px;
        left: 25px;
    }

    .p02_090_s2 .col .box>ul::after {
        top: 22px;
        right: -29px;
        height: 230px;
    }

    .p02_090_s2 p.minus {
        top: 43%;
        right: -40px;
    }

    .p02_090_s2 .row li.minus span {
        top: 15px;
        left: 17px;
    }

    .p02_090_s2 .col li.minus span {
        top: 30px;
        left: -18px;
    }
    /* p02_090_s2 끝 */




    /*------------------------------------*\
    #P3 (97 ~ 112)
    \*------------------------------------*/

    /* p03_097_s3 시작 */
    .p03_097_s3 .box {
        width: 228px;
    }

    .p03_097_s3 .box > ul > li {
        width: 44px;
        height: 44px;
    }

    .p03_097_s3 .box > ul:nth-of-type(n+2):nth-of-type(-n+3) > li::before, 
    .p03_097_s3 .box > ul:nth-of-type(-n+2) > li::after {
        width: 3px;
        height: 3px;
    }

    .p03_097_s3 .sign {
        width: 182px;
    }

    .p03_097_s3 .sign > li {
        width: 32px;
        height: 32px;
        border: 3px solid #54c3f1;
    }

    .p03_097_s3 .sign::before,
    .p03_097_s3 .sign::after {
        height: 28px;
    }

    /* 애니메이션 */
    .p03_097_s3 .line-box.left > div {
        left: 50px;
    }

    .p03_097_s3 .line-box.right > div {
        left: 140px;
    }

    .p03_097_s3 .line-box .left-top,
    .p03_097_s3 .line-box .right-top {
        top: 68px;
    }

    .p03_097_s3 .line-box .left-middle,
    .p03_097_s3 .line-box .right-middle {
        top: 113px;
    }

    .p03_097_s3 .line-box .left-bottom,
    .p03_097_s3 .line-box .right-bottom {
        top: 157px;
    }

    /* 길이 */
    @keyframes p03_097_s3-line-straight {
        to {
            width: 40px;
        }
    }

    @keyframes p03_097_s3-line-top-up1 {
        to {
            width: 64px;
        }
    }

    @keyframes p03_097_s3-line-top-up2 {
        to {
            width: 110px;
        }
    }

    .p03_097_s3 .box > ul:last-of-type {
        top: 26%;
    }
    /* p03_097_s3 끝 */


    /* p03_098_s2 시작 */
    .p03_098_s2 .box > ul {
        width: 120px;
        margin-bottom: 6px;
    }

    .p03_098_s2 .box > ul::after {
        bottom: 2px;
    }
    /* p03_098_s2 끝 */


    /* p03_098_s3 시작 */
    .p03_098_s3 ul.exbox-default-style {
        width: 114px;
        height: 44px;
        margin-bottom: 16px;
    }

    .p03_098_s3 .ex_txt {
        width: 148px;
    }

    .p03_098_s3 .ex_txt > li:nth-last-of-type(3) {
        margin-bottom: 12px;
    }

    .p03_098_s3 .exbox-default-style > li ~ li {
        margin-left: 18px;
    }
    /* p03_098_s3 끝 */


    /* p03_099_s2 시작 */
    .p03_099_s2 .row .ex_txt > li:first-of-type,
    .p03_099_s2 .row .ex_txt > li:nth-of-type(3) {
        width: 32px;
    }

    .p03_099_s2 .row .wrap {
        background: url(../../images/s01_006_s2_line1.svg) no-repeat left center/ 6.8%;
    }

    .p03_099_s2 .col .ex_txt {
        width: 112px;
    }

    .p03_099_s2 .col .ex_txt::after {
        top: 52%;
    }

    .p03_099_s2 .col .wrap > ul ~ ul {
        margin-left: 12px;
    }

    .p03_099_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }

    /* p03_099_s2 끝 */


    /* p03_100_s2 시작 */
    .p03_100_s2 .col .ex_txt {
        width: 114px;
    }

    .p03_100_s2 .col .ex_txt::after {
        top: 73%;
    }

    .p03_100_s2 .col .ex_txt > li:last-of-type {
        margin-top: 7px;
    }

    .p03_100_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }
    /* p03_100_s2 끝 */


    /* p03_102_s2 끝 */
    .p03_102_s2 .ans2 {
        width: 74px;
    }
    /* p03_102_s2 끝 */


    /* p03_103_s2 시작 */
    .p03_103_s2 .ans2 {
        width: 64px;
    }

    .p03_103_s2 ul.ex_txt {
        width: 104px;
        margin-bottom: 16px;
    }

    .p03_103_s2 .col .ans2 {
        width: 104px;
    }

    .p03_103_s2 .col div.ex_txt {
        width: 116px;
    }

    .p03_103_s2 ul.ex_txt > li ~ li {
        margin-left: 16px;
    }
    /* p03_103_s2 끝 */


    /* p03_103_s3 : s03_040_s3와 동일 시작 */
    .p03_103_s3 .wrap ul > li.on::after {
        width: 30px;
        height: 30px;
    }

    .p03_103_s3 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .p03_103_s3 .wrap ul  {
        width: 148px;
        height: 148px;
    }

    .p03_103_s3 .wrap {
        width: 198px;
    }

    .p03_103_s3 .wrap .exbox-default-style::after {
        height: 72px;
    }
    /* p03_103_s3 끝 */


    /* s03_041_s2 시작 */
    .s03_041_s2 .qbox>li {
        display: block;
    }

    .s03_041_s2 .ans {
        width: 52px;
        height: 52px;
    }

    .s03_041_s2 .wrap>ul {
        width: 114px;
        height: 114px;
    }

    .s03_041_s2 .wrap>ul>li {
        width: 42px;
        height: 42px;
    }

    .s03_041_s2 .wrap>ul>li:nth-of-type(2n) {
        margin-left: 6px;
    }

    .s03_041_s2 .wrap>div {
        width: 338px;
    }
    /* s03_041_s2 끝 */


    /* p03_105_s2 시작 */
    .p03_105_s2 .col .ex_txt::after {
        top: 51%;
    }

    .p03_105_s2 .col .ex_txt {
        width: 120px;
    }

    .p03_105_s2 .col .ex_txt > li {
        letter-spacing: 20px;
    }

    .p03_105_s2 .col .ex_txt > li:last-of-type {
        margin-top: 9px;
    }
    /* p03_105_s2 끝 */


    /* p03_105_s3 시작 */
    .p03_105_s3 .txt > li {
        width: 192px;
        height: 80px;
    }

    .p03_105_s3 .ex_txt > li {
        width: 200px;
        height: 80px;
    }

    .p03_105_s3 .txt > li ~ li, 
    .p03_105_s3 .ex_txt > li ~ li {
        margin-top: 24px;
    }

    .p03_105_s3 .ex_txt > li::before {
        left: -8px;
    }

    .p03_105_s3 .ex_txt > li > div > div ~ div    {
        margin-left: 4px;
    }

    .p03_105_s3 .line-box > div {
        left: 190px;
    }

    .p03_105_s3 .line-box .top {
        top: 39px;
    }

    .p03_105_s3 .line-box .middle1 {
        top: 144px;
    }

    .p03_105_s3 .line-box .middle2 {
        top: 247px;
    }

    .p03_105_s3 .line-box .bottom {
        top: 351px;
    }

    .p03_105_s3 .line-top-up1 {
        transform: rotate(-39.5deg);
    }

    .p03_105_s3 .line-top-up2 {
        transform: rotate(-58.5deg);
    }

    .p03_105_s3 .line-top-up3 {
        transform: rotate(-68deg);
    }

    .p03_105_s3 .line-bottom-down1 {
        transform: rotate(39.5deg);
    }

    .p03_105_s3 .line-bottom-down2 {
        transform: rotate(58.5deg);
    }

    .p03_105_s3 .line-bottom-down3 {
        transform: rotate(68deg);
    }

    @keyframes p03_105_s3-line-straight {
        to {
            width: 126px;
        }
    }

    @keyframes p03_105_s3-line-top-up1 {
        to {
            width: 160px;
        }
    }

    @keyframes p03_105_s3-line-top-up2 {
        to {
            width: 240px;
        }
    }

    @keyframes p03_105_s3-line-top-up3 {
        to {
            width: 340px;
        }
    }
    /* p03_105_s3 끝 */


    /* p03_106_s3 시작 */
    .p03_106_s3 .pocket > ul > li {
        width: 28px;
        height: 28px;
    }

    .p03_106_s3 .pocket > ul {
        padding: 26px 14px 7px;
    }

    .p03_106_s3 div.ex_txt > ul > li ~ li {
        margin-left: 4px;
    }
    /* p03_106_s3 끝 */


    /* p03_107_s2 시작 */
    .p03_107_s2 .ans2 {
        width: 74px;
    }

    .p03_107_s2 .exbox-default-style > li {
        width: 52px;
        height: 44px;
    }

    .p03_107_s2 .exbox-default-style {
        margin-right: 28px;
    }

    .p03_107_s2 .wrap > div > div ~ div {
        margin-top: 16px;
    }

    .p03_107_s2 .wrap > div > div:first-of-type::after {
        top: 10px;
        right: 71px;
    }

    .p03_107_s2 .wrap > div > div:last-of-type::after {
        top: -19px;
        right: 71px;
    }
    /* p03_107_s2 끝 */


    /* p03_107_s3 : s01_015_s3 동일 */
    .p03_107_s3 .box {
        width: 240px;
    }

    .p03_107_s3 .wrap>ul {
        width: 128px;
        height: 128px;
        border-radius: 16px;
    }

    .p03_107_s3 .wrap>dl>div {
        width: 48px;
    }

    .p03_107_s3 .wrap {
        height: 136px;
    }

    .p03_107_s3 ul.ex_txt > li.on::after {
        width: 36px;
        height: 36px;
    }
    /* p03_107_s3 끝 */


    /* p03_108_s2 시작 */
    .p03_108_s2 .qbox > li > ul:first-of-type > li,
    .p03_108_s2 .fake-ans {
        width: 42px;
        height: 42px;
    }

    .p03_108_s2 .qbox > li > ul:first-of-type {
        padding: 8px;
    }

    .p03_108_s2 .wrap > li > ul > li ~ li {
        margin-left: 4px;
    }

    .p03_108_s2 .wrap > li {
        margin-top: 12px;
    }

    .p03_108_s2 .sign {
        width: 12px;
    }

    /* p03_108_s2 끝 */


    /* p03_108_s3 시작 */
    .p03_108_s3 .bee_bg {
        width: 200px;
        height: 144px;
    }

    .p03_108_s3 ul.ex_txt {
        padding-top: 14px;
    }

    .p03_108_s3 ul.ex_txt > li {
        height: 30px;
    }

    .p03_108_s3 ul.ex_txt > li:first-of-type, 
    .p03_108_s3 ul.ex_txt > li:nth-last-of-type(2) {
        margin-left: 24px;
    }

    .p03_108_s3 ul.ex_txt li.on::after {
        width: 30px;
        height: 30px;
    }

    /* 애니메이션 */
    .p03_108_s3 ul.ex_txt > li:nth-of-type(n+3) {
        margin-top: 13px;
    }

    .p03_108_s3 .line-start {
        left: 25px;
        top: 71px;
    }

    @keyframes p03_108_s3-line-start {
        to {
            width: 50px;
        }
    }

    /* 1번 */
    .p03_108_s3 .line-1_2 {
        left: 149px;
        top: 29px;
    }

    .p03_108_s3 .line-1_3 {
        left: 75px;
        top: 72px;
    }

    .p03_108_s3 .line-1_4 {
        left: 125px;
        top: 72px;
    }

    /* 2번 */
    .p03_108_s3 .line-2_1 {
        left: 100px;
        top: 29px;
    }

    .p03_108_s3 .line-2_4 {
        left: 125px;
        top: 72px;
    }

    .p03_108_s3 .line-2_5 {
        left: 174px;
        top: 72px;
    }

    /* 3번 */
    .p03_108_s3 .line-3_1 {
        left: 100px;
        top: 29px;
    }

    .p03_108_s3 .line-3_4 {
        left: 125px;
        top: 71px;
    }

    .p03_108_s3 .line-3_6 {
        left: 100px;
        top: 115px;
    }

    /* 4번 */
    .p03_108_s3 .line-4_1 {
        left: 100px;
        top: 28px;
    }

    .p03_108_s3 .line-4_2 {
        left: 149px;
        top: 28px;
    }

    .p03_108_s3 .line-4_3 {
        left: 75px;
        top: 71px;
    }

    .p03_108_s3 .line-4_5 {
        left: 175px;
        top: 71px;
    }

    .p03_108_s3 .line-4_6 {
        left: 100px;
        top: 114px;
    }

    .p03_108_s3 .line-4_7 {
        left: 149px;
        top: 115px;
    }

    /* 5번 */
    .p03_108_s3 .line-5_2 {
        left: 150px;
        top: 29px;
    }

    .p03_108_s3 .line-5_4 {
        left: 123px;
        top: 71px;
    }

    .p03_108_s3 .line-5_7 {
        left: 149px;
        top: 115px;
    }

    /* 6번 */
    .p03_108_s3 .line-6_3 {
        left: 76px;
        top: 71px;
    }

    .p03_108_s3 .line-6_4 {
        left: 125px;
        top: 71px;
    }

    .p03_108_s3 .line-6_7 {
        left: 149px;
        top: 115px;
    }

    /* 7번 */
    .p03_108_s3 .line-7_4 {
        left: 124px;
        top: 71px;
    }

    .p03_108_s3 .line-7_5 {
        left: 173px;
        top: 71px;
    }

    .p03_108_s3 .line-7_6 {
        left: 100px;
        top: 115px;
    }
    /* p03_108_s3 끝 */


    /* p03_109_s2 시작 */
    .p03_109_s2 .ans2 {
        width: 64px;
    }

    .p03_109_s2 .qbox > li:nth-of-type(even) {
        padding-left: 12px;
    }

    .p03_109_s2 .ex_txt > div ~ div, 
    .p03_109_s2 .bottom > div ~ div {
        margin-left: 4px;
    }

    .p03_109_s2 .qbox > li:nth-of-type(-n+2) .bottom {
        margin-left: 101px;
    }

    .p03_109_s2 .qbox > li:nth-of-type(-n+2) > div:last-of-type::after {
        width: 50px;
        left: 16px;
    }

    .p03_109_s2 .ex_txt::after {
        top: 41px;
        height: 8px;
    }

    .p03_109_s2 .qbox > li:nth-of-type(n+3):nth-of-type(-n+4) .bottom {
        margin-left: 103px;
    }

    .p03_109_s2 .qbox > li:nth-of-type(n+3):nth-of-type(-n+4) > div:last-of-type::after {
        left: 17px;
    }
    /* p03_109_s2 끝 */


    /* p03_109_s3 : s03_040_s2와 동일 시작 */
    .p03_109_s3 .wrap>ul {
        width: 168px;
        height: 114px;
    }

    .p03_109_s3 .wrap {
        width: 215px;
    }

    .p03_109_s3 .directions .exbox-default-style {
        width: 18px;
        height: 18px;
    }

    .p03_109_s3 .wrap>div.exbox-default-style::after {
        width: 60px;
        height: 72px;
    }

    .p03_109_s3 .wrap ul > li.on::after {
        width: 26px;
        height: 26px;
    }
    /* p03_109_s3 끝 */


    /* p03_110_s2 시작 */
    .p03_110_s2 .ans2 {
        width: 64px;
    }

    .p03_110_s2 .qbox > li:nth-of-type(even) {
        padding-left: 12px;
    }

    .p03_110_s2 .qbox > li:nth-of-type(1) .bottom,
    .p03_110_s2 .qbox > li:nth-of-type(3) .bottom {
        margin-left: 100px;
    }

    .p03_110_s2 .qbox > li:nth-of-type(2) .bottom,
    .p03_110_s2 .qbox > li:nth-of-type(4) .bottom {
        margin-left: 102px;
    }

    .p03_110_s2 .qbox > li:nth-of-type(1) > div:last-of-type::after, 
    .p03_110_s2 .qbox > li:nth-of-type(3) > div:last-of-type::after {
        width: 43px;
        left: 14px;
    }

    .p03_110_s2 .ex_txt::after {
        top: 40px;
    }

    .p03_110_s2 .qbox > li:nth-of-type(2) > div:last-of-type::after, 
    .p03_110_s2 .qbox > li:nth-of-type(4) > div:last-of-type::after {
        left: 54px;
    }
    /* p03_110_s2 끝 */


    /* p03_111_s3 시작 */
    .p03_111_s2 .ans2 {
        width: 64px;
    }

    .p03_111_s2 .qbox > li:nth-of-type(even) {
        padding-left: 12px;
    }

    .p03_111_s2 .ex_txt > div ~ div, 
    .p03_111_s2 .bottom > div ~ div {
        margin-left: 4px;
    }

    .p03_111_s2 .qbox > li:nth-of-type(-n+4) .bottom {
        margin-left: 98px;
    }

    .p03_111_s2 .ex_txt::after {
        top: 42px;
    }

    .p03_111_s2 .qbox > li:nth-of-type(1) > div:last-of-type::after,
    .p03_111_s2 .qbox > li:nth-of-type(3) > div:last-of-type::after {
        left: 13px;
    }

    .p03_111_s2 .qbox > li:nth-of-type(2) > div:last-of-type::after,
    .p03_111_s2 .qbox > li:nth-of-type(4) > div:last-of-type::after {
        left: 52px;
    }
    /* p03_111_s3 끝 */


    /* p03_112_s2 시작 */
    .p03_112_s2 div.ex_txt {
        top: 57px;
        width: 167px;
        height: 45px;
    }

    .p03_112_s2 ul.ex_txt {
        margin-top: 8px;
    }

    .p03_112_s2 ul.ex_txt .sign-number {
        margin-bottom: 12px;
        padding: 0 2px 8px;
        background: url(../../images/s04_064_s2_shape1.svg) no-repeat center 21px / 84%;
    }
    /* p03_112_s2 끝 */


    /* p03_112_s3 시작 */
    .p03_112_s3 .ans2 {
        width: 64px;
    }

    .p03_112_s3 .box>ul:first-of-type,
    .p03_112_s3 .box>ul:last-of-type {
        width: 214px;
    }

    .p03_112_s3 .ex_txt {
        width: 174px;
        height: 126px;
    }

    .p03_112_s3 .exbox-default-style {
        width: 58px;
        height: 42px;
    }

    .p03_112_s3 .type1>li:first-of-type {
        top: 52px;
        left: 35px;
    }

    .p03_112_s3 .type1>li:last-of-type {
        top: 16px;
        right: 38px;
    }

    .p03_112_s3 .type2>li:first-of-type {
        top: 16px;
        left: 36px;
    }

    .p03_112_s3 .type2>li:last-of-type {
        top: 53px;
        right: 39px;
    }
    /* p03_112_s3 시작 */


    /*------------------------------------*\
    #P4 (113 ~ 128)
    \*------------------------------------*/

    /* p04_113_s3 시작 */
    .p04_113_s3 .wrap {
        width: 192px;
    }

    .p04_113_s3 .box > div ~ div {
        margin-left: 30px;
    }

    .p04_113_s3 .wrap > div:nth-of-type(2) > div::after {
        top: 52px;
        left: 10px;
        width: 112px;
        height: 24px;
    }

    .p04_113_s3 .wrap > div:first-of-type::after {
        top: 52px;
        left: -16px;
        height: 25px;
    }

    .p04_113_s3 .wrap > div {
        margin-bottom: 24px;
    }

    .p04_114_s3 ul.exbox-default-style {
        width: 112px;
        height: 44px;
        margin-bottom: 14px;
    }

    .p04_114_s3 .exbox-default-style > li ~ li {
        margin-left: 16px;
    }

    .p04_114_s3 .ex_txt {
        width: 140px;
    }

    .p04_114_s3 .ex_txt {
        grid-gap: 4px;
    }

    .p04_114_s3 span.exbox-default-style {
        width: 30px;
        height: 14px;
    }
    /* p04_113_s3 끝 */


    /* p04_115_s3 시작 */
    .p04_115_s3 .wrap>div:last-of-type ul {
        grid-template: repeat(3, 44px) / repeat(3, 56px);
    }

    .p04_115_s3 .example {
        width: 168px;
        height: 46px;
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-width: 6px;
    }

    .p04_115_s3 .example>li {
        width: 36px;
        height: 36px;
    }

    .p04_115_s3 .wrap {
        margin-left: 26px;
    }

    .p04_115_s3 .wrap ul:first-of-type > li {
        font-size: 1.8rem;
    }
    /* p04_115_s3 끝 */


    /* p04_116_s2 시작 */
    .p04_116_s2 ul.ex_txt > li {
        width: 44px;
        height: 44px;
    }

    .p04_116_s2 ul.ex_txt > li ~ li {
        margin-left: 8px;
    }

    .p04_116_s2 ul.ex_txt {
        margin-bottom: 16px;
    }

    .p04_116_s2 div.ex_txt > ul > li ~ li {
        margin-left: 3px;
    }
    /* p04_116_s2 끝 */


    /* p04_116_s3 시작 */
    .p04_116_s3 .wrap {
        width: 220px;
    }

    .p04_116_s3 .exbox-default-style,
    .p04_116_s3 .txt-box {
        left: 38.8%;
        width: 50px;
        height: 184px;
    }

    .p04_116_s3 div.ex_txt {
        width: 46px;
        height: 46px;
        border: 3px solid #a89f99;
    }

    /* 애니메이션 */
    .p04_116_s3 .line-box > div {
        top: 91px
    }

    /* left */
    .p04_116_s3 .line-left-top {
        transform: rotate(-47.5deg);
    }

    @keyframes p04_116_s3-line-left-top {
        to {
            width: 100px;
        }
    }

    .p04_116_s3 .line-left-middle1 {
        transform: rotate(-19.5deg);
    }

    .p04_116_s3 .line-left-middle2 {
        transform: rotate(19.5deg);
    }

    .p04_116_s3 .line-left-bottom {
        transform: rotate(47.5deg);
    }

    .p04_116_s3 .line-right-top {
        transform: rotate(47.5deg);
    }

    /* right */
    .p04_116_s3 .line-right-top {
        transform: rotate(227deg);
    }

    .p04_116_s3 .line-right-middle1 {
        transform: rotate(199deg);
    }

    .p04_116_s3 .line-right-middle2 {
        transform: rotate(-199deg);
    }

    .p04_116_s3 .line-right-bottom {
        transform: rotate(-227deg);
    }



    /* position */
    .p04_116_s3 .line-box.left > div  {
        left: 23px;
    }

    .p04_116_s3 .line-box.right > div  {
        left: 199px;
    }
    /* p04_116_s3 끝 */


    /* p04_118_s2 시작 */
    .p03_098_s2 .box > ul > li {
        padding-right: 4px;
        letter-spacing: 23px;
    }
    /* p04_118_s2 끝 */


    /* p04_120_s3 시작 */
    .p04_120_s3 .ans2 {
        width: 74px;
    }

    .p04_120_s3 .wrap > ul:nth-of-type(n+2):nth-of-type(-n+4) > li ~ li {
        margin-left: 52px;
    }

    .p04_120_s3 .wrap > ul ~ ul, .p04_120_s3 .wrap > div {
        margin-top: 6px;
    }

    .p04_120_s3 .wrap > ul:first-of-type::after {
        left: 34px;
    }

    .p04_120_s3 .wrap > ul:nth-of-type(2)::after {
        left: 39px;
    }

    .p04_120_s3 .wrap > ul:nth-of-type(3)::after {
        left: 40px;
    }

    .p04_120_s3 .wrap > ul:nth-of-type(4)::after {
        left: 39px;
    }

    .p04_120_s3 .wrap > ul::after {
        bottom: -26px;
        height: 25px;
    }
    /* p04_120_s3 끝 */


    /* p04_121_s2 : p03_105_s2 동일 */


    /* p04_121_s3 시작 */
    .p04_121_s3 .txt > li {
        width: 169px;
        height: 60px;
        padding: 8px;
    }

    .p04_121_s3 .ex_txt > li {
        width: 200px;
        height: 76px;
    }

    .p04_121_s3 table {
        margin: 0 auto 28px;
    }

    /* 애니메이션 */
    .p04_121_s3 .line-box > div {
        left: 169px;
    }

    /* 직선 */
    .p04_121_s3 .line-straight {
        animation: p04_121_s3-line-straight .2s linear alternate forwards;
    }

    @keyframes p04_121_s3-line-straight {
        to {
            width: 154px;
        }
    }

    /* 대각선 위로 한칸 */
    .p04_121_s3 .line-top-up1 {
        transform: rotate(-31.5deg);

    }

    @keyframes p04_121_s3-line-top-up1 {
        to {
            width: 180px;
        }
    }

    /* 대각선 위로 두칸 */
    .p04_121_s3 .line-top-up2 {
        transform: rotate(-50.5deg);

    }

    @keyframes p04_121_s3-line-top-up2 {
        to {
            width: 240px;
        }
    }

    /* 대각선 위로 세칸 */
    .p04_121_s3 .line-top-up3 {
        transform: rotate(-61.5deg);

    }

    @keyframes p04_121_s3-line-top-up3 {
        to {
            width: 320px;
        }
    }

    /* 대각선 아래로 한칸 */
    .p04_121_s3 .line-bottom-down1 {
        transform: rotate(31.5deg);

    }

    /* 대각선 아래로 두칸 */
    .p04_121_s3 .line-bottom-down2 {
        transform: rotate(50.5deg);

    }

    /* 대각선 아래로 두칸 */
    .p04_121_s3 .line-bottom-down3 {
        transform: rotate(61.5deg);

    }

    /* position */
    .p04_121_s3 .line-box .top {
        top: 159px;
    }

    .p04_121_s3 .line-box .middle1 {
        top: 252px;
    }

    .p04_121_s3 .line-box .middle2 {
        top: 343px;
    }

    .p04_121_s3 .line-box .bottom {
        top: 435px;
    }
    /* p04_121_s3 끝 */


    /* p04_122_s3 시작 */
    .p04_122_s3 .ex_txt > li ~ li {
        margin-left: 6px;
    }
    /* p04_122_s3 끝 */


    /* p04_124_s2 시작 */
    .p04_124_s2 .ans2 {
        width: 74px;
    } 

    .p04_124_s2 .qbox > li > .ex_txt > li {
        width: 42px;
        height: 42px;
    }

    .p04_124_s2 .box dt {
        width: 128px;
    }

    .p04_124_s2 .col div.ex_txt {
        width: 98px;
    }

    .p04_124_s2 .col p {
        margin-left: 26px;
    }
    /* p04_124_s2 끝 */


    /* p04_124_s3 시작 */
    .p04_124_s3 .ans-wrap > ul {
        grid-gap: 4px;
        width: 98px;
    }

    .p04_124_s3 .example > li {
        width: 44px;
        height: 44px;
    }

    .p04_124_s3 .sign {
        padding-bottom: 18px;
    }

    .p04_124_s3 .ans-wrap > ul > li:last-of-type {
        letter-spacing: 12px;
    }
    /* p04_124_s3 끝 */

    
    /* p04_125_s2 시작 */
    .p04_125_s2 .ans2 {
        width: 74px;
    }

    .p04_125_s2 .col .ex_txt::after {
        top: 62%;
    }
    /* p04_125_s2 끝 */


    /* p04_125_s3 시작 */
    .p04_125_s3 .directions img {
        width: 20px;
    }
    
    .p04_125_s3 p.ex_txt {
        top: 56.4%;
        left: 56.4%;
        width: 54px;
        height: 54px;
        padding-top: 6px;
    }

    .p04_125_s3 ul.ex_txt {
        width: 156px;
        height: 156px;
        margin-top: 40px;
    }

    .p04_125_s3 .item2,
    .p04_125_s3 .item3 {
        right: -15px;
    }

    .p04_125_s3 .item5,
    .p04_125_s3 .item6 {
        left: -15px;
    }

    /* 점 */
    .p04_125_s3 .item1::before {
        bottom: -14px;
        left: 15px;
    }

    .p04_125_s3 .item2::before {
        left: -14px;
        bottom: 1px;
    }

    .p04_125_s3 .item3::before {
        left: -14px;
    }

    .p04_125_s3 .item4::before {
        left: 15px;
    }

    .p04_125_s3 .item5::before {
        right: -12px;
    }

    .p04_125_s3 .item6::before {
        right: -12px;
        bottom: 1px;
    }

    /* 애니메이션 */
    /* 1번 */
    .p04_125_s3 .line-1_2  {
        top: 73px;
        right: -166px;
        transform: rotate(387.5deg);
    }

    .p04_125_s3 .line-1_3  {
        top: 158px;
        right: -166px;
        transform: rotate(421.5deg);
    }

    .p04_125_s3 .line-1_4 {
        top: 196px;
        right: -103px;
    }

    .p04_125_s3 .line-1_5  {
        top: 157px;
        right: -37px;
        transform: rotate(-241deg);
    }

    .p04_125_s3 .line-1_6  {
        top: 74px;
        right: -36px;
        transform: rotate(-207deg);
    }

    /* 2번 */
    .p04_125_s3 .line-2_1  {
        top: 39px;
        right: -101px;
        transform: rotate(208deg);
    }

    @keyframes p04_125_s3-line-2_1 {
        to {
            width: 74px;
        }
    }

    .p04_125_s3 .line-2_3 {
        top: 159px;
        right: -167px;
    }

    .p04_125_s3 .line-2_4  {
        top: 195px;
        right: -101px;
        transform: rotate(-241.5deg);
    }

    .p04_125_s3 .line-2_5  {
        top: 159px;
        right: -36px;
        transform: rotate(-213.5deg);
    }

    .p04_125_s3 .line-2_6 {
        top: 73px;
        right: -36px;
    }

    @keyframes p04_125_s3-line-2_6 {
        to {
            width: 130px;
        }
    }

    /* 3번 */
    .p04_125_s3 .line-3_1  {
        top: 39px;
        right: -102px;
        transform: rotate(241.5deg);
    }

    @keyframes p04_125_s3-line-3_1 {
        to {
            width: 136px;
        }
    }

    .p04_125_s3 .line-3_2 {
        top: 73px;
        right: -167px;
    }

    @keyframes p04_125_s3-line-3_2 {
        to {
            height: 86px;
        }
    }

    .p04_125_s3 .line-3_4  {
        top: 195px;
        right: -102px;
        transform: rotate(-210.5deg);
    }

    .p04_125_s3 .line-3_5 {
        top: 158px;
        right: -36px;
    }

    .p04_125_s3 .line-3_6  {
        top: 73px;
        right: -36px;
        transform: rotate(-147deg);
    }

    /* 4번 */
    .p04_125_s3 .line-4_1 {
        top: 40px;
        right: -103px;
    }

    @keyframes p04_125_s3-line-4_1 {
        to {
            height: 156px;
        }
    }

    .p04_125_s3 .line-4_2  {
        top: 73px;
        right: -165px;
        transform: rotate(297.5deg);
    }

    .p04_125_s3 .line-4_3  {
        top: 157px;
        right: -166px;
        transform: rotate(329.5deg);
    }

    .p04_125_s3 .line-4_5  {
        top: 159px;
        right: -36px;
        transform: rotate(-151.5deg);
    }

    .p04_125_s3 .line-4_6 {
        top: 74px;
        right: -36px;
        transform: rotate(-118.5deg);
    }

    /* 5번 */
    .p04_125_s3 .line-5_1  {
        top: 39px;
        right: -102px;
        transform: rotate(299.5deg);
    }

    .p04_125_s3 .line-5_2  {
        top: 72px;
        right: -166px;
        transform: rotate(326.5deg);
    }

    @keyframes p04_125_s3-line-5_2 {
        to {
            width: 156px;
        }
    }

    .p04_125_s3 .line-5_3 {
        top: 158px;
        right: -166px;
    }

    .p04_125_s3 .line-5_4  {
        top: 195px;
        right: -101px;
        transform: rotate(-331deg);
    }

    .p04_125_s3 .line-5_6 {
        top: 73px;
        right: -37px;
    }

    /* 6번 */
    .p04_125_s3 .line-6_1  {
        top: 39px;
        right: -102px;
        transform: rotate(332.5deg);
    }

    .p04_125_s3 .line-6_2 {
        top: 73px;
        right: -166px;
    }

    .p04_125_s3 .line-6_3  {
        top: 158px;
        right: -167px;
        transform: rotate(393deg);
    }

    .p04_125_s3 .line-6_4  {
        top: 193px;
        right: -102px;
        transform: rotate(-299deg);
    }

    .p04_125_s3 .line-6_5 {
        top: 159px;
        right: -37px;
    }
    /* p04_125_s3 끝 */


    /* p04_126_s2 시작 */
    .p04_126_s2 .qbox > li:nth-of-type(even) {
        padding-left: 8px;
    }

    .p04_126_s2 .ex_txt > div ~ div, 
    .p04_126_s2 .bottom > div ~ div {
        margin-left: 3px;
    }

    .p04_126_s2 .ans2 {
        width: 64px;
    }

    .p04_126_s2 .qbox > li:nth-of-type(1) > div:last-of-type::after, 
    .p04_126_s2 .qbox > li:nth-of-type(3) > div:last-of-type::after {
        width: 52px;
    }

    .p04_126_s2 .ex_txt::after {
        top: 39px;
        height: 9px;
    }

    .p04_126_s2 .qbox > li:nth-of-type(-n+4) .bottom {
        margin-left: 120px;
    }

    .p04_126_s2 .qbox > li:nth-of-type(2) > div:last-of-type::after, 
    .p04_126_s2 .qbox > li:nth-of-type(4) > div:last-of-type::after {
        left: 60px;
    }
    /* p04_126_s2 끝 */


    /* p04_128_s2 시작 */
    .p04_128_s2 div.ex_txt {
        top: 57px;
        width: 176px;
        height: 46px;
    }

    .p04_128_s2 ul.ex_txt {
        margin-top: 8px;
    }

    .p04_128_s2 ul.ex_txt .sign-number {
        margin-bottom: 12px;
        padding: 0 4px 10px;
        background: url(../../images/s04_064_s2_shape1.svg) no-repeat center 19px / 84%;
    }
    /* p04_128_s2 끝 */


    /* p04_128_s3 시작 */
    .p04_128_s3 .type1 > li:first-of-type {
        left: 30px;
    }

    .p04_128_s3 .type1>li:last-of-type {
        right: 35px;
    }

    .p04_128_s3 .type2>li:first-of-type {
        left: 31px;
    }

    .p04_128_s3 .type2>li:last-of-type {
        right: 36px;
    }
    /* p04_128_s3 끝 */



    
}